+include-style('index-hero')
+include-script('index-hero')
section.index-hero.fhd-container.no-animate
	//- img(src="/local/templates/html/images/index-hero.jpg" alt="")
	.index-hero__inner
		.index-hero__slider
			+swiper({
				container_mod: 'slider-fs__container',
				wrapper_mod: '',
				navigation: true,
				pagination: true,
			}).slider-fs.js-slider-fs
				.swiper-slide
					<picture class=" index-slider__img-wrap">
						<source  media="(min-width: 700px)"  srcset= '/local/templates/html/images/index-hero.jpg 1x, /local/templates/html/images/index-hero-2x.jpg 2x'>
						<source media="(min-width: 0px)"  srcset="/local/templates/html/images/index-hero-mobile.jpg 1x,/local/templates/html/images/index-hero-mobile-2x.jpg 2x">
						img(src="/local/templates/html/images/index-hero.jpg" alt="")
					</picture>
					.slider-content
						.container
							.slider-content__pretitle Тепловизор
							.slider-content__title Pulsar Axion
							.slider-content__descr Ограничен в размерах. <br>Безграничен в возможностях
							.slider-content__button
								a(href="#").btn.btn--icon.btn--primary Подробнее
				.swiper-slide
					<picture class=" index-slider__img-wrap">
						<source  media="(min-width: 700px)"  srcset= '/local/templates/html/images/index-hero.jpg 1x, /local/templates/html/images/index-hero-2x.jpg 2x'>
						<source media="(min-width: 0px)"  srcset="/local/templates/html/images/index-hero-mobile.jpg 1x,/local/templates/html/images/index-hero-mobile-2x.jpg 2x">
						img(src="/local/templates/html/images/index-hero.jpg" alt="")
					</picture>
					.slider-content
						.container
							.slider-content__pretitle Тепловизор
							.slider-content__title Pulsar Axion
							.slider-content__descr Ограничен в размерах. <br>Безграничен в возможностях
							.slider-content__button
								a(href="#").btn.btn--icon.btn--primary Подробнее
				.swiper-slide
					<picture class=" index-slider__img-wrap">
						<source  media="(min-width: 700px)"  srcset= '/local/templates/html/images/index-hero.jpg 1x, /local/templates/html/images/index-hero-2x.jpg 2x'>
						<source media="(min-width: 0px)"  srcset="/local/templates/html/images/index-hero-mobile.jpg 1x,/local/templates/html/images/index-hero-mobile-2x.jpg 2x">
						img(src="/local/templates/html/images/index-hero.jpg" alt="")
					</picture>
					.slider-content
						.container
							.slider-content__pretitle Тепловизор
							.slider-content__title Pulsar Axion
							.slider-content__descr Ограничен в размерах. <br>Безграничен в возможностях
							.slider-content__button
								a(href="#").btn.btn--icon.btn--primary Подробнее
				.swiper-slide
					<picture class=" index-slider__img-wrap">
						<source  media="(min-width: 700px)"  srcset= '/local/templates/html/images/index-hero.jpg 1x, /local/templates/html/images/index-hero-2x.jpg 2x'>
						<source media="(min-width: 0px)"  srcset="/local/templates/html/images/index-hero-mobile.jpg 1x,/local/templates/html/images/index-hero-mobile-2x.jpg 2x">
						img(src="/local/templates/html/images/index-hero.jpg" alt="")
					</picture>
					.slider-content
						.container
							.slider-content__pretitle Тепловизор
							.slider-content__title Pulsar Axion
							.slider-content__descr Ограничен в размерах. <br>Безграничен в возможностях
							.slider-content__button
								a(href="#").btn.btn--icon.btn--primary Подробнее
		.index-hero__nav-slider
			+swiper({
				wrapper_mod: '',
				container_mod: '',
				pagination_mod: '',
				arrow_prev_mod: 'slider-fancy-button-prev',
				arrow_next_mod: 'slider-fancy-button-next',
				pagination: false,
				navigation: false,
			}).slider-fs-nav.js-slider-fs-nav
				.swiper-slide
					<picture class=" index-slider__img-wrap">
						<source  media="(min-width: 768px)"  srcset= '/local/templates/html/images/index-hero.jpg'>
						<source media="(min-width: 0px)"  srcset="/local/templates/html/images/hero-slide-1-mobile.jpg">
						img(src="/local/templates/html/images/index-hero.jpg" alt="")
					</picture>
				.swiper-slide
					<picture class=" index-slider__img-wrap">
						<source  media="(min-width: 768px)"  srcset= '/local/templates/html/images/index-hero.jpg'>
						<source media="(min-width: 0px)"  srcset="/local/templates/html/images/hero-slide-1-mobile.jpg">
						img(src="/local/templates/html/images/index-hero.jpg" alt="")
					</picture>
				.swiper-slide
					<picture class=" index-slider__img-wrap">
						<source  media="(min-width: 768px)"  srcset= '/local/templates/html/images/index-hero.jpg'>
						<source media="(min-width: 0px)"  srcset="/local/templates/html/images/hero-slide-1-mobile.jpg">
						img(src="/local/templates/html/images/index-hero.jpg" alt="")
					</picture>
				.swiper-slide
					<picture class=" index-slider__img-wrap">
						<source  media="(min-width: 768px)"  srcset= '/local/templates/html/images/index-hero.jpg'>
						<source media="(min-width: 0px)"  srcset="/local/templates/html/images/hero-slide-1-mobile.jpg">
						img(src="/local/templates/html/images/index-hero.jpg" alt="")
					</picture>