@import "src/assets/css/vars_mixins/vars_mixins";

.index-hero {
	margin-top   : -85px;
	margin-bottom: 15px;

	&__inner {
		height    : 100vh;
		min-height: 700px;
		max-height: 1080px;
		position  : relative;


		@media (max-width: 700px) {
			padding-bottom: 120%;
			min-height    : auto;
			max-height    : none;
			height        : auto;
		}

		@media (max-width: 420px) {
			padding-bottom: 165%;
		}
	}

	&__slider {
		position   : absolute;
		top        : 0;
		left       : 0;
		right      : 0;
		bottom     : 0;
		z-index    : 1;
		display    : flex;
		align-items: center;

		.swiper-container {
			height: 100%;
		}

		.swiper-pagination {
			display: none;
			bottom : 35px;

			@media (max-width: $sm - 1) {
				display: flex;
			}
		}

		.swiper-navigation {
			bottom : 80px;
			z-index: 1;
			right  : 435px;

			.icon {
				fill: #fff;
			}

			@media (max-width: $lg - 1) {
				bottom: 40px;
				right : 315px;
			}

			@media (max-width: $sm - 1) {
				display: none;
			}
		}
	}

	.slider-fs {
		height: 100%;

		.swiper-slide {
			display        : flex;
			justify-content: center;
			align-items    : center;


			.index-slider__img-wrap {
				height: 100%;
				width : 100%;
			}

			img {
				width     : 100%;
				height    : 100%;
				object-fit: cover;
			}

		}
	}





	.slider-fs-button {
		position: absolute;
		bottom  : 13%;
		left    : 7.5%;

		@media (max-width: $sm - 1) {
			.btn.btn--primary {
				padding  : 0px;
				min-width: 143px;
			}

			max-width: 143px;
		}

	}

	&__nav-slider {
		position: absolute;
		bottom  : 80px;
		width   : 400px;
		right   : 0;

		@media (max-width: $lg - 1) {
			width : 280px;
			bottom: 40px;
		}

		@media (max-width: $sm - 1) {
			display: none;
		}

		.swiper-slide {
			width        : 216px;
			height       : 121px;
			border-radius: 3px;
			overflow     : hidden;
			border       : 1px solid transparent;

			@media (max-width: $lg - 1) {
				width : 150px;
				height: 84px;
			}

			&:hover {
				@media (min-width: 1024px) {
					cursor    : pointer;
					transition: all .3s ease;
					border    : 1px solid $c-primary-2;
				}
			}
		}

		.swiper-slide-thumb-active {
			pointer-events: none;
			border        : 1px solid $c-primary-2;
		}

	}
}


.inner-hero {
	margin-top   : -85px;
	margin-bottom: 70px;

	@media (max-width: $sm - 1) {
		margin-bottom: 38px;
		margin-top   : -48px;
	}

	&__inner {
		height    : 100vh;
		min-height: 700px;
		max-height: 1080px;
		position  : relative;

		@media (max-width: $sm - 1) {
			min-height: auto;
			max-height: none;

			height        : 632px;
			padding-bottom: 0px;
		}

	}

	&__img-wrap {
		position: absolute;
		top     : 0;
		right   : 0;
		bottom  : 0;
		left    : 0;

		img {
			width          : 100%;
			height         : 100%;
			object-fit     : cover;
			object-position: center bottom;
		}
	}

	&__content {
		position: absolute;
		left    : 0;
		right   : 0;
		bottom  : 15%;

		&>* {
			color: #fff;
		}
	}

	&__title {
		font-size  : 160px;
		font-weight: 700;
		font-family: $f-sec;
		line-height: 1.2;

		@media (max-width: $xl - 1) {
			font-size: 100px;
		}

		@media (max-width: $sm - 1) {
			font-size  : 80px;
			line-height: 0.875;

		}
	}

	&__subtitle {
		font-size : 24px;
		margin-top: 60px;

		@media (max-width: $xl - 1) {
			margin-top: 40px;
		}

		@media (max-width: $sm - 1) {
			font-size: 20px;
		}
	}

	&__get-in-touch {
		margin-top: 20px;

		@media (max-width: $sm - 1) {
			margin-top: 15px;
		}
	}

	&__control {




		.inner-hero__subtitle {
			color: #fff;
		}

		@media (max-width: $sm - 1) {
			.btn.btn--primary {
				padding  : 0px;
				min-width: 143px;
			}


		}
	}
}

.index-hero__inner--line {
	.index-slider__img-wrap {
		display: block;
		height : 100%;

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;
		}
	}
}

.inner-hero-mb {
	.inner-hero {
		margin-bottom: 15px;
	}
}

.inner-hero-product {
	background-color   : #001740;
	border-radius      : 2px;
	margin-bottom      : 0px;
	// height          : 1080px;
}

.inner-hero-accessories {
	margin-top : 0px;
	padding-top: 0px;

	.product-hero__one-click {
		color: $c-primary;


	}
}

.product-hero {
	padding-top   : 203px;
	position      : relative;
	padding-bottom: 90px;

	@media (max-width: $lg - 1) {
		padding-top: 150px;
	}

	@media (max-width: $sm - 1) {
		padding-top: 80px;
	}


	&__inner {
		display        : flex;
		flex-direction : column;
		align-items    : center;
		justify-content: center;
		position       : relative;
		padding        : 0px 16px;
	}

	&__subtitle {
		font-size: 24px;
		color    : #fff;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}

	&__title {
		font-size  : 130px;
		font-family: $f-sec;
		color      : #fff;
		position   : relative;
		display    : flex;
		align-items: flex-start;


		@media (max-width: $lg - 1) {
			font-size: 100px;
		}

		@media (max-width: $md - 1) {
			font-size: 70px;
		}

		@media (max-width: $sm - 1) {
			font-size : 40px;
			text-align: center;
		}
	}

	&__label {
		display    : flex;
		margin-left: 15px;
		margin-top : 30px;

		@media (max-width: $sm - 1) {
			max-width : 32px;
			margin-top: 0px;
		}
	}

	&__slider-wrap {
		width   : 100%;
		position: relative;

		&:before {
			position  : absolute;
			content   : '';
			top       : 0;
			left      : 0;
			right     : 0;
			bottom    : 0;
			background: radial-gradient(50% 50% at 50% 50%, #005DA6 0%, rgba(10, 60, 100, 0) 100%);
			z-index   : 0;
		}
	}

	&__slider {
		height    : 376px;
		width     : 580px;
		margin    : auto;
		margin-top: 30px;
		position  : relative;

		@media (max-width: $md - 1) {
			width : 400px;
			height: 260px;
		}

		@media (max-width: $sm - 1) {
			width : 306px;
			height: 198px;
		}

		@media (max-width: 575px) {
			width: 100%;
		}

		.swiper {
			width : 100%;
			height: 100%;

		}

		.swiper-container {
			width : 100%;
			height: 100%;
		}

		.swiper-slide {
			display        : flex;
			justify-content: center;
			align-items    : center;

			img {
				max-width : 100%;
				max-height: 100%;
			}
		}


		.swiper-navigation {
			position: static;
		}

		.swiper-button-prev {
			position : absolute;
			left     : -180px;
			top      : 50%;
			transform: translateY(-50%);
			border   : 1px solid rgba(255, 255, 255, 0.2);

			.icon {
				fill: #fff;
			}
		}

		.swiper-button-next {
			position : absolute;
			right    : -180px;
			top      : 50%;
			transform: translateY(-50%);
			border   : 1px solid rgba(255, 255, 255, 0.2);

			.icon {
				fill: #fff;
			}

		}

		.swiper-pagination {
			display: none;

			@media (max-width: $sm - 1) {
				display: flex;
				bottom : -25px;
			}
		}
	}

	&__img-wrap {
		display        : flex;
		justify-content: center;
		align-items    : center;
		height         : 100%;
	}

	&__nav-slider {
		max-width: 670px;

		margin    : auto;
		margin-top: 40px;

		@media (max-width: $sm - 1) {
			display: none;
		}

		.swiper-slide {
			height         : 79px;
			display        : flex;
			align-items    : center;
			justify-content: center;
			border         : 1px solid transparent;
			border-radius  : 3px;

			&-thumb-active {
				border-color: $c-primary-2;
			}

			&:hover {
				@media (min-width: 1024px) {
					cursor: pointer;
				}
			}

			img {
				max-width : 100%;
				max-height: 100%;
			}
		}
	}

	&__footer {
		display    : flex;
		align-items: center;
		margin-top : 70px;

		@media (max-width: $md - 1) {
			flex-direction: column;
		}
	}

	&__price-wrap {
		color       : #fff;
		display     : flex;
		align-items : flex-end;
		margin-right: 30px;

		@media (max-width: $md - 1) {
			margin-right: 0px;
		}

	}

	&__price {
		font-size  : 32px;
		font-weight: 500;
	}

	&__price-val {
		padding-left : 10px;
		font-size    : 24px;
		font-weight  : 500;
		margin-bottom: 3px;
	}

	&__get-in-touch {
		.get-in-touch {
			height: 60px;
			width : 243px;
		}
	}

	&__one-click {
		border         : 1px solid #005DA6;
		box-sizing     : border-box;
		filter         : drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
		border-radius  : 3px;
		width          : 190px;
		display        : flex;
		align-items    : center;
		justify-content: center;
		font-size      : 16px;
		color          : #fff;
		margin-right   : 27px;
		height         : 100%;
		height         : 60px;
		transition     : all .3s ease;

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color : $c-primary-2;
			}
		}

		@media (max-width: $md - 1) {
			margin-bottom: 20px;
			margin-right : 0px;
			width        : 100%;
			max-width    : 243px;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor      : pointer;
				border-color: $c-primary-2;
			}
		}
	}

	&__control {
		padding         : 10px 24px;
		background-color: $c-primary;
		height          : 60px;
		display         : flex;
		align-items     : center;
		font-size       : 16px;
		color           : #fff;
		margin-right    : 32px;
		border-radius   : 2px;
		transition      : all .3s ease;

		@media (max-width: $md - 1) {
			margin-right : 0px;
			max-width    : 243px;
			padding      : 10px 20px;
			margin-bottom: 20px;
			width        : 100%;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor          : pointer;
				background-color: $c-primary-2;
			}
		}

		.icon {
			fill        : #fff;
			margin-right: 19px;
		}
	}

	&__availability {
		display    : flex;
		align-items: center;
		color      : #fff;

		span {
			font-size  : 16px;
			margin-left: 12px;
		}

		margin-right: 30px;

		@media (max-width: $md - 1) {
			margin-right: 15px;
		}
	}

	&__mob-flex {
		display    : flex;
		align-items: center;

		@media (max-width: $md - 1) {
			margin-bottom: 14px;
		}
	}
}

.product-hero--accessories {
	padding-top   : 0px;
	padding-bottom: 0px;

	.product-hero__inner {
		background    : #FFFFFF;
		border        : 1px solid #005DA6;
		box-sizing    : border-box;
		box-shadow    : 0px 4px 50px rgba(0, 0, 0, 0.1);
		border-radius : 2px;
		margin-bottom : 62px;
		padding-top   : 80px;
		padding-bottom: 48px;

		@media (max-width: $sm - 1) {
			padding-top: 27px;
		}
	}

	.product-hero__slider-wrap:before {
		display: none;
	}

	.product-hero__slider {
		margin-top: 0px;
	}

	.product-hero__get-in-touch {
		.get-in-touch {
			border-color: inherit;

			&:hover {
				@media (min-width: 1024px) {
					cursor      : pointer;
					border-color: $c-primary-2;
				}
			}
		}

		.get-in-touch__title {
			color: inherit;
		}

		.icon {
			fill: inherit;
		}

		.get-in-touch__item {
			&:hover {
				@media (min-width: 1024px) {
					cursor: pointer;

					.icon {
						fill: $c-primary-2;
					}
				}
			}
		}
	}

	.product-hero__price-wrap,
	.product-hero__availability {
		color: inherit;
	}

	.swiper-button-prev,
	.swiper-button-next {
		border       : 1px solid rgba(35, 31, 32, 0.2);
		box-sizing   : border-box;
		filter       : drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
		border-radius: 3px;

		.icon {
			fill: inherit;
		}
	}

	.swiper-pagination-bullet {
		width: 17px;

		&:after {
			background-color: rgba(210, 210, 210, 0.5);

		}


		&-active {
			&:after {
				background-color: $c-primary-2;
			}

		}
	}
}


.slider-content {
	position: absolute;
	z-index : 1;
	left    : 0;
	right   : 0;
	color   : #fff;

	&__pretitle {
		font-size    : 24px;
		margin-bottom: 20px;

		@media (max-width: $md - 1) {
			font-size: 20px;
		}
	}

	&__title {
		font-size    : 160px;
		line-height  : 0.8;
		font-family  : $f-sec;
		font-weight  : 700;
		margin-bottom: 30px;

		@media (max-width: $xl - 1) {
			font-size: 120px;
		}

		@media (max-width: $md - 1) {
			font-size: 100px;
		}

		@media (max-width: $sm - 1) {
			font-size: 80px;
		}

		@media (max-width: 375px) {
			font-size: 60px;
		}
	}

	&__descr {
		font-size: 24px;

		@media (max-width: $md - 1) {
			font-size: 20px;
		}
	}

	&__button {
		margin-top: 45px;

		@media (max-width: $md - 1) {
			margin-top: 42px;
		}
	}
}

.index-hero {
	.slider-content {
		bottom: 25%;

		@media (max-width: $lg - 1) {
			bottom: 20%;
		}

		@media (max-width: $sm - 1) {
			bottom: 15%;
		}
	}
}

.index-hero__inner--line {
	.slider-content {
		bottom: 15%;

		@media (max-width: $lg - 1) {
			bottom: 10%;
		}
	}
}