+include-style('phones-list')
.phones-list
	.phones-list__item
		.phones-list__icon
			+icon('i-phone')(style="width: 18px; height: 18px")
		a(href="tel:+375173364044").phones-list__link +375173364044
	.phones-list__item
		.phones-list__icon
			+icon('i-a1')(style="width: 24px; height: 24px")
		a(href="tel:+375173364044").phones-list__link +375173364044
	.phones-list__item
		.phones-list__icon
			+icon('i-mts')(style="width: 54px; height: 14px")
		a(href="tel:+375173364044").phones-list__link +375173364044
	.phones-list__item
		.phones-list__icon
			+icon('i-life')(style="width: 47px; height: 30px")
		a(href="tel:+375173364044").phones-list__link +375173364044
	a(href="mailto:faster@gmail.com").phones-list__mail Faster@gmail.com