@import "src/assets/css/vars_mixins/vars_mixins";

.phones-list {
	&__item {
		display    : flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 15px;
			@media (max-width: $sm - 1){
				margin-bottom: 12px;
			}
		}
	}

	&__icon {
		display    : flex;
		align-items: center;
		min-width  : 70px;
		fill       : $c-primary;

		@media (max-width: $sm - 1) {
			min-width: 60px;
			flex: 0 0 auto;
			.icon{
				flex: 0 0 auto;
				// max-height: 100%;
				// height: 100%;
				max-width: 50%;
			}
		}
	}

	&__mail{
		@media (max-width: $sm - 1){
			margin-top: 30px;
		}
	}

	&__link {
		@media (max-width: $sm - 1) {
			font-size: 12px;
		}
	}
}