extends ../../layout/layout

block vars
	- var pageTitle = 'Карточка товара'
	- var pageBodyClass = 'header--white product-page'
	- var dir = './'


block main
	.container.no-animate
		+breadcrumb({
			mod: 'breadcrumb--absolute',
			content2 : 'Продукция',
			href_content2: true,
			content3 : 'Pulsar Axion',
		})
	include ../../components/inner-hero/inner-hero-product
	include ../../components/product-features/product-features
	include ../../components/youtube-section/product-youtube-section
	include ../../components/product-review/product-review
	include ../../components/backcallform/backcallform-4
	include ../../components/product-specifications/product-specifications
	include ../../components/line-slider/line-slider
	include ../../components/utp-section/utp-section
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section
	include ../../components/backcallform/backcallform-3
block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block pageModal
	include ../../components/modal/modal-order/modal-order

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)