@import "src/assets/css/vars_mixins/vars_mixins";

.paginations {
	margin: 33px 0;


	@media (max-width: $lg - 1) {
		margin: 20px 0;
	}

	&__list {
		display        : flex;
		align-items    : center;
		justify-content: flex-start;
		flex-wrap      : wrap;
		list-style     : none;
		padding        : 0;
		margin         : 0;
	}

	&__item {
		min-width      : 46px;
		height         : 46px;
		border-radius  : 4px;
		padding        : 0;
		user-select    : none;
		overflow       : hidden;
		margin-right   : 0px;
		display        : flex;
		align-items    : center;
		justify-content: center;

		@media (max-width: $sm - 1) {
			margin   : 4px 4px;
			min-width: 34px;
			height   : 34px;
		}

		&:before {
			content: none;
		}

		&.active {
			background-color: #F3F3F3;

			.paginations__link {

				cursor: default;

				&:hover {

					background-color: #F3F3F3;
				}
			}
		}


		&--first,
		&--last {
			width           : 32px;
			flex-shrink     : 0;
			background-color: #fff;
			overflow        : visible;

			border-radius: 5px;
			border       : none;

			.paginations__link {
				position        : relative;
				height          : 32px;
				padding         : 0;
				background-color: transparent;

				border-radius: 0px;

				@media (max-width: $sm - 1) {
					height: 28px;
				}

				&:hover {

					background-color: transparent;

					.icon {
						fill: $c-primary-2;
					}
				}
			}
		}

		&--first {
			margin-right : 10px;
			border-radius: 2px;
			border       : 1px solid rgba(35, 31, 32, 0.2);
			transition: all .3s ease;
			
			@media (max-width: $sm - 1) {
				margin-right: 0;
			}

			&:hover {
				@media (min-width: 1024px) {
					cursor: pointer;
					border-color:$c-primary-2;
				}
			}
		}

		&--last {
			margin-left: 10px;
			border     : 1px solid rgba(35, 31, 32, 0.2);
			transition: all .3s ease;
			@media (max-width: $sm - 1) {
				margin-left: 0;
			}

			&:hover {
				@media (min-width: 1024px) {
					cursor: pointer;
					border-color:$c-primary-2;
				}
			}

			border-radius: 2px;

			.icon {
				transform: rotate(0deg);
			}
		}
	}

	&__link {
		display        : flex;
		align-items    : center;
		justify-content: center;
		padding        : 0 2px;
		font-size      : 20px;
		text-align     : center;
		line-height    : 32px;
		color          : #000;
		transition     : all .3s ease;
		width          : 100%;
		height         : 100%;

		@media (max-width: $md - 1) {
			margin: 0 3px;
		}

		@media (max-width: $sm - 1){
			font-size: 14px;
		}

		.icon {
			fill     : $c-text;
			max-width: 20px;
		}



		&:hover {
			background-color: #F3F3F3;
			text-decoration : none;
		}
	}

	span.paginations__link {

		&:hover {
			color           : $c-text !important;
			background-color: #fff;

		}
	}

	.paginations__item--active.paginations__item--first,
	.paginations__item--active.paginations__item--last {
		visibility: hidden;
	}
}