extends ../../layout/layout

block vars
	- var pageTitle = 'О нас'
	- var pageBodyClass = 'header--white inner-hero-mb about-page'
	- var dir = './'


block main
	include ../../components/inner-hero/inner-hero-about
	include ../../components/about/about
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)
