+include-style('index-media')
.index-media.fhd-container
	.container
		.index-media__header
			.index-media__title Медиацентр
			.index-media__all
				a(href="#").btn.btn--primary.btn--dark Все статьи
		.index-media__list
			+news-card({
				mod: 'news-card--wide',
				img: '/images/media-3.png',
				title: 'Обзор Pulsar Helion 2 XP PRO: самый ТОПовый тепловизионный монокуляр 2021 года'
			})
			+news-card({
				img: '/images/media-2.png',
				title: 'Новые ночные прицелы Yukon Sightline, обзор модельного ряда 2020 года.'
			})
			+news-card({
				img: '/images/media-1.png',
				title: 'Обзор Pulsar Helion 2 XP PRO: самый ТОПовый тепловизионный монокуляр 2021 года'
			})