@import "src/assets/css/vars_mixins/vars_mixins";

.index-media {
	margin-top   : 61px;
	margin-bottom: 90px;

	@media (max-width: $sm - 1) {
		position      : relative;
		padding-bottom: 77px;
		margin-bottom : 55px;
		margin-top    : 2px;
	}

	&__header {
		display        : flex;
		justify-content: center;
		position       : relative;
		margin-bottom  : 50px;

		@media (max-width: $sm - 1) {
			position: static;
		}
	}

	&__title {
		font-size  : 54px;
		line-height: 0.92;
		font-weight: 900;
		font-family: $f-thir;

		@media (max-width: $sm - 1) {
			font-size: 40px;
		}
	}

	&__all {
		position : absolute;
		right    : 0;
		top      : 50%;
		transform: translateY(-50%);

		@media (max-width: $sm - 1) {
			bottom   : 0px;
			top      : auto;
			left     : 50%;
			transform: translateX(-50%);
			right    : auto;
		}

		// margin-left: auto;
	}

	&__list {
		display  : flex;
		flex-wrap: wrap;
		margin   : 0px -10px;
	}
}