mixin input(args = {})
	+include-style('form-mixin')
	+include-script('form-mixin')
		//- +input({
		//- 	label: 'LABEL',
		//- 	type: 'TYPE',
		//- 	name: false,
		//- 	small: false,
		//- 	placeholder: false,
		//- 	required: false,
		//- 	pattern: false,
		//- 	validation: {
		//- 		message: 'Обязательное поле',
		//- 		regexp: 'Неверный формат',
		//- 		emailaddress: ' ',
		//- 		identical: false
		//- 	}
		//- })

	- var pattern = {phone: '\\+[0-9]{3} \\([0-9]{2}\\) [0-9]{3}-[0-9]{2}-[0-9]{2}',	email: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}', number: '^[0-9]{1}-^[0-9]{1}-^[0-9]{1}-^[0-9]{1}-^[0-9]{1}', 	number_card: '^[0-9]{4}-^[0-9]{4}-^[0-9]{4}-^[0-9]{4}', password: "^(?=.*[a-z])(?=.*[A-Z]){10,}$"}

	- var id = args.id || Math.floor(Math.random() * 9999999999);

	.form-group(class= args.fg_mod)
		if(args.label)
			label.form-control-label(for= 'ID' + id class= args.label_mod)= args.label
				//- if (args.required)
				//- 	span.label-required *
		input.form-control(
			class= args.mod
			type= args.type || 'text',
			id= 'ID' + id,
			name= args.name || 'NAME' + id,
			placeholder= args.placeholder || ' ',
			required= args.required ? true : false,
			pattern= args.pattern && pattern[args.pattern],
			value= args.value,
			min= args.min,
			maxlength= args.maxlength,
			data-bv-live=args.validation.live || 'enabled'
			data-bv-notempty-message= args.validation && args.validation.message || 'Заполните поле',
			data-bv-regexp-message= args.validation.regexp || 'Неверный формат!!!!!',
			data-bv-stringLength-message= args.validation && args.validation.stringLength || ' ',
			data-bv-emailaddress-message= ' ',
			data-bv-identical= args.validation && args.validation.identical && 'true',
			data-bv-identical-field= args.validation && args.validation.identical && args.validation.identical.field,
			data-bv-identical-message= args.validation && args.validation.identical && args.validation.identical.message,
			data-bv-callback= args.validation && args.validation.callback && 'true',
			data-bv-callback-field= args.validation && args.validation.callback && args.validation.callback.field,
			data-bv-callback-message= args.validation && args.validation.callback && args.validation.callback.message,
			)&attributes(attributes)
		block

