@import "src/assets/css/vars_mixins/vars_mixins";

.form-group {
	position: relative;

	font-family: $f-main;

	&.active {
		.form-control-label {
			font-size: 12px;
			transform: translateY(calc(-50% - 12px));

			@media (max-width: $sm - 1) {
				font-size: 10px;
			}
		}
	}

	&.has-error {
		.form-control {
			border: 1px solid red;

			&:focus {
				border: 1px solid red;
			}
		}

		.help-block {
			position : absolute;
			top      : 100%;
			left     : 0;
			color    : $c-error;
			font-size: 12px;
		}
	}

	.checkbox label a {
		margin         : 0 5px;
		text-decoration: underline;
		color          : $c-text;

		&:hover {
			text-decoration: none;
		}
	}

	.checkbox label:before {
		// top: 0;
	}
}

.form-group--margin {
	&:not(:last-child) {
		margin-bottom: 19px;
	}
}

.form-control {
	box-sizing     : border-box;
	width          : 100%;
	padding        : 10px 13px 3px 13px;
	padding-left   : 28px;
	//   transition: box-shadow .3s, border .3s;
	color          : $c-text;
	box-shadow     : inset 1px 1px 1px rgba(0, 0, 0, 0.15);
	border-radius  : 2px;
	border-radius  : 3px;
	outline        : none;
	background     : #fff;
	font-size      : 16px;
	line-height    : 1.5;
	height         : 46px;

	@media (max-width: $sm - 1) {
		font-size: 12px;
	}


	// &:focus {
	// 	border: 1px solid #e0e0e0;
	// }

	&::placeholder {
		color      : rgba(170, 170, 170, 0.5);
		font-size  : 16px;
		font-weight: 400;

		// @media (max-width: $sm - 1) {
		// 	font-size: 11px;
		// }
	}
}

.form-control-label {
	font-size : 16px;
	display   : block;
	position  : absolute;
	top       : 50%;
	transform : translateY(-50%);
	left      : 28px;
	color     : #6B6B6B;
	transition: all .3s ease;




	.label-required {
		color    : #EB5757;
		font-size: 18px;
	}
}

.form-control--textarea {
	font-family     : $f-main;
	font-size       : 15px;
	color           : $c-text;
	background-color: #fff;
	height          : 120px;
}


.form-control--margin {
	margin-bottom: 27px;

	@media (max-width: $sm - 1) {
		margin-bottom: 17px;
	}

}




.checkbox {
	position   : relative;
	display    : flex;
	align-items: center;

	&__descr {
		font-size  : 13px;
		color      : #757575;
		margin-left: 10px;

		a {
			color          : $c-text;
			text-decoration: underline;

			&:hover {
				@media (min-width: $md) {
					cursor         : pointer;
					color          : $c-primary;
					opacity        : 0.7;
					text-decoration: none;
				}
			}
		}

		white-space: normal;

		@media (max-width: $sm - 1) {
			white-space: inherit;
		}

		@media (max-width: $xs - 1) {
			font-size  : 10px;
			margin-left: 10px;
		}
	}

	&__descr--mw {
		max-width  : 550px;
		white-space: normal;
	}

	input {
		position  : absolute;
		top       : 0;
		left      : 0;
		visibility: hidden;
		opacity   : 0;
		width     : 2px;
		height    : 2px;
	}

	label {
		display         : block;
		padding         : 0 0 0 18px;
		cursor          : pointer;
		transition      : color 0.3s;
		color           : #696969;
		font-size       : $f-size;
		height          : 18px;
		background-color: #fff;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}


	}

	label:before {
		position           : absolute;
		left               : 0;
		top                : 0;
		display            : block;
		box-sizing         : border-box;
		width              : 18px;
		height             : 18px;
		content            : "";
		user-select        : none;
		transition         : box-shadow 0.2s, border 0.2s;
		border             : 1px solid #E4E4E4;
		border-radius      : 1px;
		background-color   : #fbfbfb;
		background-repeat  : no-repeat;
		background-position: 50% 100%;
		background-size    : contain;
		border-radius      : 0px;
		background-color   : transparent;

		@media (max-width: $xs - 1) {
			height: 20px;
			width : 20px;
		}
	}

	input:disabled~label {
		cursor: no-drop;
	}

	input:checked~label {
		color: #000;
	}

	input:checked~label:before {
		background-color   : $c-primary;
		background-image   : url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.08205 3.3203C1.7757 2.86077 1.15483 2.7366 0.6953 3.04295C0.235771 3.3493 0.111597 3.97017 0.41795 4.4297L2.08205 3.3203ZM10.2894 2.23894C10.6284 1.80299 10.5499 1.17472 10.1139 0.835648C9.67799 0.496578 9.04972 0.575112 8.71065 1.01106L10.2894 2.23894ZM5.1018 7.27983L4.31244 6.66589L5.1018 7.27983ZM0.41795 4.4297L2.64834 7.77529L4.31244 6.66589L2.08205 3.3203L0.41795 4.4297ZM5.89115 7.89377L10.2894 2.23894L8.71065 1.01106L4.31244 6.66589L5.89115 7.89377ZM2.64834 7.77529C3.40557 8.91114 5.05305 8.97133 5.89115 7.89377L4.31244 6.66589L4.31244 6.66589L2.64834 7.77529Z' fill='%23FAFAFB'/%3E%3C/svg%3E%0A");
		background-size    : auto;
		background-position: center;
	}

	input:disabled~label:before {
		background-color: rgba(224, 224, 224, 0.5);
	}

	input:checked:disabled~label:before {
		background-color   : rgba(224, 224, 224, 0.5);
		background-image   : url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.55556L6.38462 11L15 1' stroke='%23E35205' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-size    : auto;
		background-position: 3px center;
	}

	@media (min-width: $md) {
		input:not(:disabled)~label:hover:before {
			border-color: $c-primary;
		}
	}
}


.radio {
	position: relative;

	input {
		position  : absolute;
		top       : 0;
		left      : 0;
		visibility: hidden;
		opacity   : 0;
		width     : 1px;
		height    : 1px;
	}

	label {
		display    : block;
		// padding: 0 0 0 32px;
		cursor     : pointer;
		transition : color 0.3s;
		color      : #000;
		position   : relative;
		display    : inline-block;
		font-size  : 26px;
		font-weight: 700;
		white-space: nowrap;

		@media (max-width: $sm - 1) {
			font-size: 18px;
		}

		@media (max-width: $xs - 1) {
			font-size: 14px;
		}

		&:after {
			transition      : all .3s ease;
			position        : absolute;
			content         : '';
			width           : 0%;
			bottom          : -19px;
			height          : 5px;
			border-radius   : 2.5px;
			background-color: $c-primary;
			left            : 0;

			@media (max-width: $sm - 1) {
				bottom: -5px;
			}
		}
	}

	// label:before {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	display: block;
	// 	width: 20px;
	// 	height: 20px;
	// 	content: "";
	// 	user-select: none;
	// 	transition: color 0.3s, border 0.3s;
	// 	border: 1px solid #e0e0e0;
	// 	border-radius: 100%;
	// }
	// label:after {
	// 	position: absolute;
	// 	top: 2px;
	// 	left: 2px;
	// 	display: block;
	// 	width: 16px;
	// 	height: 16px;
	// 	content: "";
	// 	user-select: none;
	// 	border-radius: 100%;
	// }
	input:disabled~label {
		cursor: no-drop;
	}

	input:checked~label {
		&:after {
			width: 100%;
		}
	}

	input:checked~label:before {
		border: 1px solid #b5bd00;
	}

	input:checked~label:after {
		background: $c-primary;
	}

	input:disabled~label:before {
		border: 1px solid #bdbdbd;
	}

	input:checked:disabled~label:before {
		border: 1px solid #bdbdbd;
	}

	input:checked:disabled~label:after {
		background: #bdbdbd;
	}

	@media (min-width: $md) {
		input:not(:disabled)~label:hover {
			color: #000;

			&:before {
				border: 1px solid #b5bd00;
			}
		}
	}
}




.form-group-select {
	position: static;
}


.form-group.has-error {
	.checkbox label:before {
		border-color: red;
	}
}

.custom-select {
	background-color: #F3F3F3;
	height          : 46px;
	padding         : 0px 12px;
	display         : flex;
	align-items     : center;
	position        : relative;
	border-radius   : 2px;
	max-width       : 97px;

	transition: all .3s ease;




	@media (max-width: $sm - 1) {
		height: 31px;
	}

	&:hover {
		@media (min-width: 1024px) {
			cursor: pointer;
		}
	}

	&.active {
		.custom-select__list {
			max-height: 500px;
		}

		.custom-select__trigger {
			transform: rotate(90deg);
		}
	}

	&__list {
		position        : absolute;
		top             : 100%;
		left            : 0px;
		right           : 0px;
		background-color: #F3F3F3;
		padding         : 0px 12px;
		border-radius   : 2px;
		max-height      : 0px;
		overflow        : hidden;
		transition      : all .3s ease;
		z-index         : 2;




		&-item {
			padding: 5px 0px;

			&:hover {
				@media (min-width: 1024px) {
					cursor : pointer;
					opacity: 0.5;
				}
			}

			&.selected {
				display: none;
			}
		}
	}

	&__trigger {
		position  : absolute;
		right     : 12px;
		top       : 12px;
		transform : rotate(-90deg);
		transition: all .3s ease;

		@media (max-width: $sm - 1) {
			top: 5px;
		}
	}
}


.basket-card {
	.custom-select {
		border: 1px solid transparent;

		&:hover {
			@media (min-width: 1024px) {
				cursor      : pointer;
				border-color: $c-primary;
			}
		}

		&.active {
			@media (min-width: 1024px) {
				border-color: transparent;
			}
		}

		&__list {
			left : -1px;
			right: -1px;
		}
	}
}

.custom-select--checkout {
	background-color: #fff;
	max-width       : none;
	width           : 100%;

	.custom-select__list {
		background-color: #fff;
		box-shadow      : inset 1px 0px 1px rgba(0, 0, 0, 0.15);
	}
}