mixin lazy-img-retina(args={})
	-
		const name = args.img.split('.')[0];
		const ext = args.img.split('.')[1];
		const source = `/local/templates/html/${name + '.' + ext} 1x, /local/templates/html/${name + '-2x' + '.' + ext}  2x`
	if (args.link)
		a.lazy-img-wrap(href=args.href || '#' class= args.wrap_mod aria-label= args.aria_label)&attributes(attributes)
			img.lazy-img(class= args.img_mod, src=args.placeholder, data-src=args.img, alt= args.alt || 'img' title= args.title)
			block
	else
		picture.lazy-img-wrap(class= args.wrap_mod)&attributes(attributes)
			source(data-srcset= source srcset=args.placeholder ? args.placeholder : pixel)
			img.lazy-img(class= args.img_mod, src=args.placeholder ? args.placeholder : pixel , data-src=args.img, alt= args.alt || 'img' title= args.title)
			block