+include-style('category-list')
+include-style('line-slider')
.category-list
	.container
		.category-list__inner
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-1.png',
					title: 'Pulsar Digisight Ultra N455',
					mod: 'accessories-card--catalog',
					availability: true,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-2.png',
					title: 'Pulsar Digisight Ultra N455 LRF Pulsar Pulsar Digisight Ultra N455 LRF Pulsar Digisight Ultra N455 LRF',
						mod: 'accessories-card--catalog',
					availability: true,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-3.png',
					title: 'Pulsar Forward F455',
						mod: 'accessories-card--catalog',
					availability: false,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-1.png',
					title: 'Pulsar Digisight Ultra N455',
					mod: 'accessories-card--catalog',
					availability: true,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-2.png',
					title: 'Pulsar Digisight Ultra N455 LRF Pulsar Pulsar Digisight Ultra N455 LRF Pulsar Digisight Ultra N455 LRF',
						mod: 'accessories-card--catalog',
					availability: true,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-3.png',
					title: 'Pulsar Forward F455',
						mod: 'accessories-card--catalog',
					availability: false,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-1.png',
					title: 'Pulsar Digisight Ultra N455',
					mod: 'accessories-card--catalog',
					availability: true,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-2.png',
					title: 'Pulsar Digisight Ultra N455 LRF Pulsar Pulsar Digisight Ultra N455 LRF Pulsar Digisight Ultra N455 LRF',
						mod: 'accessories-card--catalog',
					availability: true,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-3.png',
					title: 'Pulsar Forward F455',
						mod: 'accessories-card--catalog',
					availability: false,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-1.png',
					title: 'Pulsar Digisight Ultra N455',
					mod: 'accessories-card--catalog',
					availability: true,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-2.png',
					title: 'Pulsar Digisight Ultra N455 LRF Pulsar Pulsar Digisight Ultra N455 LRF Pulsar Digisight Ultra N455 LRF',
						mod: 'accessories-card--catalog',
					availability: true,
					noslider: true,
				})
			.category-list__item
				+accessories-card({
					img: '/images/accessories-line-slider-3.png',
					title: 'Pulsar Forward F455',
						mod: 'accessories-card--catalog',
					availability: false,
					noslider: true,
				})
		include ../pagination/pagination

