@import "src/assets/css/vars_mixins/vars_mixins";

.category-list {
	&__inner {
		display  : flex;
		flex-wrap: wrap;
		margin   : -10px;
	}

	&__item {
		width        : 25%;
		padding      : 0px 10px;
		height       : 429px;
		margin-bottom: 23px;

		@media (max-width: $lg - 1) {
			width: 33.33%;
		}

		@media (max-width: $md - 1) {
			width        : 50%;
			height       : auto;
			margin-bottom: 15px;
		}
	}
}