+include-style('youtube-section')
+include-script('youtube-section')
.youtube-section.youtube-section--line.fhd-container
	.container
		.youtube-section__title Видеообзоры Pulsar Axion
	.youtube-section-container
		.youtube-section__inner
			+swiper({
				container_mod: '',
				wrapper_mod: '',
				navigation: true,
				pagination: true,
			}).youtube-slider.js-slider-youtube-line
				.swiper-slide
					.lazy-youtube-video
						.lazy-youtube-video__inner
							iframe.lazy-youtube(src=pixel data-src="https://www.youtube.com/embed/xIMBEg2T_oM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.swiper-slide
					.lazy-youtube-video
						.lazy-youtube-video__inner
							iframe.lazy-youtube(src=pixel data-src="https://www.youtube.com/embed/xIMBEg2T_oM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.swiper-slide
					.lazy-youtube-video
						.lazy-youtube-video__inner
							iframe.lazy-youtube(src=pixel data-src="https://www.youtube.com/embed/xIMBEg2T_oM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)