@import "src/assets/css/vars_mixins/vars_mixins";

.index {
	.youtube-section {
		margin-top : -188px;
		padding-top: 302px;
		z-index    : 1;

		@media (max-width: $lg - 1) {
			padding-top: 270px;
			margin-top : -225px;
		}


	}
}

.about-page,
.delivery-page {
	.youtube-section {
		margin-top: 0px;
	}
}



.youtube-section {
	margin-top    : 100px;
	padding-top   : 118px;
	padding-bottom: 167px;

	@media (max-width: $md - 1) {
		padding-bottom: 0px;
	}

	@media (max-width: $sm - 1) {
		padding-top: 75px;
	}

	@media (max-width: $sm - 1) {
		margin-top: 45px;
	}

	position : relative;
	z-index  : 0;

	&__bg {
		position      : absolute;
		top           : 0;
		left          : 0;
		right         : 0;
		bottom        : 0;
		pointer-events: none;
		user-select   : none;

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;
		}
	}

	&__inner {
		display        : flex;
		justify-content: space-between;
		align-items    : flex-end;

		@media (max-width: $md - 1) {
			flex-direction: column;
			align-items   : center;
		}
	}

	&__descr {


		z-index: 1;

		@media (max-width: $sm - 1) {
			width: 100%;
		}
	}

}

.youtube-section--line {
	background-color: #001740;
	padding-top     : 72px;
	overflow        : hidden;
	margin-top      : 0px;

	@media (max-width: $md - 1) {
		padding-bottom: 53px;
	}

	@media (max-width: $sm - 1) {
		padding-top: 25px;
	}

	.swiper-slide {
		width: auto;

	}

	.youtube-slider {
		max-width: none;
	}

	.youtube-section__inner {
		margin-left: 14%;
		position   : relative;

		@media (max-width: $sm - 1) {
			margin-left: 0;
			padding    : 0px 16px;
		}
	}

	// .swiper-container:not(.swiper-container-initialized){
	// 	.swiper-slide{
	// 		margin-right: 26px;
	// 	}
	// }

	.swiper-slide {

		&:not(.swiper-slide-active) {
			opacity   : 0.4;
			position  : relative;
			transition: all .3s ease;

			&:before {
				position  : absolute;
				transition: all .3s ease;

				content       : '';
				top           : 0;
				left          : 0;
				right         : 0;
				bottom        : 0;
				// z-index: 10;
				background    : linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
				pointer-events: none;
			}
		}
	}

	.lazy-youtube-video {
		margin-right: 0px;
		width       : 900px;
		margin-right: 26px;

		@media (max-width: $lg - 1) {
			width: 700px;
		}

		@media (max-width: $sm - 1) {
			width: calc(100vw - 20px);
		}
	}



	.youtube-section-container {
		max-width: 100%;
	}

	.swiper-navigation {
		right: 17.5%;
	}
}

.youtube-section--product {
	padding-top: 20px;
	margin-top : -20px;
	overflow   : hidden;

	.youtube-section--line {
		padding-top   : 96px;
		padding-bottom: 280px;
		overflow      : visible;

		@media (max-width: $sm - 1) {
			padding-bottom: 152px;
			padding-top   : 56px;
		}
	}
}

.youtube-section__title {
	color        : #fff;
	font-family  : $f-thir;
	font-size    : 54px;
	line-height  : 50px;
	margin-bottom: 52px;
	text-align   : center;

	@media (max-width: $sm - 1) {
		font-size    : 28px;
		margin-bottom: 12px;
		line-height  : 30px;
	}
}

.youtube-about {
	padding         : 62px;
	padding-right   : 76px;
	background-color: $c-primary-2;
	transform       : translateY(50%);
	max-width       : 350px;

	@media (max-width: $md - 1) {
		padding  : 42px;
		transform: translateY(62px);
	}

	@media (max-width: $md - 1) {
		display        : flex;
		flex-direction : column;
		justify-content: center;
		align-items    : center;
	}

	@media (max-width: $md - 1) {
		text-align: center;
	}

	@media (max-width: $sm - 1) {

		max-width: none;
	}

	&__logo {
		display        : flex;
		justify-content: flex-start;
		margin-top     : 8px;

		@media (max-width: $sm - 1) {
			max-width: 120px;
		}
	}

	&__title {
		font-weight: 700;
		font-family: $f-sec;
		color      : #fff;
		font-size  : 40px;
		line-height: 1;

		@media (max-width: $md - 1) {
			text-align: center;
		}

		@media (max-width: $sm - 1) {
			font-size: 28px;
		}
	}

	&__item {
		margin-top: 23px;
		color     : #fff;

		@media (max-width: $sm - 1) {
			margin-top: 18px;
		}

		&-title {
			font-weight  : 900;
			font-family  : $f-thir;
			margin-bottom: 3px;
			font-size    : 40px;

			@media (max-width: $md - 1) {
				text-align: center;
			}

		}
	}

	&__control {
		margin-top: 33px;

		@media (max-width: $md - 1) {
			text-align: center;
		}

	}
}

.youtube-slider {
	max-width: 900px;
	width    : 100%;

	@media (max-width: $xl - 1) {
		max-width: 750px;
	}

	@media (max-width: $lg - 1) {
		max-width: 600px;
	}

	.swiper-navigation {
		top: calc(100% + 65px);

		@media (max-width: $md - 1) {
			display: none;
		}
	}

	.swiper-pagination {
		position: absolute;
		top     : calc(100% + 88px);

		@media (max-width: $md - 1) {
			top: calc(100% + 25px);
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		.icon {
			fill: #fff;
		}
	}


}

.lazy-youtube-video {
	padding-bottom: 56%;

	position: relative;

	&__inner {
		position       : absolute;
		left           : 0;
		right          : 0;
		bottom         : 0;
		top            : 0;
		display        : flex;
		align-items    : center;
		justify-content: center;

		iframe {
			width : 100%;
			height: 100%;
		}
	}
}