+include-style('youtube-section')
+include-script('youtube-section')
.youtube-section.fhd-container
	+lazy-img({
		wrap_mod: 'youtube-section__bg',
		img: '/images/youtube-slider-bg.jpg',
		placeholder: pixel
	})
	.container
		.youtube-section__inner
			+swiper({
				container_mod: '',
				wrapper_mod: '',
				navigation: true,
				pagination: true,
			}).youtube-slider.js-slider-youtube
				.swiper-slide
					.lazy-youtube-video
						.lazy-youtube-video__inner
							iframe.lazy-youtube(src=pixel data-src="https://www.youtube.com/embed/oBUV-hFuzcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.swiper-slide
					.lazy-youtube-video
						.lazy-youtube-video__inner
							iframe.lazy-youtube(src=pixel data-src="https://www.youtube.com/embed/oBUV-hFuzcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.swiper-slide
					.lazy-youtube-video
						.lazy-youtube-video__inner
							iframe.lazy-youtube(src=pixel data-src="https://www.youtube.com/embed/oBUV-hFuzcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			.youtube-section__descr
				.youtube-about
					.youtube-about__title Подпишитесь на наш канал
					.youtube-about__logo
						+lazy-img({
							img: '/images/youtube-logo.svg'
						})
					.youtube-about__item
						.youtube-about__item-title 12 млн+ 
						.youtube-about__item-descr.fz-16 Просмотров на канале
					.youtube-about__item
						.youtube-about__item-title Все модели
						.youtube-about__item-descr.fz-16 продукции
					.youtube-about__control
						a(href="#").btn.btn--primary
							span Подписаться
							//- +icon('i-arrow-3')(style="width:5px; height: 8px")
