mixin dev(args={})
	+include-style('mixin__dev')
	a(href='#' class="dev")&attributes(attributes)
		span.dev__icon
			+icon('i-dev')(style="width:15px; height: 15px")
		span.dev__title Разработка сайта — SLAM