@import "src/assets/css/vars_mixins/vars_mixins";

.dev {
	display    : flex;
	align-items: center;
	margin-top : 8px;

	&:hover {
		@media (min-width: 1024px) {
			cursor: pointer;
			.dev__title{
				color: $c-primary-2;
			}

			.icon{
				fill: $c-primary-2;
			}
		}
	}

	&__icon {
		display        : flex;
		align-items    : center;
		justify-content: center;

		.icon {
			fill: #fff;
			transition: all .3s ease;
			
		}

	}

	&__title {
		margin-left: 8px;
		font-weight: 300;
		color      : #fff;
		transition: all .3s ease;
		
	}
}