+include-style('share')
+include-script('share')
.share
	.share__title Поделиться:
	<div class="ya-share2" data-curtain data-services="facebook,vkontakte" data-color-scheme="whiteblack" data-direction="horizontal"></div>
