+include-style('share')
+include-script('share')
.share.disabled
	.share__title Поделиться:
	<div id="my-share" data-curtain data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,viber"></div>
