@import "src/assets/css/vars_mixins/vars_mixins";

.share {
	margin-top: 41px;
	display: inline-flex;
	padding: 14px 17px;
	background-color: #F3F3F3;
	border-radius: 3px;
	&__title{
		font-size: 16px;
		margin-right: 25px;
	}
	.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item{
		margin: 0px 15px 0px 0px;
	}
	.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item:last-child {
		margin-right: 0;
  }

	// .ya-share2__list.ya-share2__list_direction_horizontal>.ya-share2__item {
	// 	display       : inline-block;
	// 	vertical-align: top;
	// 	padding       : 0;
	// 	@media (min-width: $sm) {
	// 		margin-bottom: 8px;
	// 	}
	// }

	// .ya-share2__container_mobile .ya-share2__badge {
	// 	border-radius: 4px;
	// }

	// &.disabled {
	// 	display: none;
	// }

	// align-items: center;
	// width      : 100%;
	// margin-top : 48px;

	// .share__title {
	// 	display: none;
	// }

	// &.active {
	// 	@media (max-width: $sm - 1) {
	// 		display         : flex;
	// 		position        : fixed;
	// 		bottom          : 0;
	// 		background-color: #fff;
	// 		left            : 0;
	// 		right           : 0;
	// 		padding         : 5px 0px;
	// 		z-index         : 2500;



	// 		.ya-share2 {
	// 			justify-content: center;
	// 			margin         : auto !important;
	// 		}

	// 		.ya-share2__item {
	// 			opacity   : 0;
	// 			transition: all .3s ease;
	// 			transform : translateY(20px);
	// 		}
	// 	}
	// }

	// @media (max-width: $sm - 1) {
	// 	flex-direction: column;
	// 	align-items   : flex-start;
	// }

	// .ya-share2__list {
	// 	display       : flex;
	// 	flex-direction: column;

	// 	@media (max-width: $sm - 1) {
	// 		flex-direction: row;
	// 	}

	// 	margin : 0px 0px 0px 0px !important;

	// 	.ya-share2__item {


	// 		@media (min-width: $sm) {
	// 			margin-bottom: 8px;

	// 			.ya-share2__link {
	// 				border-radius: 4px;
	// 				overflow     : hidden;
	// 			}

	// 			.ya-share2__icon {
	// 				height             : 37px;
	// 				width              : 44px;
	// 				background-size    : contain;
	// 				background-position: center;
	// 				background-repeat  : no-repeat;

	// 			}
	// 		}



	// 		@media (max-width: $sm - 1) {
	// 			&:before {
	// 				display: none;
	// 			}

	// 			margin      : 0px;
	// 			margin-right: 8px;
	// 			padding-left: 0px;

	// 			&:first-child {
	// 				margin-left: 16px;

	// 				@media (max-width: $sm - 1) {
	// 					margin-left: 0px;
	// 				}
	// 			}

	// 			.ya-share2__badge {
	// 				border-radius: 4px;
	// 				overflow     : hidden;
	// 			}

	// 			.ya-share2__icon {
	// 				height             : 37px;
	// 				width              : 44px;
	// 				background-size    : contain;
	// 				background-position: center;
	// 				background-repeat  : no-repeat;
	// 				border-radius      : 4px;
	// 				overflow           : hidden;
	// 			}
	// 		}

	// 	}
	// }
}