.get-in-touch {
	display        : flex;
	align-items    : center;
	justify-content: center;
	height         : 46px;
	width          : 234px;
	border         : 1px solid rgba(255, 255, 255, 0.2);
	border-radius  : 3px;
	transition     : border-color .3s ease;

	&:hover {
		@media (min-width: 1024px) {
			cursor      : pointer;
			border-color: $c-primary-2;
		}
	}

	&__inner {
		width          : 100%;
		display        : flex;
		justify-content: center;
		align-items    : center;
	}

	&__list {
		display        : flex;
		align-items    : center;
		justify-content: center;
	}

	&__title {
		font-size   : 16px;
		margin-right: 15px;
		color       : #fff;
		@media (max-width: $sm - 1){
			font-size: 14px;
		}
	}

	&__item {
		display        : flex;
		align-items    : center;
		justify-content: center;

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				.icon{
					fill  : $c-primary-2;
				}
			}
		}

		.icon {
			fill      : #fff;
			transition: fill .3s ease;
		}

		&:not(:last-child) {
			margin-right: 18px;
		}
	}
}