mixin get-in-touch(args={})
	.get-in-touch
		.get-in-touch__inner
			.get-in-touch__title Написать нам 
			.get-in-touch__list
				.get-in-touch__item
					+icon('i-whatsapp')(style="width: 25px; height: 25px")
				.get-in-touch__item
					+icon('i-tg-2')(style="width: 24px; height: 24px")