@import "src/assets/css/vars_mixins/vars_mixins";


.index {
	.utp-section {
		padding-top: 0px;
		margin-top : 0px;

		.utp-section__bg-wrap {
			background-color: #EEF2F3;
		}
	}
}

.line-page {
	.utp-section {
		margin-top : 0px;
		padding-top: 150px;
		position   : relative;

		&:before {
			position        : absolute;
			content         : '';
			left            : 0;
			right           : 0;
			top             : 0;
			height          : 150px;
			background-color: #EEF2F3;
		}

		@media (max-width: $lg - 1) {
			padding-top: 150px;
		}

		@media (max-width: $md - 1) {
			padding-top: 350px;
		}

		@media (max-width: $sm - 1) {
			padding-top: 320px;


		}
	}
}

.utp-section {
	margin-top    : 33px;
	margin-bottom : 60px;
	position      : relative;
	z-index       : 0;
	overflow      : hidden;
	padding-bottom: 40px;

	@media (max-width: $sm - 1) {
		margin-bottom: 0px;
	}

	@media (max-width: $lg - 1) {
		display         : flex;
		flex-direction  : column;
		background-color: #EEF2F3;
		margin-top      : 0px;
		padding-top     : 70px;
	}

	&__bg-wrap {
		position      : relative;
		padding-bottom: 37.8%;
		display       : flex;
		flex-direction: column-reverse;



		@media (max-width: $lg - 1) {
			padding-bottom: 0px;
		}
	}

	&__bg {
		position      : absolute;
		top           : 0;
		left          : 0;
		right         : 0;
		bottom        : 0;
		pointer-events: none;
		user-select   : none;

		@media (max-width: $lg - 1) {
			position: static;
		}

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;
		}
	}

	&__inner {
		position : absolute;
		z-index  : 1;
		top      : 30%;
		right    : 16%;
		max-width: 350px;

		@media (max-width: $lg - 1) {
			position: static;
		}

		@media (max-width: $sm - 1) {
			display        : flex;
			flex-direction : column;
			align-items    : center;
			justify-content: center;
			margin         : auto;
		}
	}

	&__title {
		font-weight: 700;
		font-family: $f-sec;
		line-height: 0.73;
		font-size  : 60px;

		@media (max-width: $sm - 1) {
			font-size: 28px;
		}
	}

	&__descr {
		margin-top: 40px;

		@media (max-width: $sm - 1) {
			margin-top: 10px;
			text-align: center;
		}
	}

	&__control {
		margin-top: 36px;

		@media (max-width: $sm - 1) {
			margin-top: 20px;
		}
	}

	&__list {
		display   : flex;
		margin    : 0px -10px;
		margin-top: -37px;
		position  : relative;
		z-index   : 2;

		@media (max-width: $lg - 1) {
			&:before {
				position        : absolute;
				content         : '';
				top             : 37px;
				bottom          : -40px;
				width           : 1000%;
				transform       : translateX(-50%);
				background-color: #fff;
				z-index         : -1;
			}
		}



		@media (max-width: $md - 1) {
			flex-direction: column;
			margin        : 0;
			width         : 100%;
			margin-top    : -45px;
		}
	}

	&__item-wrap {
		padding: 0px 10px;
		width  : 33.33%;
		display: flex;

		@media (max-width: $md - 1) {
			width: 100%;
		}

		@media (max-width: $sm - 1) {
			padding: 0px;
		}
	}

	&__item {
		padding         : 55px 85px 66px 85px;
		background-color: #fff;
		box-shadow      : 0px 4px 50px rgba(0, 0, 0, 0.1);
		border-radius   : 2px;
		display         : flex;
		flex-direction  : column;

		@media (max-width: $lg - 1) {
			padding: 40px;
		}

		@media (max-width: $md - 1) {
			width         : 100%;
			margin-bottom : 7px;
			display       : flex;
			flex-direction: row;
			align-items   : center;
		}

		@media (max-width: $sm - 1) {
			padding       : 14px 20px;
			padding-bottom: 20px;
		}

		&-icon {
			margin-bottom: 28px;
			align-self   : flex-start;

			@media (max-width: $md - 1) {
				margin-right : 28px;
				margin-bottom: 0px;
				height       : 100%;
				display      : flex;
				align-items  : center;
			}

			@media (max-width: $sm - 1) {
				width: 38px;

				img {
					max-width: 100%;
				}
			}
		}

		&-title {
			font-size    : 40px;
			font-family  : $f-sec;
			font-weight  : 700;
			margin-bottom: 25px;
			line-height  : 0.95;

			@media (max-width: $sm - 1) {
				font-size    : 28px;
				margin-bottom: 6px;
				line-height  : 38px;
			}
		}

		&-decr {
			font-size: 16px;

			@media (max-width: $sm - 1) {
				font-size: 14px;
			}
		}
	}
}