+include-style('utp-section')

.utp-section.fhd-container
	.utp-section__bg-wrap
		//- +lazy-img({
		//- 	wrap_mod: 'utp-section__bg',
		//- 	img: '/images/utp-bg.jpg',
		//- 	placeholder: pixel
		//- })
		picture(class="utp-section__bg")
			source(media="(min-width: 800px)" data-srcset="/local/templates/html/images/utp-bg.jpg 1x,/local/templates/html/images/utp-bg-2x.jpg 2x " srcset=pixel)
			source(media="(min-width: 0px)" data-srcset="/local/templates/html/images/utp-bg-mobile.jpg" srcset=pixel)
			img(class="lazy-img" src=pixel data-src="/local/templates/html/images/utp-bg.jpg")
		.container
			.utp-section__inner
				.utp-section__title Оригинальная продукция
				.utp-section__descr.fz-20 Мы — официальные дилеры <br>Pulsar и Yukon
				.utp-section__control
					.btn.btn--primary.btn--dark Подробнее о наc
	.container
		.utp-section__list
			.utp-section__item-wrap
				.utp-section__item
					.utp-section__item-icon
						+lazy-img({
							img: '/images/utp-1.svg',
							placeholder: pixel
						})
					.utp-section__content 
						.utp-section__item-title Оплата при получении
						.utp-section__item-descr Совершите оплату после осмотра товара
			.utp-section__item-wrap
				.utp-section__item
					.utp-section__item-icon
						+lazy-img({
							img: '/images/utp-2.svg',
							placeholder: pixel
						})
					.utp-section__content 
						.utp-section__item-title Расширенная гарантия
						.utp-section__item-descr Расширенная гарантия на весь срок службы — 5 лет
			.utp-section__item-wrap
				.utp-section__item
					.utp-section__item-icon
						+lazy-img({
							img: '/images/utp-3.svg',
							placeholder: pixel
						})
					.utp-section__content 
						.utp-section__item-title Бесплатная доставка
						.utp-section__item-descr При покупке от 10 000 ₽