mixin catalog-card(args={})
	+include-style('mixin__catalog-card')
	.catalog-card(class= args.mod)
		if (args.new)
			.catalog-card__label
				<svg width="47" height="33" viewBox="0 0 47 33" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M47 6H0V29.6018L23.7398 33L47 29.6018V6Z" fill="#E30613"/>
					<path d="M16.494 24H17.936V14.2H16.34V20.206L14.086 14.2H12.644V24H14.24V17.994L16.494 24ZM19.2202 24H23.7422V22.544H20.8442V19.702H23.3362V18.246H20.8442V15.656H23.7422V14.2H19.2202V24ZM29.642 14.2H28.088L26.996 20.612L25.932 14.2H24.28L26.184 24H27.738L28.858 17.364L29.978 24H31.532L33.436 14.2H31.784L30.72 20.612L29.642 14.2Z" fill="white"/>
				</svg>
		if (!args.noLink)
			+link-full()
		+lazy-img-retina({
			wrap_mod: 'catalog-card__img-wrap',
			img: args.img,
			placeholder: pixel
		}) 
		.catalog-card__title.fz-32= args.title
		if (args.descr)
			.catalog-card__descr.fz-16= args.descr
		if (args.price)
			.catalog-card__price-wrap
				span.catalog-card__price= args.price 
				span.catalog-card__val  ₽
		if (args.control)
			if (args.mod === 'catalog-card--grid')
				.catalog-card__control
					a(href="#").btn.btn--primary.btn--dark Подробнее
			else
				.catalog-card__control
					a(href="#").btn.btn--primary Подробнее