@import "src/assets/css/vars_mixins/vars_mixins";

.catalog-card {
	padding        : 30px 40px;
	display        : flex;
	flex-direction : column;
	align-items    : center;
	height         : 100%;
	justify-content: flex-start;
	border-radius  : 3px;
	border         : 1px solid transparent;
	position       : relative;

	@media (max-width: $sm - 1) {
		padding        : 16px 10px;
		width          : 100%;
		justify-content: flex-start;
	}

	&__title {
		font-family: $f-sec;
		font-weight: 700;
		color      : #fff;
		margin-top : 11px;

		@media (max-width: $sm - 1) {
			margin-top: 5px;
			text-align: center;
			font-size : 20px !important;
		}
	}

	&__descr {
		color     : rgba(255, 255, 255, 0.3);
		margin-top: 6px;

		@media (max-width: $sm - 1) {
			margin-top: 0px;
			text-align: center;
		}
	}

	&__img-wrap {
		height: 240px;

		@media (max-width: $sm - 1) {
			height: 100px;
		}

		img {
			max-height: 100%;
			max-width : 100%;
		}
	}

	&__price-wrap {
		margin-top   : 5px;
		margin-bottom: 27px;

		@media (max-width: $sm - 1) {
			margin-bottom: 17px;
		}
	}

	&__price {
		font-size  : 32px;
		line-height: 38px;
		color      : #fff;
		font-weight: 500;

		@media (max-width: $sm - 1) {
			font-size: 20px;
		}
	}

	&__label {
		align-self: flex-start;

	}

	&__val {
		color      : #fff;
		font-size  : 24px;
		line-height: 38px;
		font-weight: 500;
	}

	&__control {
		margin-top: auto;
	}

	&:hover {
		@media (min-width: 1024px) {
			cursor         : pointer;
			// transition  : all .3s ease;
			border-color   : #fff;
		}
	}

	@media (max-width: $sm - 1) {
		.btn.btn--primary {
			min-width    : 126px;
			padding-left : 23px;
			padding-right: 30px;

			&:after {
				position: absolute;
				content : '';
				right   : 16px;
			}
		}
	}
}

.catalog-card--grid {
	background    : #F3F3F3;
	border-radius : 2px;
	position      : relative;
	overflow      : hidden;
	padding-bottom: 58px;

	@media (max-width: $sm - 1) {
		padding-bottom: 30px;
	}



	&:hover {
		@media (min-width: 1024px) {
			cursor: pointer;

			background-color: #001740;

			&:before {
				position      : absolute;
				content       : '';
				top           : 0;
				left          : 0;
				right         : 0;
				bottom        : 0;
				pointer-events: none;
				background    : radial-gradient(50% 50% at 50% 50%, #005DA6 0%, rgba(10, 60, 100, 0) 100%);
				z-index       : 0;
			}


			.catalog-card__title {
				color     : #fff;
				transition: all .3s ease;

			}

			.catalog-card__descr {
				color     : rgba(255, 255, 255, 0.3);
				transition: all .3s ease;

			}

			.btn.btn--dark {
				border-color: #fff;
				color       : #fff;

				&:after {
					background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_1404_1605' fill='white'%3E%3Cpath d='M4.9958 4.05775C4.98084 4.14646 4.93366 4.22887 4.86097 4.2933L0.878329 7.84855C0.834573 7.89297 0.780687 7.92926 0.719977 7.95519C0.659267 7.98112 0.593013 7.99615 0.525283 7.99935C0.457552 8.00255 0.389774 7.99386 0.326106 7.9738C0.262438 7.95374 0.204224 7.92274 0.155035 7.88271C0.105847 7.84268 0.0667224 7.79446 0.0400629 7.74101C0.0134034 7.68755 -0.000228405 7.63 2.86102e-06 7.57187C0.00023365 7.51374 0.0143237 7.45626 0.0414076 7.40296C0.0684915 7.34967 0.107998 7.30168 0.157503 7.26194L3.81345 3.99999L0.157503 0.738056C0.107998 0.698314 0.0684915 0.650323 0.0414076 0.597027C0.0143237 0.54373 0.00023365 0.486258 2.86102e-06 0.428126C-0.000228405 0.369995 0.0134034 0.312437 0.0400629 0.258983C0.0667224 0.20553 0.105847 0.157307 0.155035 0.117277C0.204224 0.0772473 0.262438 0.046256 0.326106 0.0262C0.389774 0.00614405 0.457552 -0.00255283 0.525283 0.000646694C0.593013 0.00384622 0.659267 0.0188693 0.719977 0.0448008C0.780687 0.0707323 0.834573 0.10702 0.878329 0.151441L4.86097 3.70668C4.91272 3.7528 4.95171 3.80829 4.97504 3.86906C4.99838 3.92983 5.00548 3.99432 4.9958 4.05775Z'/%3E%3C/mask%3E%3Cpath d='M4.9958 4.05775C4.98084 4.14646 4.93366 4.22887 4.86097 4.2933L0.878329 7.84855C0.834573 7.89297 0.780687 7.92926 0.719977 7.95519C0.659267 7.98112 0.593013 7.99615 0.525283 7.99935C0.457552 8.00255 0.389774 7.99386 0.326106 7.9738C0.262438 7.95374 0.204224 7.92274 0.155035 7.88271C0.105847 7.84268 0.0667224 7.79446 0.0400629 7.74101C0.0134034 7.68755 -0.000228405 7.63 2.86102e-06 7.57187C0.00023365 7.51374 0.0143237 7.45626 0.0414076 7.40296C0.0684915 7.34967 0.107998 7.30168 0.157503 7.26194L3.81345 3.99999L0.157503 0.738056C0.107998 0.698314 0.0684915 0.650323 0.0414076 0.597027C0.0143237 0.54373 0.00023365 0.486258 2.86102e-06 0.428126C-0.000228405 0.369995 0.0134034 0.312437 0.0400629 0.258983C0.0667224 0.20553 0.105847 0.157307 0.155035 0.117277C0.204224 0.0772473 0.262438 0.046256 0.326106 0.0262C0.389774 0.00614405 0.457552 -0.00255283 0.525283 0.000646694C0.593013 0.00384622 0.659267 0.0188693 0.719977 0.0448008C0.780687 0.0707323 0.834573 0.10702 0.878329 0.151441L4.86097 3.70668C4.91272 3.7528 4.95171 3.80829 4.97504 3.86906C4.99838 3.92983 5.00548 3.99432 4.9958 4.05775Z' fill='white'/%3E%3Cpath d='M4.9958 4.05775L5.98436 4.20856L5.98318 4.21633L5.98187 4.22408L4.9958 4.05775ZM4.86097 4.2933L4.19502 3.54729L4.19768 3.54494L4.86097 4.2933ZM0.878329 7.84855L0.165915 7.14679L0.18844 7.12392L0.212384 7.10255L0.878329 7.84855ZM0.525283 7.99935L0.478096 7.00047L0.525283 7.99935ZM0.157503 7.26194L0.823258 8.00811L0.803825 8.02544L0.783517 8.04175L0.157503 7.26194ZM3.81345 3.99999L4.4792 3.25382L5.31551 3.99999L4.47921 4.74616L3.81345 3.99999ZM0.157503 0.738056L0.783517 -0.041756L0.803825 -0.0254531L0.823257 -0.00811531L0.157503 0.738056ZM0.878329 0.151441L0.212385 0.897442L0.18844 0.876067L0.165915 0.8532L0.878329 0.151441ZM4.86097 3.70668L4.1957 4.45329L4.19503 4.45269L4.86097 3.70668ZM5.98187 4.22408C5.9258 4.55648 5.75324 4.83871 5.52426 5.04166L4.19768 3.54494C4.11409 3.61903 4.03587 3.73643 4.00973 3.89143L5.98187 4.22408ZM5.52691 5.0393L1.54427 8.59455L0.212384 7.10255L4.19502 3.5473L5.52691 5.0393ZM1.59074 8.55031C1.45035 8.69284 1.28605 8.8008 1.11278 8.87481L0.327173 7.03557C0.275326 7.05771 0.2188 7.0931 0.165915 7.14679L1.59074 8.55031ZM1.11278 8.87481C0.939571 8.9488 0.755977 8.98957 0.572469 8.99824L0.478096 7.00047C0.430049 7.00274 0.378963 7.01345 0.327173 7.03557L1.11278 8.87481ZM0.572469 8.99824C0.388982 9.00691 0.203418 8.98359 0.0256529 8.9276L0.626559 7.02C0.57613 7.00412 0.526123 6.9982 0.478096 7.00047L0.572469 8.99824ZM0.0256529 8.9276C-0.152162 8.87158 -0.323927 8.78223 -0.476169 8.65833L0.78624 7.1071C0.732374 7.06326 0.677038 7.0359 0.626559 7.02L0.0256529 8.9276ZM-0.476169 8.65833C-0.628739 8.53417 -0.760812 8.3758 -0.854814 8.18732L0.934939 7.29469C0.894258 7.21312 0.840434 7.1512 0.78624 7.1071L-0.476169 8.65833ZM-0.854814 8.18732C-0.949214 7.99804 -1.00086 7.78669 -0.99999 7.5679L0.999995 7.57585C1.0004 7.47332 0.976021 7.37706 0.934939 7.29469L-0.854814 8.18732ZM-0.99999 7.5679C-0.99912 7.34915 -0.945815 7.13831 -0.850086 6.94993L0.932901 7.856C0.974463 7.77421 0.999588 7.67834 0.999995 7.57585L-0.99999 7.5679ZM-0.850086 6.94993C-0.754768 6.76236 -0.62172 6.60512 -0.468511 6.48212L0.783517 8.04175C0.837716 7.99824 0.891752 7.93697 0.932901 7.856L-0.850086 6.94993ZM-0.508252 6.51576L3.1477 3.25382L4.47921 4.74616L0.823258 8.00811L-0.508252 6.51576ZM3.1477 4.74616L-0.508251 1.48423L0.823257 -0.00811531L4.4792 3.25382L3.1477 4.74616ZM-0.468511 1.51787C-0.621721 1.39487 -0.754768 1.23763 -0.850086 1.05006L0.932901 0.143993C0.891752 0.0630183 0.837716 0.00175384 0.783517 -0.041756L-0.468511 1.51787ZM-0.850086 1.05006C-0.945804 0.861703 -0.99912 0.650876 -0.99999 0.432102L0.999995 0.424151C0.999587 0.321639 0.974451 0.225757 0.932901 0.143993L-0.850086 1.05006ZM-0.99999 0.432102C-1.00086 0.213338 -0.949225 0.00196826 -0.854814 -0.18733L0.934939 0.705297C0.976032 0.622906 1.0004 0.526653 0.999995 0.424151L-0.99999 0.432102ZM-0.854814 -0.18733C-0.760811 -0.375809 -0.628737 -0.534178 -0.476169 -0.65834L0.78624 0.892894C0.840432 0.848792 0.894256 0.786869 0.934939 0.705297L-0.854814 -0.18733ZM-0.476169 -0.65834C-0.323868 -0.782283 -0.152086 -0.871607 0.0256529 -0.927597L0.626559 0.979997C0.676962 0.964119 0.732316 0.936778 0.78624 0.892894L-0.476169 -0.65834ZM0.0256529 -0.927597C0.203417 -0.983594 0.388981 -1.00691 0.572469 -0.998239L0.478096 0.999533C0.526124 1.0018 0.576131 0.995882 0.626559 0.979997L0.0256529 -0.927597ZM0.572469 -0.998239C0.755889 -0.989575 0.939493 -0.948839 1.11278 -0.874821L0.327173 0.964423C0.379041 0.986578 0.430137 0.997267 0.478096 0.999533L0.572469 -0.998239ZM1.11278 -0.874821C1.28605 -0.800812 1.45035 -0.692846 1.59074 -0.550319L0.165915 0.8532C0.218799 0.906886 0.275325 0.942277 0.327173 0.964423L1.11278 -0.874821ZM1.54427 -0.594561L5.52691 2.96068L4.19503 4.45269L0.212385 0.897442L1.54427 -0.594561ZM5.52624 2.96008C5.68914 3.10524 5.82435 3.29125 5.90857 3.51054L4.04152 4.22757C4.07906 4.32533 4.1363 4.40036 4.1957 4.45329L5.52624 2.96008ZM5.90857 3.51054C5.99322 3.73097 6.02062 3.97087 5.98436 4.20856L4.00724 3.90695C3.99033 4.01776 4.00354 4.12868 4.04152 4.22757L5.90857 3.51054Z' fill='%23fff' mask='url(%23path-1-inside-1_1404_1605)'/%3E%3C/svg%3E%0A");

				}

				&:hover {
					@media (min-width: 1024px) {
						cursor      : pointer;
						border-color: $c-primary-2;
						color       : $c-primary-2;

						&:after {
							background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_1404_1605' fill='white'%3E%3Cpath d='M4.9958 4.05775C4.98084 4.14646 4.93366 4.22887 4.86097 4.2933L0.878329 7.84855C0.834573 7.89297 0.780687 7.92926 0.719977 7.95519C0.659267 7.98112 0.593013 7.99615 0.525283 7.99935C0.457552 8.00255 0.389774 7.99386 0.326106 7.9738C0.262438 7.95374 0.204224 7.92274 0.155035 7.88271C0.105847 7.84268 0.0667224 7.79446 0.0400629 7.74101C0.0134034 7.68755 -0.000228405 7.63 2.86102e-06 7.57187C0.00023365 7.51374 0.0143237 7.45626 0.0414076 7.40296C0.0684915 7.34967 0.107998 7.30168 0.157503 7.26194L3.81345 3.99999L0.157503 0.738056C0.107998 0.698314 0.0684915 0.650323 0.0414076 0.597027C0.0143237 0.54373 0.00023365 0.486258 2.86102e-06 0.428126C-0.000228405 0.369995 0.0134034 0.312437 0.0400629 0.258983C0.0667224 0.20553 0.105847 0.157307 0.155035 0.117277C0.204224 0.0772473 0.262438 0.046256 0.326106 0.0262C0.389774 0.00614405 0.457552 -0.00255283 0.525283 0.000646694C0.593013 0.00384622 0.659267 0.0188693 0.719977 0.0448008C0.780687 0.0707323 0.834573 0.10702 0.878329 0.151441L4.86097 3.70668C4.91272 3.7528 4.95171 3.80829 4.97504 3.86906C4.99838 3.92983 5.00548 3.99432 4.9958 4.05775Z'/%3E%3C/mask%3E%3Cpath d='M4.9958 4.05775C4.98084 4.14646 4.93366 4.22887 4.86097 4.2933L0.878329 7.84855C0.834573 7.89297 0.780687 7.92926 0.719977 7.95519C0.659267 7.98112 0.593013 7.99615 0.525283 7.99935C0.457552 8.00255 0.389774 7.99386 0.326106 7.9738C0.262438 7.95374 0.204224 7.92274 0.155035 7.88271C0.105847 7.84268 0.0667224 7.79446 0.0400629 7.74101C0.0134034 7.68755 -0.000228405 7.63 2.86102e-06 7.57187C0.00023365 7.51374 0.0143237 7.45626 0.0414076 7.40296C0.0684915 7.34967 0.107998 7.30168 0.157503 7.26194L3.81345 3.99999L0.157503 0.738056C0.107998 0.698314 0.0684915 0.650323 0.0414076 0.597027C0.0143237 0.54373 0.00023365 0.486258 2.86102e-06 0.428126C-0.000228405 0.369995 0.0134034 0.312437 0.0400629 0.258983C0.0667224 0.20553 0.105847 0.157307 0.155035 0.117277C0.204224 0.0772473 0.262438 0.046256 0.326106 0.0262C0.389774 0.00614405 0.457552 -0.00255283 0.525283 0.000646694C0.593013 0.00384622 0.659267 0.0188693 0.719977 0.0448008C0.780687 0.0707323 0.834573 0.10702 0.878329 0.151441L4.86097 3.70668C4.91272 3.7528 4.95171 3.80829 4.97504 3.86906C4.99838 3.92983 5.00548 3.99432 4.9958 4.05775Z' fill='white'/%3E%3Cpath d='M4.9958 4.05775L5.98436 4.20856L5.98318 4.21633L5.98187 4.22408L4.9958 4.05775ZM4.86097 4.2933L4.19502 3.54729L4.19768 3.54494L4.86097 4.2933ZM0.878329 7.84855L0.165915 7.14679L0.18844 7.12392L0.212384 7.10255L0.878329 7.84855ZM0.525283 7.99935L0.478096 7.00047L0.525283 7.99935ZM0.157503 7.26194L0.823258 8.00811L0.803825 8.02544L0.783517 8.04175L0.157503 7.26194ZM3.81345 3.99999L4.4792 3.25382L5.31551 3.99999L4.47921 4.74616L3.81345 3.99999ZM0.157503 0.738056L0.783517 -0.041756L0.803825 -0.0254531L0.823257 -0.00811531L0.157503 0.738056ZM0.878329 0.151441L0.212385 0.897442L0.18844 0.876067L0.165915 0.8532L0.878329 0.151441ZM4.86097 3.70668L4.1957 4.45329L4.19503 4.45269L4.86097 3.70668ZM5.98187 4.22408C5.9258 4.55648 5.75324 4.83871 5.52426 5.04166L4.19768 3.54494C4.11409 3.61903 4.03587 3.73643 4.00973 3.89143L5.98187 4.22408ZM5.52691 5.0393L1.54427 8.59455L0.212384 7.10255L4.19502 3.5473L5.52691 5.0393ZM1.59074 8.55031C1.45035 8.69284 1.28605 8.8008 1.11278 8.87481L0.327173 7.03557C0.275326 7.05771 0.2188 7.0931 0.165915 7.14679L1.59074 8.55031ZM1.11278 8.87481C0.939571 8.9488 0.755977 8.98957 0.572469 8.99824L0.478096 7.00047C0.430049 7.00274 0.378963 7.01345 0.327173 7.03557L1.11278 8.87481ZM0.572469 8.99824C0.388982 9.00691 0.203418 8.98359 0.0256529 8.9276L0.626559 7.02C0.57613 7.00412 0.526123 6.9982 0.478096 7.00047L0.572469 8.99824ZM0.0256529 8.9276C-0.152162 8.87158 -0.323927 8.78223 -0.476169 8.65833L0.78624 7.1071C0.732374 7.06326 0.677038 7.0359 0.626559 7.02L0.0256529 8.9276ZM-0.476169 8.65833C-0.628739 8.53417 -0.760812 8.3758 -0.854814 8.18732L0.934939 7.29469C0.894258 7.21312 0.840434 7.1512 0.78624 7.1071L-0.476169 8.65833ZM-0.854814 8.18732C-0.949214 7.99804 -1.00086 7.78669 -0.99999 7.5679L0.999995 7.57585C1.0004 7.47332 0.976021 7.37706 0.934939 7.29469L-0.854814 8.18732ZM-0.99999 7.5679C-0.99912 7.34915 -0.945815 7.13831 -0.850086 6.94993L0.932901 7.856C0.974463 7.77421 0.999588 7.67834 0.999995 7.57585L-0.99999 7.5679ZM-0.850086 6.94993C-0.754768 6.76236 -0.62172 6.60512 -0.468511 6.48212L0.783517 8.04175C0.837716 7.99824 0.891752 7.93697 0.932901 7.856L-0.850086 6.94993ZM-0.508252 6.51576L3.1477 3.25382L4.47921 4.74616L0.823258 8.00811L-0.508252 6.51576ZM3.1477 4.74616L-0.508251 1.48423L0.823257 -0.00811531L4.4792 3.25382L3.1477 4.74616ZM-0.468511 1.51787C-0.621721 1.39487 -0.754768 1.23763 -0.850086 1.05006L0.932901 0.143993C0.891752 0.0630183 0.837716 0.00175384 0.783517 -0.041756L-0.468511 1.51787ZM-0.850086 1.05006C-0.945804 0.861703 -0.99912 0.650876 -0.99999 0.432102L0.999995 0.424151C0.999587 0.321639 0.974451 0.225757 0.932901 0.143993L-0.850086 1.05006ZM-0.99999 0.432102C-1.00086 0.213338 -0.949225 0.00196826 -0.854814 -0.18733L0.934939 0.705297C0.976032 0.622906 1.0004 0.526653 0.999995 0.424151L-0.99999 0.432102ZM-0.854814 -0.18733C-0.760811 -0.375809 -0.628737 -0.534178 -0.476169 -0.65834L0.78624 0.892894C0.840432 0.848792 0.894256 0.786869 0.934939 0.705297L-0.854814 -0.18733ZM-0.476169 -0.65834C-0.323868 -0.782283 -0.152086 -0.871607 0.0256529 -0.927597L0.626559 0.979997C0.676962 0.964119 0.732316 0.936778 0.78624 0.892894L-0.476169 -0.65834ZM0.0256529 -0.927597C0.203417 -0.983594 0.388981 -1.00691 0.572469 -0.998239L0.478096 0.999533C0.526124 1.0018 0.576131 0.995882 0.626559 0.979997L0.0256529 -0.927597ZM0.572469 -0.998239C0.755889 -0.989575 0.939493 -0.948839 1.11278 -0.874821L0.327173 0.964423C0.379041 0.986578 0.430137 0.997267 0.478096 0.999533L0.572469 -0.998239ZM1.11278 -0.874821C1.28605 -0.800812 1.45035 -0.692846 1.59074 -0.550319L0.165915 0.8532C0.218799 0.906886 0.275325 0.942277 0.327173 0.964423L1.11278 -0.874821ZM1.54427 -0.594561L5.52691 2.96068L4.19503 4.45269L0.212385 0.897442L1.54427 -0.594561ZM5.52624 2.96008C5.68914 3.10524 5.82435 3.29125 5.90857 3.51054L4.04152 4.22757C4.07906 4.32533 4.1363 4.40036 4.1957 4.45329L5.52624 2.96008ZM5.90857 3.51054C5.99322 3.73097 6.02062 3.97087 5.98436 4.20856L4.00724 3.90695C3.99033 4.01776 4.00354 4.12868 4.04152 4.22757L5.90857 3.51054Z' fill='%23ED1D24' mask='url(%23path-1-inside-1_1404_1605)'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}
		}
	}

	.catalog-card__title {
		color   : inherit;
		position: relative;
	}

	.catalog-card__descr {
		color   : rgba(0, 0, 0, 0.3);
		position: relative;
	}

	.catalog-card__control {
		margin-top: 27px;
	}

}

.catalog-card--grid.catalog-card--yukon {
	&:before {
		position         : absolute;
		content          : '';
		top              : 0;
		right            : 0;
		bottom           : 0;
		left             : 0;
		background-image : url('/local/templates/html/images/grid-card-hover.jpg');
		background-size  : cover;
		background-repeat: no-repeat;
		pointer-events   : none;
		z-index          : 0;
		opacity          : 0;

	}

	&:hover {
		@media (min-width: 1024px) {
			cursor: pointer;

			&:before {
				position  : absolute;
				content   : '';
				transition: all .3s ease;
				opacity   : 1;
			}
		}
	}
}