@import "src/assets/css/vars_mixins/vars_mixins";

.product-slider-section{

}

.product-slider {

	
	z-index: unset !important;
	height : 440px;
	margin : 0px -10px;

	@media (max-width: $xs - 1){
		overflow: hidden;
	}

	@media (max-width: $md - 1){
		height: auto;
		margin: 0px -4px;
		margin-right: 0px;
	}

	@media (max-width: $xs - 1){
			margin-right: -10px;
	}

	&__container {
		padding       : 16px 12px;
		padding-bottom: 24px;
		margin        : -16px -12px;
		margin-bottom : -24px;
		z-index       : 10;

		@media (max-width: $md - 1){
			padding       : 0px 0px;
			margin        : 0px 0px;
		}

	}

	.product-card-wrap {
		padding: 0px 12px;
		width  : calc(100% / 5);
		flex   : 0 0 auto;
		@media (max-width: $xl - 1){
			width  : calc(100% / 4);
		}

		@media (max-width: $lg - 1){
			width  : calc(100% / 3);
		}

		@media (max-width: $md - 1){
			width: 272px;
			padding: 0px 4px;
			display: flex;
		}

		&--news {
			width  : calc(100% / 4);
			display: flex;

			@media (max-width: $lg - 1){
				width  : calc(100% / 3);
			}

			@media (max-width: $md - 1){
				width: 272px;
				padding: 0px 4px;
				display: flex;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {

		position     : absolute;
		z-index      : 10;
		box-shadow   : 0px 2px 10px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		top          : 80px;
	}

	.swiper-button-next {
		right    : 0;
		transform: translateX(50%);
	}

	.swiper-button-prev {
		left     : 0;
		transform: translateX(-50%);
	}

	.swiper-pagination {
		display: none;
	}
}

.product-slider-section-bg {
	padding         : 52px 0px;
	background-color: #FAFAFB;

	@media (max-width: $md - 1){
		padding: 40px 0px;
	}
	@media (max-width: $sm - 1){
		padding: 25px 0px;
	}
}