+include-style('line-content')
+include-script('line-content')
.line-popup-video.fhd-container
	.container
		.line-popup-video__inner
			.line-popup-video__content
				+section-budge({
					mod: 'section-budge--white',
					title: 'Image Detail Boost'
				})
				.line-popup-video__descr.fz-20 Оригинальная программная функция улучшенной прорисовки объектов в сцене наблюдения. Image Detail Boost существенно увеличивает резкость наблюдаемых объектов, четко обозначает контуры, с высокой информативностью визуализирует мелкие объекты (ветки, сухостой, провода) в поле зрения и области с незначительной разницей температур. Функция особо применима для качественного определения трофейности зверя на охоте.
				a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").js-video-play
					+lazy-img({
						wrap_mod: 'line-popup-video__popup',
						img: 'images/line-vide-popup-screensaver.png'
					})








