+include-style('line-content')
.line-feaautres.fhd-container
	.container
		.line-feaautres__inner
			+section-budge({
				mod: 'section-budge--white',
				title: 'Встроенный фото- и видеорекордер'
			})
		.line-feaautres__flex
			.line-feaautres__left
				+lazy-img({
					img: '/images/line-feature-img.png',
					placeholder: pixel
				})
			.line-feaautres__right 
				.line-feaautres__text.fz-20 Сохраните на память лучшие моменты наблюдения  и делитесь ими с друзьями и коллегами по охоте.  Достаточно одного нажатия кнопки, чтобы сделать фотоснимок интересной ситуации или начать запись видеоролика.  16 Гб внутренней памяти дадут возможность записи  многих часов видео и десятков тысяч фотографий.