+include-style('line-content')
.line-peculiarities.fhd-container
	.container
		.line-peculiarities__inner
			+section-budge({
				mod: 'section-budge--white',
				title: 'Другие особенности'
			})
		.line-peculiarities__overflow
			.line-peculiarities__list
				.line-peculiarities__item-wrap
					.line-peculiarities__item
						+lazy-img({
							img: '/images/peculiarities-1.png',
							wrap_mod: 'line-peculiarities__img-wrap',
						})
					.line-peculiarities__title Полноцветный HD AMOLED-дисплей
					.line-peculiarities__descr Новый цветной HD AMOLED-дисплей характеризуется улучшенной цветопередачей, экономичным энергопотреблением, высоким контрастом  и коротким временем отклика, обеспечивая четкое и плавное изображение при наблюдении в движении или в холодных условиях.
				.line-peculiarities__item-wrap
					.line-peculiarities__item
						+lazy-img({
							img: '/images/peculiarities-2.png',
							wrap_mod: 'line-peculiarities__img-wrap',
						})
					.line-peculiarities__title Прогрессивная система питания B-pack Mini (батарея APS5)
					.line-peculiarities__descr Быстросменная перезаряжаемая Li-Ion батарея высокой ёмкости APS5 дает более 6 часов непрерывной работы Axion XQ на одной зарядке. Безопасность эксплуатации и долговечность батарей APS5 обеспечиваются встроенными системами электронной защиты. 
				.line-peculiarities__item-wrap
					.line-peculiarities__item
						+lazy-img({
							img: '/images/peculiarities-3.png',
							wrap_mod: 'line-peculiarities__img-wrap',
						})
					.line-peculiarities__title Режимы наблюдения
					.line-peculiarities__descr Axion XQ - тепловизоры с гибкой оптимизацией изображения. Погода, время суток, чистота атмосферы, температурный контраст между объектом и фоном влияют на эффективность наблюдения. 
				.line-peculiarities__item-wrap
					.line-peculiarities__item
						+lazy-img({
							img: '/images/peculiarities-4.png',
							wrap_mod: 'line-peculiarities__img-wrap',
						})
					.line-peculiarities__title 8 цветовых палитр
					.line-peculiarities__descr Выбор из восьми цветовых палитр делает наблюдение более комфортным, решает разные задачи и позволяет реагировать на изменение условий наблюдения. 
				.line-peculiarities__item-wrap
					.line-peculiarities__item
						+lazy-img({
							img: '/images/peculiarities-5.png',
							wrap_mod: 'line-peculiarities__img-wrap',
						})
					.line-peculiarities__title Wi-Fi. Интеграция с мобильными устройствами.
					.line-peculiarities__descr Встроенный модуль Wi-Fi свяжет Axion XQ38 cо смартфонами или планшетами на базе ОС Android и iOS при помощи мобильного приложения Stream Vision. 
				.line-peculiarities__item-wrap
					.line-peculiarities__item
						+lazy-img({
							img: '/images/peculiarities-6.png',
							wrap_mod: 'line-peculiarities__img-wrap',
						})
					.line-peculiarities__title Функция «Кадр в кадре»
					.line-peculiarities__descr Функция "Кадр в кадре" помещает на дисплее тепловизора вверху дополнительное окно, в котором демонстрируется центральная область видимого поля зрения с увеличением.
	.container
		.line-review
			.line-review__inner
				+lazy-img({
					wrap_mod: 'line-review__image-wrap',
					img: '/images/line-review.jpg',
					placeholder: pixel
				})
				.line-review__title Обзор Pulsar Axion читайте в нашем блоге
				.line-review__control
					a(href="#").btn.btn--primary.btn--dark Читать обзор