+include-style('line-content')
.line-content.line-content--1.fhd-container
	+lazy-img({
		wrap_mod: 'line-content__bg-img-wrap',
		img: '/images/line-content.jpg',
		placeholder: pixel
	})
	.container
		.line-content__inner
			.line-content__item.line-content__item--1.line-content__item--white
				.line-content__icon
					<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
					</svg>
				.line-content__title Встроенный высокоточный лазерный дальномер
				.line-content__descr Понимание дистанции до цели — существенный фактор для принятия правильных решений. Встроенный лазерный дальномер с дальностью действия до 1 километра позволяет измерять расстояния в режиме одиночных замеров  и непрерывного сканирования с точностью ±1 метр для быстрой и безошибочной оценки ситуации.
				.line-content__budge * Есть только в модели Pulsar Axion XQ38 LRF
.line-content.line-content--2.fhd-container
	+lazy-img({
		wrap_mod: 'line-content__bg-img-wrap',
		img: '/images/line-content-2.jpg',
		placeholder: pixel
	})
	.container
		.line-content__inner
			.line-content__item.line-content__item--2.line-content__item--black
				.line-content__icon
					<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
					</svg>
				.line-content__title Высокочувствительный тепловизионный сенсор
				.line-content__descr Микроболометрический сенсор с NETD <40мК обеспечивает распознавание деталей в условиях низкого температурного контраста. Дождь, снег, туман, раннее утро после холодной ночи — тепловизоры Axion XQ отчетливо показывают самые незначительные температурные отличия.
.line-content.line-content--3.fhd-container
	+lazy-img({
		wrap_mod: 'line-content__bg-img-wrap',
		img: '/images/line-content-5.png',
		placeholder: pixel
	})
	.container
		.line-content__inner
			.line-content__item.line-content__item--1.line-content__item--black
				.line-content__icon
					<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
					</svg>
				.line-content__title Сверхпрочный стальной корпус из магниевого сплава
				.line-content__descr Легкий корпус из магниевого сплава отличается высокой структурной прочностью и устойчивостью  к внешним механическим и климатическим воздействиям.  Малый вес Axion XQ делает его идеальным вариантом  для долгих походов, когда необходимо легкое оборудование с большими возможностями.
.line-content.line-content--4.fhd-container
		.line-content__inner
			+section-budge-2({
				title: "Тепло",
				subtitle: "видение"
			})
			+lazy-img({
				wrap_mod: 'line-content__bg-img-wrap',
				img: '/images/line-content-5.jpg',
				placeholder: pixel
			})
			.container
				.line-content__item.line-content__item--2.line-content__item--white
					.line-content__icon
						<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
						</svg>
					.line-content__title Дальность обнаружения <span>свыше 1300 м</span>
					.line-content__descr Легкий корпус из магниевого сплава отличается высокой структурной прочностью и устойчивостью  к внешним механическим и климатическим воздействиям.  Малый вес Axion XQ делает его идеальным вариантом  для долгих походов, когда необходимо легкое оборудование с большими возможностями.