+include-style('line-content')
.line-specifications.fhd-container
	+lazy-img({
		wrap_mod: 'line-specifications__bg',
		img: '/images/specifications-bg-2.jpg',
		placeholder: pixel
	})
	.container
		.line-specifications__inner
			.line-specifications__icon
				<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
				</svg>
			.line-specifications__title Большое оптическое увеличение
			.line-specifications__subtitle Axion обеспечивает самое высокое оптическое увеличение в классе компактных телевизионных монокуляров. Значительное оптическое увеличение может быть повышено с помощью цифрового зума, чтобы обеспечить наилучшую идентификацию наблюдаемых объектов.
			.line-specifications__table
				.line-specifications__prop AXION XQ38:
				.line-specifications__val 3.5 – 14 (x4 zoom)
				.line-specifications__prop AXION XM30S:
				.line-specifications__val 4.5 – 18 (x4 zoom)
				.line-specifications__prop AXION KEY XM22:
				.line-specifications__val 2 – 8 (x4 zoom)
				.line-specifications__prop AXION KEY XM30:
				.line-specifications__val 2.5 – 10 (x4 zoom)
				.line-specifications__prop AXION LRF XQ38:
				.line-specifications__val 3.5 – 14 (x4 zoom)









