+include-style('line-content')
+include-script('line-content')
.line-waterresistance.fhd-container
	.container
		.line-waterresistance__inner
			+section-budge({
				mod: 'section-budge--white',
				title: 'Полная водонепроницаемость IPX7'
			})
			.line-waterresistance__descr.fz-20 Полностью водонепроницаемый корпус защитит Axion от проливного дождя, снега и тумана. Тепловизор Axion XQ будет работать даже после получасового погружения в воду на глубину 1 м.
			+lazy-img({
				wrap_mod: 'line-waterresistance__img',
				img: '/images/waterresistance.png'
			})