@import "src/assets/css/vars_mixins/vars_mixins";

.line-content {
	padding-top   : 165px;
	padding-bottom: 175px;
	position      : relative;

	@media (max-width: $md - 1) {
		padding-top   : 73px;
		padding-bottom: 155px;
	}

	&__bg-img-wrap {
		position: absolute;
		top     : 0;
		right   : 0;
		bottom  : 0;
		left    : 0;

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;
		}
	}

	&__inner {
		position: relative;
		z-index : 2;

	}

	&__icon {
		margin-bottom: 25px;

		@media (max-width: $md - 1) {
			margin       : auto;
			margin-bottom: 17px;
			text-align   : center;
			max-width    : 20px;
		}
	}

	&__title {
		font-weight  : 700;
		font-family  : $f-sec;
		margin-bottom: 25px;
		font-size    : 40px;
		line-height  : 38px;

		@media (max-width: $md - 1) {
			text-align   : center;
			margin-bottom: 34px;

		}

		@media (max-width: $sm - 1) {
			font-size    : 28px;
			line-height  : 28px;
			margin-bottom: 16px;
		}

		span {
			font-size  : 54px;
			font-weight: 900;
			font-family: $f-thir;

			@media (max-width: $sm - 1) {
				font-size: 34px;
			}
		}
	}

	&__descr {
		font-size    : 20px;
		margin-bottom: 52px;

		@media (max-width: $sm - 1) {
			font-size    : 14px;
			margin-bottom: 25px;
		}
	}

	&__budge {
		padding      : 16px 30px;
		border       : 1px solid rgba(255, 255, 255, 0.2);
		box-sizing   : border-box;
		filter       : drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
		border-radius: 3px;
		font-size    : 20px;

		@media (max-width: $sm - 1) {
			font-size: 16px;
		}
	}

	&__item {
		position: relative;
		z-index : 3;
	}

	.line-content__item--1 {
		max-width: 480px;

		margin-left: 55%;


		@media (max-width: $md - 1) {
			margin-left: 0;
			max-width  : none;
		}
	}

	.line-content__item--2 {
		max-width   : 580px;
		padding-left: 80px;
		margin-left : 0;

		@media (max-width: $md - 1) {
			margin-left : 0;
			max-width   : none;
			padding-left: 0;
		}
	}
}

.line-content--1 {
	@media (max-width: $md - 1) {
		position: relative;

		&:before {
			position  : absolute;
			content   : '';
			top       : 0;
			right     : 0;
			bottom    : 0;
			left      : 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(image.png);
			z-index   : 1;
		}

		.line-content__bg-img-wrap {
			img {
				object-position: 35% center;
			}
		}
	}
}

.line-content--2 {
	padding-bottom: 230px;

	@media (max-width: $md - 1) {
		padding-bottom: 155px;
	}

	@media (max-width: $sm - 1) {
		display         : flex;
		flex-direction  : column-reverse;
		background-color: #F3F3F3;
		padding-bottom  : 0px;

		.line-content__bg-img-wrap {
			position: relative;
			left    : auto;
			right   : auto;
			height  : 300px;
			top     : auto;
			bottom  : auto;

			img {
				object-position: right center;
			}
		}
	}
}

.line-content--3 {
	position: relative;

	@media (max-width: $md - 1) {
		display       : flex;
		flex-direction: column-reverse;
		padding-bottom: 45px;
	}

	.line-content__bg-img-wrap {
		left  : auto;
		right : 50%;
		top   : auto;
		bottom: auto;

		@media (max-width: $md - 1) {


			position: relative;
			left    : auto;
			right   : auto;
			height  : 300px;
			top     : auto;
			bottom  : auto;

			img {
				object-position: right center;
			}

		}

		img {
			max-width : 100%;
			max-height: 100%;
			width     : auto;
			height    : auto;
		}
	}
}

.line-content--4 {
	padding: 0px;

	.line-content__inner {
		position      : relative;
		padding-top   : 238px;
		padding-bottom: 231px;
		max-width     : 1360px;
		margin        : auto;

		@media (max-width: $md - 1) {
			padding-top   : 145px;
			padding-bottom: 80px;
		}
	}

	.line-content__title {
		@media (max-width: $sm - 1) {
			max-width    : 300px;
			margin       : auto;
			margin-bottom: 27px;
		}
	}

	.line-content__bg-img-wrap {
		@media (max-width: $sm - 1) {
			img {
				width          : 120%;
				height         : 135%;
				object-position: 55% 0%;
			}
		}
	}

}

.line-content__item--white {
	& * {
		color: #fff;
	}
}

.line-content__item--black {
	& * {
		color: #000;
	}
}


.line-specifications {
	position      : relative;
	padding-top   : 265px;
	padding-bottom: 66px;
	margin-top    : -175px;

	@media (max-width: $md - 1) {
		padding   : 0px;
		margin-top: -143px;
	}


	&__bg {
		position             : absolute;
		left                 : 0;
		right                : 0;
		top                  : 0;
		bottom               : 0;
		display              : flex;
		align-items          : center;
		justify-content      : center;
		background-blend-mode: lighten;

		@media (max-width: $md - 1) {
			position: relative;
			top     : auto;
			left    : auto;
			right   : auto;
			bottom  : auto;
			height  : 800px;
		}

		img {
			width                : 100%;
			height               : 100%;
			object-fit           : cover;
			background-blend-mode: lighten;
		}
	}

	&__inner {
		position : relative;
		max-width: 480px;

		@media (max-width: $md - 1) {
			margin-top: -270px;
		}
	}

	&__icon {
		@media (max-width: $md - 1) {
			text-align: center;
		}
	}

	&__title {
		font-size    : 40px;
		font-weight  : 700;
		font-family  : $f-sec;
		margin-top   : 30px;
		margin-bottom: 24px;
		color        : #fff;

		@media (max-width: $md - 1) {
			text-align: center;
			margin-top: 16px;
		}

		@media (max-width: $sm - 1) {
			font-size  : 28px;
			line-height: 28px;
			max-width  : 300px;
		}
	}

	&__subtitle {
		font-size    : 20px;
		line-height  : 1.5;
		color        : #fff;
		margin-bottom: 57px;

		@media (max-width: $sm - 1) {
			font-size    : 14px;
			margin-bottom: 37px;
		}
	}

	&__table {
		padding              : 43px;
		border               : 1px solid rgba(255, 255, 255, 0.2);
		box-sizing           : border-box;
		filter               : drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
		border-radius        : 3px;
		display              : grid;
		grid-template-columns: minmax(100px, max-content) minmax(100px, max-content);
		padding-bottom       : 18px;

		@media (max-width: $sm - 1) {
			padding              : 27px;
			grid-template-columns: 1fr 1fr;
			padding-bottom       : 2px;
		}

		& * {
			color: #fff;
		}


	}

	&__prop,
	&__val {
		margin-bottom: 25px;



		padding-right: 45px;

		@media (max-width: $sm - 1) {
			padding-right: 0px;
		}
	}

	&__inner {
		position: relative;
	}


}

.line-feaautres {
	padding-top  : 66px;
	margin-bottom: 78px;

	@media (max-width: $sm - 1) {
		padding-top  : 53px;
		margin-bottom: 17px;
	}

	&__flex {
		display    : flex;
		align-items: center;
		margin-top : 27px;

		@media (max-width: $lg - 1) {
			flex-direction: column-reverse;
		}

	}

	&__left,
	&__right {
		width: 50%;

		@media (max-width: $lg - 1) {
			width: auto;
		}
	}

	&__left {
		@media (max-width: $md - 1) {
			margin-top: 20px;
		}
	}

	&__right {}

	&__text {
		color: #fff;

	}
}

.line-popup-video {
	margin-bottom: 59px;

	.container {
		position: relative;

	}

	&__inner {
		background-color: #001740;
		border-radius   : 2px;
		padding-bottom  : 95px;
		padding-top     : 55px;
		position        : relative;
		z-index         : 2;

		@media (max-width: $sm - 1) {
			padding-top   : 40px;
			padding-bottom: 20px;
		}

		&:before {
			position  : absolute;
			content   : '';
			top       : 0;
			left      : 0;
			right     : 0;
			height    : 500px;
			z-index   : 0;
			background: linear-gradient(180deg, #005DA6 0%, rgba(10, 60, 100, 0) 100%);

			@media (max-width: $sm - 1) {
				height: 306px;
			}
		}

	}

	&__content {
		position: relative;
		z-index : 1;
	}

	&__descr {
		color        : #fff;
		text-align   : center;
		max-width    : 850px;
		margin       : auto;
		margin-top   : 42px;
		margin-bottom: 42px;
		padding      : 0px 24px;

		@media (max-width: $sm - 1) {
			margin-top: 20px;
			text-align: left;
		}
	}

	&__popup {
		transition: all .3s ease;

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				filter: brightness(130%)
			}
		}
	}
}

.js-video-play {
	display: block;
}


.line-waterresistance {
	margin-top   : 118px;
	margin-bottom: 64px;

	@media (max-width: $sm - 1) {
		margin-top   : 60px;
		margin-bottom: 57px;
	}

	&__descr {
		margin    : auto;
		margin-top: 30px;
		max-width : 916px;

		color: #fff
	}

	&__img {
		margin-top: 60px;

		@media (max-width: $sm - 1) {
			margin-top  : 20px;
			margin-left : -16px;
			margin-right: -16px;
		}
	}
}

.line-peculiarities {
	padding-bottom: 80px;
	position      : relative;

	&__overflow {
		overflow: hidden;
	}

	&__list {
		display     : flex;
		flex-wrap   : wrap;
		margin-top  : 45px;
		margin-left : -60px;
		margin-right: -60px;

		@media (max-width: $xl - 1) {
			margin-left : -30px;
			margin-right: -30px;
		}

		@media (max-width: $sm - 1) {
			margin-left : 0;
			margin-right: 0;
		}
	}

	.line-peculiarities__item-wrap {
		width        : 33.33%;
		padding      : 0px 60px;
		margin-bottom: 80px;



		@media (max-width: $md - 1) {
			width: 50%;
		}

		@media (max-width: $sm - 1) {
			width        : auto;
			margin-bottom: 20px;
		}

		@media (max-width: $xs - 1) {
			padding: 0px;
		}
	}

	&__img-wrap {
		height       : 160px;
		margin-bottom: 34px;

		img {
			max-height: 100%;
			max-width : 100%;
		}
	}

	&__title {
		font-size    : 20px;
		color        : #fff;
		margin-bottom: 16px;
	}

	&__descr {
		font-size: 16px;
		color    : #6B6B6B;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}
}

.line-review {
	padding      : 41px 48px;
	background   : #FFFFFF;
	box-shadow   : 0px 4px 50px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	position     : absolute;
	max-width    : 1360px;
	width        : 100%;
	transform    : translate(0%, 50%);

	@media (max-width: $md - 1) {
		transform: translate(0%, 80%);
	}

	bottom : 0;
	z-index: 2;


	@media (max-width: $xl - 1) {
		max-width: 1168px;
	}

	@media (max-width: $lg - 1) {
		max-width: 992px;
	}

	@media (max-width: $md - 1) {
		max-width: 736px;
	}

	@media (max-width: $md - 1) {

		padding: 48px 16px;
	}

	@media (max-width: $sm - 1) {
		width: calc(100% - 32px);
	}

	&__inner {
		display    : flex;
		align-items: center;

		@media (max-width: $md - 1) {
			flex-direction: column;
		}

	}

	&__title {
		font-family  : $f-sec;
		font-size    : 40px;
		font-weight  : 700;
		padding-right: 40px;

		@media (max-width: $md - 1) {
			margin-bottom: 24px;
		}

		@media (max-width: $sm - 1) {
			font-size    : 28px;
			line-height  : 30px;
			text-align   : center;
			padding-right: 0px;

		}
	}

	&__image-wrap {
		flex        : 0 0 185px;
		max-width   : 185px;
		margin-right: 60px;

		@media (max-width: $md - 1) {
			margin-right : 0px;
			margin-bottom: 20px;
			flex         : 0 0 auto;
		}
	}

	&__control {
		margin-left: auto;

		@media (max-width: $md - 1) {
			margin-left: 0px;
		}
	}
}

/* Magnific Popup CSS */
.mfp-bg {
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	z-index   : 1042;
	overflow  : hidden;
	position  : fixed;
	background: #0b0b0b;
	opacity   : 0.8;
}

.mfp-wrap {
	top                        : 0;
	left                       : 0;
	width                      : 100%;
	height                     : 100%;
	z-index                    : 1043;
	position                   : fixed;
	outline                    : none !important;
	-webkit-backface-visibility: hidden;
}

.mfp-container {
	text-align: center;
	position  : absolute;
	width     : 100%;
	height    : 100%;
	left      : 0;
	top       : 0;
	padding   : 0 8px;
	box-sizing: border-box;
}

.mfp-container:before {
	content       : "";
	display       : inline-block;
	height        : 100%;
	vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
	display: none;
}

.mfp-content {
	position      : relative;
	display       : inline-block;
	vertical-align: middle;
	margin        : 0 auto;
	text-align    : left;
	z-index       : 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width : 100%;
	cursor: auto;
}

.mfp-ajax-cur {
	cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
	cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select   : none;
	user-select        : none;
}

.mfp-loading.mfp-figure {
	display: none;
}

.mfp-hide {
	display: none !important;
}

.mfp-preloader {
	color     : #ccc;
	position  : absolute;
	top       : 50%;
	width     : auto;
	text-align: center;
	margin-top: -0.8em;
	left      : 8px;
	right     : 8px;
	z-index   : 1044;
}

.mfp-preloader a {
	color: #ccc;
}

.mfp-preloader a:hover {
	color: #fff;
}

.mfp-s-ready .mfp-preloader {
	display: none;
}

.mfp-s-error .mfp-content {
	display: none;
}

button.mfp-close,
button.mfp-arrow {
	overflow          : visible;
	cursor            : pointer;
	background        : transparent;
	border            : 0;
	-webkit-appearance: none;
	display           : block;
	outline           : none;
	padding           : 0;
	z-index           : 1046;
	box-shadow        : none;
	touch-action      : manipulation;
}

button::-moz-focus-inner {
	padding: 0;
	border : 0;
}

.mfp-close {
	width          : 44px;
	height         : 44px;
	line-height    : 44px;
	position       : absolute;
	right          : 0;
	top            : 0;
	text-decoration: none;
	text-align     : center;
	opacity        : 0.65;
	padding        : 0 0 18px 10px;
	color          : #fff;
	font-style     : normal;
	font-size      : 28px;
	font-family    : Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
	opacity: 1;
}

.mfp-close:active {
	top: 1px;
}

.mfp-close-btn-in .mfp-close {
	color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color        : #fff;
	right        : -6px;
	text-align   : right;
	padding-right: 6px;
	width        : 100%;
}

.mfp-counter {
	position   : absolute;
	top        : 0;
	right      : 0;
	color      : #ccc;
	font-size  : 12px;
	line-height: 18px;
	white-space: nowrap;
}

.mfp-arrow {
	position                   : absolute;
	opacity                    : 0.65;
	margin                     : 0;
	top                        : 50%;
	margin-top                 : -55px;
	padding                    : 0;
	width                      : 90px;
	height                     : 110px;
	-webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
	margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
	opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
	content    : "";
	display    : block;
	width      : 0;
	height     : 0;
	position   : absolute;
	left       : 0;
	top        : 0;
	margin-top : 35px;
	margin-left: 35px;
	border     : medium inset transparent;
}

.mfp-arrow:after {
	border-top-width   : 13px;
	border-bottom-width: 13px;
	top                : 8px;
}

.mfp-arrow:before {
	border-top-width   : 21px;
	border-bottom-width: 21px;
	opacity            : 0.7;
}

.mfp-arrow-left {
	left: 0;
}

.mfp-arrow-left:after {
	border-right: 17px solid #fff;
	margin-left : 31px;
}

.mfp-arrow-left:before {
	margin-left : 25px;
	border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
	right: 0;
}

.mfp-arrow-right:after {
	border-left: 17px solid #fff;
	margin-left: 39px;
}

.mfp-arrow-right:before {
	border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
	padding-top   : 40px;
	padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width      : 100%;
	max-width  : 900px;
}

.mfp-iframe-holder .mfp-close {
	top: -40px;
}

.mfp-iframe-scaler {
	width      : 100%;
	height     : 0;
	overflow   : hidden;
	padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
	position  : absolute;
	display   : block;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000;
}

/* Main image in popup */
img.mfp-img {
	width      : auto;
	max-width  : 100%;
	height     : auto;
	display    : block;
	line-height: 0;
	box-sizing : border-box;
	padding    : 40px 0 40px;
	margin     : 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
	line-height: 0;
}

.mfp-figure:after {
	content   : "";
	position  : absolute;
	left      : 0;
	top       : 40px;
	bottom    : 40px;
	display   : block;
	right     : 0;
	width     : auto;
	height    : auto;
	z-index   : -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444;
}

.mfp-figure small {
	color      : #bdbdbd;
	display    : block;
	font-size  : 12px;
	line-height: 14px;
}

.mfp-figure figure {
	margin: 0;
}

.mfp-bottom-bar {
	margin-top: -36px;
	position  : absolute;
	top       : 100%;
	left      : 0;
	width     : 100%;
	cursor    : auto;
}

.mfp-title {
	text-align   : left;
	line-height  : 18px;
	color        : #f3f3f3;
	word-wrap    : break-word;
	padding-right: 36px;
}

.mfp-image-holder .mfp-content {
	max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {

	/**
  	  * Remove all paddings around the image on small screen
  	  */
	.mfp-img-mobile .mfp-image-holder {
		padding-left : 0;
		padding-right: 0;
	}

	.mfp-img-mobile img.mfp-img {
		padding: 0;
	}

	.mfp-img-mobile .mfp-figure:after {
		top   : 0;
		bottom: 0;
	}

	.mfp-img-mobile .mfp-figure small {
		display    : inline;
		margin-left: 5px;
	}

	.mfp-img-mobile .mfp-bottom-bar {
		background: rgba(0, 0, 0, 0.6);
		bottom    : 0;
		margin    : 0;
		top       : auto;
		padding   : 3px 5px;
		position  : fixed;
		box-sizing: border-box;
	}

	.mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0;
	}

	.mfp-img-mobile .mfp-counter {
		right: 5px;
		top  : 3px;
	}

	.mfp-img-mobile .mfp-close {
		top        : 0;
		right      : 0;
		width      : 35px;
		height     : 35px;
		line-height: 35px;
		background : rgba(0, 0, 0, 0.6);
		position   : fixed;
		text-align : center;
		padding    : 0;
	}
}

@media all and (max-width: 900px) {
	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform        : scale(0.75);
	}

	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin        : 0;
	}

	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin        : 100%;
	}

	.mfp-container {
		padding-left : 6px;
		padding-right: 6px;
	}
}