//- Grid
//точки смены устройств
// $xxl: 1680px;
$xl : 1400px;
$lg : 1250px;
$md : 1050px;
$sm : 800px;
$xs : 576px;

//ширины контейнеров
// $xxl-container: 1670px;
$xl-container : 1392px;
$lg-container : 1200px;
$md-container : 1024px;
$sm-container : 768px;
$xs-container : 100%;

$container-max-widths: (xs: 100%,
	sm: $sm-container,
	md: $md-container,
	lg: $lg-container,
	xl: $xl-container,
);

$grid-breakpoints: (xs: 0,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl,
);

// 1/2 отступа между колонками
$grid-gutter-width: 32px;

//количество колонок сетки Добавить!
$grid-columns: 12;


// Fonts
//$f-size: 16px;//base -> 1rem
$f-size: 1rem;
$f-main: 'HalvarMittel',
Arial,
Verdana,
sans-serif;
$f-sec: 'CoreSansD57',
Arial,
Verdana,
sans-serif;
$f-thir: 'CoreSansD77',
Arial,
Verdana,
sans-serif;


// Rem font-sizes
// font-size: rem(20);
@function rem($num) {
	@return strip-unit($num) / 16 * 1rem;
}


// Z-index master list
$zindex-dropdown      : 100 !default;
$zindex-sticky        : 120 !default;
$zindex-fixed         : 130 !default;
$zindex-modal-backdrop: 140 !default;
$zindex-modal         : 150 !default;
$zindex-popover       : 160 !default;
$zindex-tooltip       : 170 !default;
$zindex-preloader     : 180 !default;

// Colors
$bg-main    : #fff;
$bg-hover   : #f8f8f8;
$c-hr       : #ccc;
$bg-inc-mark: #ff9;
$c-sec      : #d15645;

//цвета текста
$c-text : #231F20;
$c-text2: #828282;
$c-link : #fff;
$c-gray : #BDBDBD; 

//основные цвета макета
$c-primary-black: #2A2C2C;
$c-primary-white: #F6F6F6;
$c-primary      : #005DA6;
$c-primary-2    : #ED1D24;
$c-primary-hover: #0B21B1;


$c-error: #ED1D24;
$c-trp  : transparent;

$blue   : #005DA6;
$red    : #ED1D24;

$green  : #379f2f;
$yellow : #e8a12b;
$white  : #fff;
$black  : #000;