mixin accessories-card(args={})
	+include-style('mixin__accessories-card')
	.accessories-card(class= args.mod)
		.accessories-card__inner
			+link-full()
			if (!args.noslider)
				+lazy-img-slider({
					wrap_mod: 'accessories-card__img-wrap',
					img: args.img,
					placeholder: pixel
				})
			else
				+lazy-img({
					wrap_mod: 'accessories-card__img-wrap',
					img: args.img,
					placeholder: pixel
				})
			.accessories-card__title= args.title
			if (args.availability == true)
				.accessories-card__availability
					.accessories-card__availability-icon
						<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.49747 14L8 6.80812L4.69477 6.05482L5.93592 0L0 7.1066L3.10287 8.30051L1.49747 14Z" fill="#ED1D24"/>
						</svg>
					.accessories-card__availability-content В наличии
			if (args.availability == false)
				.accessories-card__availability
					.accessories-card__availability-content По запросу
			if (args.mod == 'accessories-card--catalog')
				.accessories-card__price-wrap
					span.accessories-card__price 159 900 
					span.accessories-card__val ₽
			if (args.mod == 'accessories-card--catalog')
				.accessories-card__control
					a(href="#").btn.btn--primary.btn--dark Подробнее
			if (args.descr)
				.accessories-card__descr= args.descr