@import "src/assets/css/vars_mixins/vars_mixins";

// .accessories-card,
// .download-card {
// 	height    : 100%;
// 	border    : 1px solid transparent;
// 	transition: all .3s ease;

// 	&:hover {
// 		@media (min-width: 1024px) {
// 			cursor      : pointer;
// 			border-color: $c-primary;
// 		}
// 	}

// 	&__inner {
// 		background   : #FFFFFF;
// 		box-shadow   : 0px 4px 10px rgba(0, 0, 0, 0.1);
// 		border-radius: 2px;
// 		padding      : 28px 40px;
// 		position     : relative;
// 		height       : 100%;

// 		@media (max-width: $sm - 1) {
// 			box-shadow    : none;
// 			display       : flex;
// 			flex-direction: column-reverse;
// 			padding       : 10px;
// 		}
// 	}

// 	&__img-wrap {
// 		height: 210px;

// 		@media (max-width: $sm - 1) {
// 			height: 150px;
// 		}

// 		img {
// 			max-width : 100%;
// 			max-height: 100%;
// 		}
// 	}

// 	&__title {
// 		font-size    : 20px;
// 		margin-bottom: 20px;
// 		line-height  : 1.3;

// 		@media (max-width: $sm - 1) {
// 			margin-bottom     : 15px;
// 			height            : 50px;
// 			display           : -webkit-box;
// 			-webkit-line-clamp: 2;
// 			-webkit-box-orient: vertical;
// 			overflow          : hidden;
// 		}
// 	}

// 	&__descr {
// 		font-size         : 16px;
// 		color             : #6B6B6B;
// 		line-height       : 1.5;
// 		display           : -webkit-box;
// 		-webkit-line-clamp: 5;
// 		-webkit-box-orient: vertical;
// 		overflow          : hidden;
// 		height            : 120px;

// 		@media (max-width: $sm - 1) {
// 			display: none;
// 		}
// 	}
// }

.accessories-card.accessories-card--catalog {
	background-color: #fff;

	.link-full {
		display: none;

		@media (max-width: 1024px) {
			display: block;
		}
	}

	.accessories-card__inner {
		@media (max-width: $sm - 1) {
			flex-direction: column;
		}
	}

	height    : auto;
	// .accessories-card__inner {
	// 	height: 428px;
	// }


	.accessories-card__title {
		display           : -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow          : hidden;
		height            : 78px;

		@media (max-width: $sm - 1) {
			font-size    : 14px;
			height       : 54px;
			margin-bottom: 10px;
		}
	}

	.accessories-card__availability {
		display    : flex;
		align-items: center;
	}

	.accessories-card__availability-content {
		color       : #6B6B6B;
		font-size   : 14px;
		padding-left: 10px;
	}

	.accessories-card__price-wrap {
		white-space: nowrap;
		font-size  : 32px;
		font-weight: 500;

		@media (max-width: $sm - 1) {
			font-size: 24px;
		}
	}

	.accessories-card__val {
		font-size: 24px;

		@media (max-width: $sm - 1) {
			font-size: 18px;
		}
	}

	.accessories-card__control {
		display        : flex;
		justify-content: center;
		max-height     : 0px;
		overflow       : hidden;


		.btn {
			margin-top: 40px;
		}
	}

	&:hover {
		@media (min-width: 1024px) {
			position: relative;
			z-index : 2;
			cursor  : pointer;

			.accessories-card__control {
				max-height: 90px;
				transition: all .3s ease;
			}
		}
	}
}