@import "src/assets/css/vars_mixins/vars_mixins";

.page-header-section {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 28px;
	font-family: $f-thir;
	font-size: 64px;

	@media (max-width: $sm - 1){
		font-size: 28px;
		text-align: center;
		margin-bottom: 22px;
		justify-content: center;
		margin-top: 27px;
	}


	&__title {
		margin-bottom: 0px;

	}

	&.page-header-section--sidemenu {
		.page-header-section__title {
			@media (max-width: $md - 1) {
				text-align: center;
			}
		}

		@media (max-width: $md - 1) {
			justify-content: center;
			position: sticky;
			top: 0;
			padding: 14px 0px;
			border-bottom: 1px solid rgba(39, 41, 55, 0.12);
			z-index: 10;
			background-color: #fff;
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__search-result {
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: -0.6px;
		color: #1d1e1c;
		margin-left: 12px;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
		@media (max-width: $xs - 1) {
			margin-left: 0;
		}
	}

	&__menu {
		position: absolute;
		left: 15px;
		top: calc(50% - 12px);
		display: none;

		&.active {
			transform: rotate(0deg);
		}

		@media (max-width: $md - 1) {
			display: flex;
			align-items: center;
			justify-content: center;
			transform: rotate(-180deg);
		}

		.icon {
			fill: #fff; // stroke: rgba(39, 41, 55, 0.12)
		}
	}

	@media (max-width: $md - 1) {
		margin-bottom: 16px;
	}
}
