extends ../../layout/layout

block vars
	- var pageTitle = 'Контакты'
	- var pageBodyClass = 'header--white'
	- var dir = './'


block main
	include ../../components/inner-hero/inner-hero-contacts
	include ../../components/contacts/contacts
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section




block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)
