mixin section-budge-2(args={})
	a(href="#product-specifications").section-budge-2
		+include-style('mixin__section-budge-2')
		span.section-budge-2__title= args.title
		span.section-budge-2__subtitle= args.subtitle