@import "src/assets/css/vars_mixins/vars_mixins";

.section-budge-2 {
	position        : absolute;
	left            : 50%;
	transform       : translateX(-50%);
	top             : -22px;
	width           : 140px;
	height          : 72px;
	background-color: $c-primary-2;
	z-index         : 1;
	display         : flex;
	flex-direction  : column;
	align-items     : center;

	&:hover {
		@media (min-width: 1024px) {
			cursor: pointer;
			
		}
	}

	@media (max-width: $sm - 1) {
		height: 58px;
	}

	& * {
		color: #fff;
	}

	&:after {
		position        : absolute;
		content         : '';
		left            : -2px;
		right           : -2px;
		height          : 10px;
		clip-path       : polygon(52% 100%, 0 0, 100% 0);
		background-color: $c-primary-2;
		bottom          : 1px;
		transform       : translateY(100%);
	}

	&__title {
		font-family   : $f-thir;
		font-size     : 30px;
		font-weight   : 900;
		margin-top    : 12px;
		text-transform: uppercase;

		@media (max-width: $sm - 1) {
			font-size : 26px;
			margin-top: 8px;

		}
	}

	&__subtitle {
		font-weight   : 700;
		font-size     : 16px;
		font-family   : $f-sec;
		text-transform: uppercase;
		line-height   : 0.8;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}
}