extends ../../layout/layout

block vars
	- var pageTitle = 'Каталог аксессуаров'
	- var pageBodyClass = ''
	- var dir = './'


block main
	include ../../components/category-nav/category-nav
	.container.no-animate
		+breadcrumb({
			mod: '',
			content2 : 'Продукция',
			href_content2: true,
			content3 : 'Pulsar Axion',
		})
		+page-header-section({
			title: "Осветители",
			sidemenu: false
		})
	include ../../components/category-list/category-list
	include ../../components/backcallform/backcallform-5
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)