+include-style('index-hero')
+include-script('index-hero')
section.inner-hero.inner-hero-accessories.no-animate
	.container
		.product-hero.product-hero--accessories
			.product-hero__inner
				.product-hero__slider-wrap
					.product-hero__slider
						+swiper({
							container_mod: 'product-hero__slider-container',
							wrapper_mod: '',
							navigation: true,
							pagination: true,
						}).slider-product-hero.js-slider-product-hero
							.swiper-slide
								<picture class="product-hero__img-wrap">
									<source  media="(min-width: 800px)"  srcset= '/local/templates/html/images/product-card-accessories-1.png'>
									<source media="(min-width: 0px)"  srcset="/local/templates/html/images/product-card-accessories-1.png">
									img(src="/local/templates/html/images/index-hero.jpg" alt="")
								</picture>
							.swiper-slide
								+lazy-picture-slider({
									wrap_mod: 'product-hero__img-wrap',
									img:'/local/templates/html/images/product-card-accessories-1.png',
									source: [
										{
											media: '768',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										},
										{
											media: '0',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										}
									]
								})
							.swiper-slide
								+lazy-picture-slider({
									wrap_mod: 'product-hero__img-wrap',
									img:'/local/templates/html/images/product-card-accessories-1.png',
									source: [
										{
											media: '768',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										},
										{
											media: '0',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										}
									]
								})
							.swiper-slide
								+lazy-picture-slider({
									wrap_mod: 'product-hero__img-wrap',
									img:'/local/templates/html/images/product-card-accessories-1.png',
									source: [
										{
											media: '768',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										},
										{
											media: '0',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										}
									]
								})
							.swiper-slide
								+lazy-picture-slider({
									wrap_mod: 'product-hero__img-wrap',
									img:'/local/templates/html/images/product-card-accessories-1.png',
									source: [
										{
											media: '768',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										},
										{
											media: '0',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										}
									]
								})
							.swiper-slide
								+lazy-picture-slider({
									wrap_mod: 'product-hero__img-wrap',
									img:'/local/templates/html/images/product-card-accessories-1.png',
									source: [
										{
											media: '768',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										},
										{
											media: '0',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										}
									]
								})
							.swiper-slide
								+lazy-picture-slider({
									wrap_mod: 'product-hero__img-wrap',
									img:'/local/templates/html/images/product-card-accessories-1.png',
									source: [
										{
											media: '768',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										},
										{
											media: '0',
											img: '/local/templates/html/images/product-card-accessories-1.png',
											placeholder: pixel
										}
									]
								})
					.product-hero__nav-slider
						+swiper({
							wrapper_mod: '',
							container_mod: '',
							pagination_mod: '',
							arrow_prev_mod: 'slider-fancy-button-prev',
							arrow_next_mod: 'slider-fancy-button-next',
							pagination: false,
							navigation: false,
						}).slider-product-hero-nav.js-slider-product-nav
							.swiper-slide
								+lazy-img-slider({
									img: '/images/accessories-mini-1.png',
									placeholder: pixel
								})
							.swiper-slide
								+lazy-img-slider({
									img: '/images/accessories-mini-2.png',
									placeholder: pixel
								})
							.swiper-slide
								+lazy-img-slider({
									img: '/images/accessories-mini-3.png',
									placeholder: pixel
								})
							.swiper-slide
								+lazy-img-slider({
									img: '/images/accessories-mini-4.png',
									placeholder: pixel
								})
							.swiper-slide
								+lazy-img-slider({
									img: '/images/accessories-mini-5.png',
									placeholder: pixel
								})
							.swiper-slide
								+lazy-img-slider({
									img: '/images/accessories-mini-1.png',
									placeholder: pixel
								})
							.swiper-slide
								+lazy-img-slider({
									img: '/images/accessories-mini-2.png',
									placeholder: pixel
								})
				.product-hero__footer
					.product-hero__mob-flex
						.product-hero__availability
							<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.36931 30L18 14.5888L10.5632 12.9746L13.3558 0L0 15.2284L6.98145 17.7868L3.36931 30Z" fill="#ED1D24"/>
							</svg>
							span В наличии
						.product-hero__price-wrap
							.product-hero__price 159 900
							.product-hero__price-val ₽
					.product-hero__control
						+icon('i-cart')(style="width:31px; height: 25px")
						span Добавить в корзину
					.product-hero__one-click
						span Быстрый заказ
					.product-hero__get-in-touch
						+get-in-touch()

