+include-style('index-hero')
section.index-hero.fhd-container.no-animate
	.index-hero__inner.index-hero__inner--line
		.index-hero__slider
			.swiper-slide
				<picture class=" index-slider__img-wrap">
					<source  media="(min-width: 700px)"  srcset= '/local/templates/html/images/line-hero.jpg 1x, /local/templates/html/images/line-hero-2x.jpg 2x'>
					<source media="(min-width: 0px)"  srcset="/local/templates/html/images/line-hero-mobile.jpg">
					img(src="/local/templates/html/images/index-hero.jpg" alt="")
				</picture>
			.slider-content
				.container
					.slider-content__pretitle Тепловизоры для наблюдения
					.slider-content__title Pulsar Axion
					.slider-content__descr Ограничен в размерах. <br>Безграничен в возможностях
					.inner-hero__control
						.inner-hero__subtitle Проконсультировать вас?
						.inner-hero__get-in-touch
						+get-in-touch()
