+include-style('index-hero')
+include-script('index-hero')
section.inner-hero.inner-hero-product.no-animate
	.product-hero
		.product-hero__inner
			.product-hero__subtitle Тепловизор для наблюдения 
			.product-hero__title
				span Pulsar Axion XQ38 LRF
				.product-hero__label
					<svg width="47" height="33" viewBox="0 0 47 33" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M47 6H0V29.6018L23.7398 33L47 29.6018V6Z" fill="#E30613"></path>
						<path d="M16.494 24H17.936V14.2H16.34V20.206L14.086 14.2H12.644V24H14.24V17.994L16.494 24ZM19.2202 24H23.7422V22.544H20.8442V19.702H23.3362V18.246H20.8442V15.656H23.7422V14.2H19.2202V24ZM29.642 14.2H28.088L26.996 20.612L25.932 14.2H24.28L26.184 24H27.738L28.858 17.364L29.978 24H31.532L33.436 14.2H31.784L30.72 20.612L29.642 14.2Z" fill="white"></path>
					</svg>
			.product-hero__slider-wrap
				.product-hero__slider
					+swiper({
						container_mod: 'product-hero__slider-container',
						wrapper_mod: '',
						navigation: true,
						pagination: true,
					}).slider-product-hero.js-slider-product-hero
						.swiper-slide
							<picture class="product-hero__img-wrap">
								<source  media="(min-width: 800px)"  srcset= '/local/templates/html/images/product-card-1.png'>
								<source media="(min-width: 0px)"  srcset="/local/templates/html/images/product-card-1.png">
								img(src="/local/templates/html/images/index-hero.jpg" alt="")
							</picture>
						.swiper-slide
							+lazy-picture-slider({
								wrap_mod: 'product-hero__img-wrap',
								img:'/local/templates/html/images/product-card-1.png',
								source: [
									{
										media: '768',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									},
									{
										media: '0',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									}
								]
							})
						.swiper-slide
							+lazy-picture-slider({
								wrap_mod: 'product-hero__img-wrap',
								img:'/local/templates/html/images/product-card-1.png',
								source: [
									{
										media: '768',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									},
									{
										media: '0',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									}
								]
							})
						.swiper-slide
							+lazy-picture-slider({
								wrap_mod: 'product-hero__img-wrap',
								img:'/local/templates/html/images/product-card-1.png',
								source: [
									{
										media: '768',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									},
									{
										media: '0',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									}
								]
							})
						.swiper-slide
							+lazy-picture-slider({
								wrap_mod: 'product-hero__img-wrap',
								img:'/local/templates/html/images/product-card-1.png',
								source: [
									{
										media: '768',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									},
									{
										media: '0',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									}
								]
							})
						.swiper-slide
							+lazy-picture-slider({
								wrap_mod: 'product-hero__img-wrap',
								img:'/local/templates/html/images/product-card-1.png',
								source: [
									{
										media: '768',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									},
									{
										media: '0',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									}
								]
							})
						.swiper-slide
							+lazy-picture-slider({
								wrap_mod: 'product-hero__img-wrap',
								img:'/local/templates/html/images/product-card-1.png',
								source: [
									{
										media: '768',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									},
									{
										media: '0',
										img: '/local/templates/html/images/product-card-1.png',
										placeholder: pixel
									}
								]
							})
				.product-hero__nav-slider
					+swiper({
						wrapper_mod: '',
						container_mod: '',
						pagination_mod: '',
						arrow_prev_mod: 'slider-fancy-button-prev',
						arrow_next_mod: 'slider-fancy-button-next',
						pagination: false,
						navigation: false,
					}).slider-product-hero-nav.js-slider-product-nav
						.swiper-slide
							+lazy-img-slider({
								img: '/images/product-mini-1.png',
								placeholder: pixel
							})
						.swiper-slide
							+lazy-img-slider({
								img: '/images/product-mini-2.png',
								placeholder: pixel
							})
						.swiper-slide
							+lazy-img-slider({
								img: '/images/product-mini-3.png',
								placeholder: pixel
							})
						.swiper-slide
							+lazy-img-slider({
								img: '/images/product-mini-4.png',
								placeholder: pixel
							})
						.swiper-slide
							+lazy-img-slider({
								img: '/images/product-mini-5.png',
								placeholder: pixel
							})
						.swiper-slide
							+lazy-img-slider({
								img: '/images/product-mini-6.png',
								placeholder: pixel
							})
						.swiper-slide
							+lazy-img-slider({
								img: '/images/product-mini-6.png',
								placeholder: pixel
							})
			.product-hero__footer
				.product-hero__mob-flex
					.product-hero__availability
						<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.36931 30L18 14.5888L10.5632 12.9746L13.3558 0L0 15.2284L6.98145 17.7868L3.36931 30Z" fill="#ED1D24"/>
						</svg>
						span В наличии
					.product-hero__price-wrap
						.product-hero__price 159 900
						.product-hero__price-val ₽
				.product-hero__control
					+icon('i-cart')(style="width:31px; height: 25px")
					span Добавить в корзину
				.product-hero__one-click(data-toggle="modal" data-target="#modal-order")
					span Быстрый заказ
				.product-hero__get-in-touch
					+get-in-touch()

