+include-style('index-hero')
section.inner-hero.fhd-container.no-animate
	.inner-hero__inner
		<picture class=" inner-hero__img-wrap">
			<source  media="(min-width: 575px)"  srcset= '/local/templates/html/images/catalog-bg.jpg'>
			<source media="(min-width: 0px)"  srcset="/local/templates/html/images/catalog-bg-mobile.jpg">
			img(src="/local/templates/html/images/catalog-bg.jpg" alt="")
		</picture>
		.inner-hero__content
			.container
				.inner-hero__title Аксессуары
				.inner-hero__subtitle Проконсультировать вас?
				.inner-hero__get-in-touch
					+get-in-touch()
