-
	var pages = [
		{name: 'Главная', link: 'index'},
		{name: 'Страница линейки', link: 'line'},
		{name: 'Карточка товара', link: 'product-page'},
		{name: 'Карточка товара аксессуары', link: 'product-page-accessories'},
		{name: 'Каталог аксессуаров', link: 'catalog'},
		{name: 'Каталог категория', link: 'category'},
		{name: 'Оформление заказа', link: 'checkout'},
		{name: 'Гарантия и возврат', link: 'warranty'},
		{name: 'О нас', link: 'about'},
		{name: 'Медиацентр', link: 'mediacenter'},
		{name: 'МедиацентрСтатья', link: 'mediaarticle'},
		{name: 'Доставка', link: 'delivery'},
		{name: 'Политика конфиденциальности', link: 'policy'},
		{name: 'Контакты', link: 'contacts'},
		{name: '404', link: '404'},
	]
	pages.sort(function(a, b){

		var nameA=a.name.toLowerCase();
		var nameB=b.name.toLowerCase();

		//- if (nameA < nameB) {
		//- 	return -1
		//- } else if (nameA > nameB) {
		//- 	return 1
		//- } else {
		//- 	return 0 // Никакой сортировки
		//- }
	});

+include-style('pages-viget')
+include-script('pages-viget')


.pages-viget
	.pages-viget__menu
		ul.pages-viget__menu-list
			each item in pages
				li.pages-viget__menu-item
					a.pages-viget__menu-link(href= '/local/templates/html/' + item.link + '.html')= item.name
			//- br
			//- br
			//- br
			//- li.pages-viget__menu-item
			//- 	a.pages-viget__menu-link(href= 'https://portal.slam.by/company/personal/user/130/tasks/task/view/13188/') Задача
			//- li.pages-viget__menu-item
			//- 	a.pages-viget__menu-link(href= 'https://docs.google.com/spreadsheets/d/13MFhMVgPtWaHscDVCZ0CD2AhWPnWNECGFwfHNjy2aDY/edit#gid=0') Декомпозиция
			//- li.pages-viget__menu-item
			//- 	a.pages-viget__menu-link(href= 'https://www.figma.com/file/Wz1clRHCjNd1sED9QFrdLX/PULSAR-GURU-(Copy)') Дизайн копия
	.pages-viget__btn
		.media-pointer
