@import "src/assets/css/vars_mixins/vars_mixins";

.pages-viget {
	position   : fixed;
	top        : 0;
	left       : 0;
	bottom     : 0;
	transform  : translate3d(-100%, 0, 0);
	will-change: transform;
	z-index    : 2000;

	&__menu {
		height          : 100%;
		padding         : 5px 10px;
		background-color: $c-text;

		&-list {}

		&-item {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		&-link {
			font-size: 13px;
			color    : #fff;

			&:hover {
				text-decoration: underline;
			}

			&:focus,
			&:active {
				color: #fff;
			}
		}
	}

	&__btn {
		position        : fixed;
		top             : 80px;
		right           : -40px;
		width           : 40px;
		height          : 40px;
		cursor          : pointer;
		background-color: lightcoral;
		display         : none;

		&:after {
			background-color: $c-text;
			box-shadow      : 0 2px 3px #777;
			z-index         : 10;
		}

		&:hover {
			&:after {
				box-shadow: 0 3px 7px #777;
			}

			.icon {
				fill: #fff;
			}
		}

		.icon {
			position: relative;
			width   : 18px;
			height  : 18px;
			top     : -3px;
			fill    : #fff;
			z-index : 20;
		}
	}

	&.open {
		transform: translate(0, 0);
	}

	.media-pointer {
		position   : absolute;
		top        : 50%;
		left       : 50%;
		transform  : translate(-50%, -50%);
		z-index    : 30;
		line-height: 1;

		&:after {
			content    : "Full";
			font-size  : 12px;
			color      : #fff;
			line-height: 1;
		}

		@media (max-width: $xl - 1) {
			&:after {
				content: "LG";
			}
		}

		@media (max-width: $lg - 1) {
			&:after {
				content: "MD";
			}
		}

		@media (max-width: $md - 1) {
			&:after {
				content: "SM";
			}
		}

		@media (max-width: $sm - 1) {
			&:after {
				content: "xs";
			}
		}
	}



}