+include-style('index-about')
.index-about.fhd-container
	.container
		.index-about__inner
			+section-budge({
				title: 'Магазин охотничьего снаряжения'
			})
			.index-about__logo
				+lazy-img({
					img: "/images/index-about-title.svg",
					placeholder: pixel
				})
			.index-about__flex
				.index-about__left
					.index-about__content
						.index-about__title Наш интернет-магазин продаёт оптические приборы и аксессуары Pulsar, выпускаемые компанией Yukon Advanced Optics Worldwide. 
						.index-about__descr Мы считаем, что оптические приборы Pulsar — одни из лучших на рынке по потребительским качествам и стоимости, они спроектированы c применением самых последних технологий. 
						.index-about__subdescr
							p Мы сами используем прицелы и монокуляры Pulsar, и поэтому рекомендуем их вам — эти приборы достойны того, чтобы вы их купили. По нашему опыту, гарантия и уровень сервиса от производителя безупречны.
							p Позвоните или напишите нам — мы проконсультируем и поможем вам определиться с выбором, поможем с адаптацией прицелов к оружию, организуем полевые испытания приборов в реальных условиях. 
				.index-about__right
					+lazy-img({
						wrap_mod: 'index-about__bg',
						img: "/images/index-about-bg.jpg",
						placeholder: pixel
					})
					.index-about__control
						a(href="#").btn.btn--primary Подробнее о нас