@import "src/assets/css/vars_mixins/vars_mixins";

.index-about {
	margin-top   : 118px;
	margin-bottom: 0px;
	line-height: 1.3;

	@media (max-width: $sm - 1){
		margin-top: 50px;
		margin-bottom: 50px;
	}

	&__flex {
		display: flex;

		@media (max-width: $lg - 1){
			flex-direction: column;
		}
	}



	&__left{
		width: calc(50% + 24px);
		@media (max-width: $lg - 1){
			width: auto;
		}
	}
	&__right {
		width: calc(50% - 24px);
		@media (max-width: $lg - 1){
			width: auto;
		}
	}

	&__right {
		display        : flex;
		justify-content: flex-end;
		align-items    : flex-end;
		position: relative;
		@media (max-width: $lg - 1){
			padding-bottom: 50%;
			margin-top: 42px;
		}
		@media (max-width: $sm - 1){
			padding-bottom: 82%;
		}
	}

	&__bg{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 36px;
		top: -90px;
		z-index: -1;

		@media (max-width: $lg - 1){
			top: 0;
			bottom: 0;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left center;
			@media (max-width: $lg - 1){
				object-position: left bottom;
			}
			@media (max-width: $sm - 1){
				object-position: center;
			}
		}
	}

	&__logo{
		@media (max-width: $sm - 1) {

			margin-top: 20px;
		}
	}
	&__title {
		font-size    : 40px;
		font-weight  : 700;
		font-family  : $f-sec;
		margin-bottom: 20px;
		line-height  : 0.95;

		@media (max-width: $sm - 1) {
			font-size: 28px;
			margin-top: 20px;
			text-align: center;
		}
	}

	&__content {
		margin-top: 79px;
		max-width : 615px;

		@media (max-width: $lg - 1){
			max-width: none;
			margin-top: 40px;
		}
		@media (max-width: $sm - 1){
			margin-top: 20px;
		}
	}

	&__descr {
		font-size    : 26px;
		margin-bottom: 30px;

		@media (max-width: $sm - 1) {
			font-size: 20px;
		}
	}

	&__subdescr {
		font-size: 16px;
		color    : #6B6B6B;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__control {
		padding         : 47px 65px 41px 65px;
		background-color: #001740;

		@media (max-width: $lg - 1){
			position: absolute;
			bottom: 0;
			transform: translateX(-50%) translateY(50%);
			padding: 28px 24px;
			left: 50%;
		}
	}
}