+modal({
	id: 'modal-order',
	mod: 'modal-order',
	title: '',
	header: true,
	dialog_mod: '',
})
	.modal-order__title Быстрый заказ
	.modal-order__about Оставьте свой телефон и мы вам перезвоним
	form.bv-form.modal-order__form
		+input({
			label: 'Ваше имя',
			fg_mod: 'form-group--margin',
			type: 'text',
			name: false,
			small: false,
			placeholder: '',
			required: true,
			validation: {
				message: 'Заполните поле',
				regexp: 'Неверный формат',
				emailaddress: ' ',
				identical: false
			}
		})
		+input({
			label: 'Телефон',
			fg_mod: 'form-group--margin active',
			type: 'tel',
			name: false,
			small: false,
			placeholder: '+375 (__) ___-__-__',
			required: true,
			pattern: 'phone',
			validation: {
				message: 'Заполните поле',
				regexp: 'Неверный формат',
				emailaddress: ' ',
				identical: false
			}
		})
		//- +textarea({
		//- 	fg_mod: 'form-group--margin',
		//- 	label: 'Комментарий',
		//- 	required: true,
		//- })
		//- +checkbox({
		//- 	fg_mod: 'form-group--margin',
		//- 	policy: true,
		//- 	require:true,
		//- })
		button(type="submit").btn.btn--primary.btn--fw Отправить
