+include-style('mediaarticle')
+include-style('mediacenter')
+include-style('content')
.row
	.col-12
		.mediaarticle__hero
			.mediaarticle__hero-left
				img(src="https://picsum.photos/1015/536", alt="")
			.mediaarticle__hero-right
				.mediaarticle__side
					.btn.btn--primary.btn--dark Инструкции
	.col-lg-9
		.content.mediaarticle__body

			p Новый ночной цифровой прицел Pulsar Digisight Ultra N455 LRF пополнил линейку продукции компании Pulsar.
			p Предыдущие серии Pulsar Digisight Ultra многие охотники высоко оценили за надежность, отменное качество картинки, а также за очень богатый функционал. Новый Pulsar Digisight Ultra N455 LRF сохранил все их преимущества и получил новые свойства благодаря самой современной электронной начинке.
			h2 Какой-то подзаголовок
			p Одним из фирменных алгоритмов Pulsar является функция SumLight, улучшающая качество изображения. При необходимости, ее можно активировать.
			p Максимальная гарантированная производителем дальность обнаружения целей прицела Pulsar Digisight Ultra N455 LRF составляет 500 м. Однако, в благоприятных условиях наблюдения (состояние атмосферы, освещение), эта дистанция может быть и больше.
			p У прицела Pulsar Digisight Ultra N455 LRF есть как оптическое, так и цифровое увеличение: первое составляет 4,5х, второе позволяет увеличивать картинку до 18х. Цифровое увеличение можно увеличивать как плавно, так и дискретно с шагом 2х.
			p Главной особенностью прицела является наличие интегрированного лазерного дальномера с дальностью измерения до 1000 м. Это очень важный инструмент для охотников, которые хотят стрелять на дистанции, превышающие 200-300 м. Изображение, видимое на дисплее ночного прицела, не позволяет точно определить дистанцию до объекта «на глаз». Это связано с психофизическими особенностями восприятия изображения, которые присущи большинству стрелков. Важно понимать, что неправильное определение дистанции на расстояниях, превышающих 300 м может привести к попаданию пули за пределы убойной зоны, которая, для большинства животных, составляет 15-20 см. Итогом может стать появление подранка. Поэтому, наличие лазерного дальномера в прицеле делает его отличным помощником для охотника на дальние дистанции.
			blockquote Наш интернет-магазин продает оптические приборы и аксессуары Pulsar, выпускаемые компанией Yukon Advanced Optics Worldwide. Мы считаем, что оптические приборы Pulsar — одни из лучших на рынке по потребительским качествам и стоимости, они спроектированы  с применением самых последних технологий.
			h2 Пример видео
			+lazy-video-youtube({
			src: 'https://www.youtube.com/embed/xIMBEg2T_oM'
			})
			h2 Отличия ночных прицелов Pulsar и Yukon
			ol
				li Различия по классу защищённости: Pulsar Digisight и Pulsar Digex обладают более серьезной защитой, они не пострадают от кратковременного погружения в воду, а вот Yukon Sightline топить не стоит. При этом Юкон Сайтлайн выдержит проливной дождь — минимально этого достаточно.
				li Чтобы записать видео с прицелов Pulsar Digex и Pulsar Digisight необходимо нажать кнопку на корпусе прицела, а вот чтобы снять изображение с Yukon Sightline необходимо с помощью провода подключить внешний видеорекордер, что настолько не удобно, что можно и не пытаться. Видео выход предусмотрен только у моделей Sighline без буквы S в названии модели. Поэтому, если вам реально нужна видеозапись — покупайте Digisight или Digex.
				li У Yukon Sightline нет модуля wi-fi , поэтому он не поддерживает приложение StreamVision и возможности самостоятельно обновить ПО в случае выхода какого-либо обновления у него нет. У более дорогих Digisight и Digex все эти возможности имеются .
			hr
			hr
			h1 ЭТАЛОН
			include ../content/section-typography
			include ../content/section-list
		.mediaarticle__share
			include ../share/share
	.mediaarticle__news
		.mediaarticle__news-title Также может быть интересно:
		.mediacenter__list
			+news-card({
				img: '/images/media-2.png',
				title: 'Новые ночные прицелы Yukon Sightline, обзор модельного ряда 2020 года.'
			})
			+news-card({
				img: '/images/media-1.png',
				title: 'Обзор Pulsar Helion 2 XP PRO: самый ТОПовый тепловизионный монокуляр 2021 года'
			})
			+news-card({
				img: '/images/media-4.png',
				title: 'Рады сообщить об обновлении приложения Stream Vision'
			})
			+news-card({
				img: '/images/media-5.png',
				title: 'Открыт прием заявок на участие в программе Pulsar Pro Staff в России, Беларуси, Казахстане и Украине.'
			})