@import "src/assets/css/vars_mixins/vars_mixins";

.mediaarticle{
	&__body{
		padding-bottom: 40px;
		border-bottom: 1px solid #EEECEC;;
	}

	&__side{
		padding-top: 42px;
		padding-left: 65px;
		background-color: #F3F3F3;
		border-radius: 2px;
		width: 100%;

		@media (max-width: $lg - 1){
			padding: 0;
			background-color: transparent;
			margin-top: 26px;
		}
	}

	&__news{
		margin-top: 76px;

		@media (max-width: $sm - 1){
			margin-top: 42px;
		}
	}

	&__news-title{
		font-size: 54px;
		font-family: $f-thir;
		font-weight: 900;
		margin-bottom: 55px;
		text-align: center;
		@media (max-width: $sm - 1){
			font-size: 40px;
			margin-bottom: 28px;

		}
	}

	&__hero{
		display: flex;
		margin-bottom: 66px;

		@media (max-width: $sm - 1){
			margin-bottom: 20px;
		}

		@media (max-width: $lg - 1){
			flex-direction: column;
		}
		&-left{
			width: 74.4%;

			@media (max-width: $lg - 1){
				width: auto;
			}
			img{
				display: block;
				max-width: 100%;
			}

		}
		&-right{
			display: flex;
			width: 26.6%;

		}
	}
}