mixin news-card(args={})
	+include-style('mixin__news-card')
	.news-card(class=args.mod)
		.news-card__inner
			+link-full()
			+lazy-img-retina({
				wrap_mod: 'news-card__image',
				img: args.img,
			})
			.news-card__content
				.news-card__title= args.title