@import "src/assets/css/vars_mixins/vars_mixins";

.news-card {
	padding      : 0px 10px;
	width        : 25%;
	margin-bottom: 66px;
	line-height: 1.3;

	@media (max-width: $md - 1) {
		width: 100%;
	}

	@media (max-width: $sm - 1){
		&:last-child{
			margin-bottom: 0px;
		}
		margin-bottom: 22px;
	}

	&--wide {
		width: 50%;

		@media (max-width: $md - 1) {
			width: 100%;
		}

		margin-bottom: 0px;

		.news-card__inner {
			display: block;
		}

		.news-card__image {
			height: 434px;

			@media (max-width: $lg - 1) {
				height: 345px;
			}

			@media (max-width: $sm - 1){
				height: 222px;
			}

			@media (max-width: $md - 1) {
				width: auto;
			}
		}

		.news-card__content {
			background-color: transparent;
			padding-left    : 0px;
			padding-right   : 0px;
			padding-top     : 45px;
			font-size: 26px;

			@media (max-width: $md - 1) {
				width: auto;
			}
			@media (max-width: $sm - 1){
				font-size: 20px;
				padding: 0px;
				margin-top: 25px;
				margin-bottom: 34px;
			}
		}
	}



	&__inner {
		position: relative;
		border-radius: 3px;
		overflow: hidden;
		@media (max-width: $md - 1) {
			display: flex;
		}
	}

	&__image {
		height: 267px;

		border-radius: 2px;
		overflow: hidden;

		@media (max-width: $lg - 1) {
			height: 180px;
		}

		@media (max-width: $md - 1) {
			width: 50%;
		}
		@media (max-width: $sm - 1){
			height: 133px;
		}

		img {
			width      : 100%;
			height     : 100%;
			object-fit : cover;
			transition : transform .3s ease;
			will-change: transform;
		}
	}

	&__content {
		padding         : 36px 33px;
		padding-bottom  : 52px;
		background-color: #F3F3F3;
		font-size: 20px;

		@media (max-width: $md - 1) {
			width: 50%;
		}
		@media (max-width: $sm - 1){
			padding: 30px 19px;
			font-size: 14px;
		}
	}

	&__title {
		height            : 78px;
		overflow          : hidden;
		text-overflow     : ellipsis;
		display           : -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		@media (max-width: $sm - 1){
			height: 74px;
			-webkit-line-clamp: 4;
		}
	}

	&:hover {
		@media (min-width: 1024px) {
			cursor: pointer;

			.news-card__title {
				color     : $c-primary;
				transition: all .3s ease;
			}

			.news-card__image img {
				transform: scale(1.07);
			}
		}
	}
}