@import 'src/assets/css/vars_mixins/vars_mixins';

.counter {
	position        : relative;
	display         : flex;
	align-items     : center;
	justify-content : space-between;
	background-color: transparent;

	.disabled-text {
		position   : absolute;
		bottom     : 100%;
		left       : 0;
		display    : none;
		width      : 100%;
		text-align : center;
		color      : $c-error;
		font-size  : 12px;
		line-height: 1;
	}
}

.counter-input {
	position        : relative;
	display         : flex;
	box-sizing      : border-box;
	width           : auto;
	max-width       : 60px;
	height          : 40px;
	padding         : 10px;
	text-align      : center;
	color           : $c-text;
	border: 1px solid #E4E4E4;
	outline         : none;
	font-size       : 16px;
	font-weight     : 700;
	line-height     : 1;
	margin: 0px 4px;
	@media (max-width: $md - 1){
		max-width       : 34px;
		height: 34px;
	}
	&:focus {
		border: 1px solid $c-primary-hover;
	}


}

.counter-btn {
	position   : relative;
	flex-shrink: 0;
	width      : 40px;
	height     : 40px;
	margin     : 0;
	padding    : 0;
	cursor     : pointer;
	color      : transparent;
	background : transparent;
	font-size  : 0;
	border: 1px solid #E4E4E4;



	@media (max-width: $md - 1) {
		width       : 34px;
		height: 34px;
	}

	&:before,
	&:after {
		position  : absolute;
		top       : calc(50% - 1px);
		left      : calc(50% - 5px);
		display   : block;
		width     : 12px;
		height    : 2px;
		content   : '';
		background: #C4C4C4;
	}

	&:before {
		transform: rotate(-90deg);
	}

	&[disabled],
	&.disabled {
		cursor: default;

		&:before,
		&:after {
			background: $c-gray;
		}
	}
}

.counter-minus {
	order: -1;

	&:before {
		display: none;
	}
}

.counter-plus {

	&[disabled],
	&.disabled {
		&~.disabled-text {
			display: block;
		}
	}
}

@media (max-width: 1199px) {
	.fixed-card-body-wrap .disabled-text {
		bottom   : 89%;
		width    : 183px;
		font-size: 10px;
	}
}

@media (min-width: $xl) {
	.counter-btn {
		&:hover {

			&:before,
			&:after {
				background: $c-primary;
			}
		}
	}
}