+include-style('category-nav')
.category-nav
	.container
		.category-nav__inner
			+nav({
				mod: 'nav--category',
				list: [
					{name: 'Аксессуары'},
					{name: 'Осветители', active: true},
					{name: 'Источники питания'},
					{name: 'Кронштейны'},
					{name: 'Другое'},
				]
			})
