@import "src/assets/css/vars_mixins/vars_mixins";

.category-nav {
	background-color: #1F1E26;
	padding         : 19px 0px;

	@media (max-width: $lg - 1) {
		border-top: 1px solid #fff;
	}

	@media (max-width: $sm - 1) {
		padding: 12px 0px;
	}

	@media (max-width: $md - 1) {
		margin-bottom: 32px;
	}
}