mixin custom-select(args = {})
	+include-script('form-mixin')
	.form-group.form-group-select(class= args.fg_mod)
		if (args.label)
			label.form-control-label(for= 'ID' + id class= args.label_mod)= args.label || 'label' 
			if (args.label_desc)
				span.field-label-descr= args.label_desc
			if (args.required)
				span.label-required *
		.custom-select(class= args.mod)
			input(type="hidden").custom-select__input
			.custom-select__trigger
				+icon('i-arrow-2')(style="width:10px; height: 10px")
			if (args.default)
				.custom-select__selected= args.default
			else
				.custom-select__selected= args.items[0].text || args.items[0].value
			ul.custom-select__list
				each item, index in args.items
					if (!args.default)
						if (index == 0)
							li.custom-select__list-item.selected(value=item.value data-value=item.value data-url= item.url data-color=item.color data-deliveryCenter=item.center data-counter= item.counter class=item.class)!=item.text || item.value
						else
							li.custom-select__list-item(value=item.value data-value=item.value data-url= item.url data-color=item.color data-deliveryCenter=item.center data-counter= item.counter class=item.class)!=item.text || item.value
					else
						li.custom-select__list-item(value=item.value data-value=item.value data-url= item.url data-color=item.color data-deliveryCenter=item.center data-counter= item.counter class=item.class)!=item.text || item.value