mixin section-budge(args={})
	+include-style('mixin__section-budge')
	.section-budge(class=args.mod)
		.section-budge__icon
			<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
			</svg>
		.section-budge__title=args.title
