@import "src/assets/css/vars_mixins/vars_mixins";

.section-budge {
	display       : flex;
	flex-direction: column;
	align-items   : center;
	justify-content: center;
	&__icon{
		margin-bottom: 10px;
		@media (max-width: $sm - 1){
			max-width: 20px;
		}
	}
	&__title{
		font-size: 40px;
		font-family: $f-sec;
		font-weight: 700;
		line-height: 0.86;
		text-align: center;
		@media (max-width: $sm - 1){
			font-size: 28px;
		}
	}
	&.section-budge--white{
		color: #fff;
	}
	&.section-budge--inner{
		align-items: flex-start;
		flex-direction: row;
		justify-content: flex-start;
		@media (max-width: $sm - 1){
			flex-direction: column;
		}
		.section-budge__icon{
			@media (max-width: $sm - 1){
				max-width: 20px;
			}
		}
		.section-budge__title{
			font-size: 54px;
			font-family: $f-thir;
			font-weight: 900;
			margin-left: 28px;
			@media (max-width: $sm - 1){
				font-size: 28px;
				margin-left: 0px;
			}
		}
	}
}