+include-style('product-review')
+include-script('product-review')
.product-review
	.container
		.product-review__inner
			+lazy-img({
				wrap_mod: 'product-review__bg',
				img: '/images/product-review-bg.png'
			})
			.product-review__content
				.product-review__icon
					<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
					</svg>
				.product-review__title Обзор Pulsar Axion XQ38 LRF
				.product-review__descr
					p Благодаря лёгкому корпусу из магниевого сплава, тепловизионные монокуляры Pulsar Axion не крупнее обычно лазерного дальномера. Они легко помещаются в кармане одежды. Миниатюрные размеры не мешают этим приборам легко обнаруживать объекты на расстоянии до 1 350 м.
					p Благодаря лёгкому корпусу из магниевого сплава, тепловизионные монокуляры Pulsar Axion не крупнее обычно лазерного дальномера. Они легко помещаются в кармане одежды. Миниатюрные размеры не мешают этим приборам легко обнаруживать объекты на расстоянии до 1 350 м.
					p Благодаря лёгкому корпусу из магниевого сплава, тепловизионные монокуляры Pulsar Axion не крупнее обычно лазерного дальномера. Они легко помещаются в кармане одежды. Миниатюрные размеры не мешают этим приборам легко обнаруживать объекты на расстоянии до 1 350 м.
					p Благодаря лёгкому корпусу из магниевого сплава, тепловизионные монокуляры Pulsar Axion не крупнее обычно лазерного дальномера. Они легко помещаются в кармане одежды. Миниатюрные размеры не мешают этим приборам легко обнаруживать объекты на расстоянии до 1 350 м.
				.product-review__control
					.btn.btn--primary.btn--dark.btn--more.js-show-more Развернуть полное описание