@import "src/assets/css/vars_mixins/vars_mixins";

.product-review {
	margin-top   : -115px;
	z-index      : 1;
	position     : relative;
	margin-bottom: 73px;

	@media (max-width: $sm - 1) {
		margin-top   : -86px;
		margin-bottom: 30px;
	}

	&__inner {
		background    : #FFFFFF;
		box-shadow    : 0px 4px 50px rgba(0, 0, 0, 0.1);
		border-radius : 2px;
		padding-top   : 80px;
		padding-bottom: 90px;
		position      : relative;

		@media (max-width: $lg - 1) {
			display       : flex;
			flex-direction: column-reverse;
		}

		@media (max-width: $sm - 1) {
			padding-top  : 24px;
			padding-left : 20px;
			padding-right: 20px;
		}
	}

	&__content {
		display        : flex;
		flex-direction : column;
		max-width      : 680px;
		justify-content: center;
		align-items    : center;
		margin         : auto;
		position       : relative;
		z-index        : 1;

		@media (max-width: $lg - 1) {
			position: static;
		}
	}

	&__icon {
		margin-bottom: 17px;

		@media (max-width: $sm - 1) {
			max-width    : 20px;
			margin-bottom: 0px;
		}
	}

	&__title {
		font-size    : 54px;
		font-weight  : 900;
		font-family  : $f-thir;
		margin-bottom: 17px;

		@media (max-width: $sm - 1) {
			font-size    : 28px;
			margin-bottom: 16px;
		}
	}

	&__descr {
		font-size : 16px;
		text-align: center;

		@media (max-width: $sm - 1) {
			font-size : 14px;
			text-align: left;
		}

		p {
			margin-bottom: 20px;
			display      : none;

			&:first-child {
				display: block;
			}
		}

		&.active {
			p {
				display: block;
			}
		}
	}

	&__control {
		margin-top: 40px;

		@media (max-width: $lg - 1) {
			position: absolute;
			bottom  : 47px;
		}
	}

	&__bg {
		position: absolute;
		top     : 0;
		bottom  : 0;
		left    : 0;
		right   : 50%;
		z-index : 0;

		@media (max-width: $lg - 1) {
			position      : relative;
			top           : auto;
			left          : auto;
			right         : auto;
			bottom        : auto;
			padding-bottom: 70%;
		}

		@media (max-width: $lg - 1) {
			img {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;

			}
		}

		@media (max-width: $sm - 1) {
			img {
				transform: translateX(20%);
			}
		}
	}
}

.product-accessories-page {
	.product-review {
		margin-top: 0px;
	}
}