+include-style('delivery')
.delivery
	.container
		.delivery__region
			.delivery__flex
				.delivery__left
					.delivery__title.fz-54 Доставка по России
					.delivery__region-descr
						p Доставка осуществляется в любую точку России, вы можете заказать доставку до пункта выдачи,  или прямо до двери.
						p Стоимость доставки 500 рублей
					.delivery__region-budge При заказе на сумму от 10 000 рублей доставка осуществляется бесплатно.
				.delivery__right
					img(src="/local/templates/html/images/delivery-map.jpg" alt="")
	.delivery__bg
		.container
			.delivery__pay
				.delivery__title.fz-54 Доставка по России
				.delivery__pay-descr Наш магазин работает как с физическими, так и с юридическими лицами. <br> Вы можете выбрать любой удобный для вас способ оплаты.
				.delivery__flex
					.delivery__pay-row
						.delivery__pay-col
							.delivery__pay-budge
								.delivery__pay-budge-title Способы оплаты для физических лиц:
								.delivery__pay-budge-descr Наличными или картой при курьерской доставке, а также в пункте выдачи транспортной компании. Оплата по счету. Счет мы вышлем вам на почту.
						.delivery__pay-col
							.delivery__pay-budge
								.delivery__pay-budge-title Способы оплаты для юридических лиц:
								.delivery__pay-budge-descr Оплата по счету. Счет мы вышлем вам на почту.