@import "src/assets/css/vars_mixins/vars_mixins";

.delivery {
	margin-top: 70px;
	@media (max-width: $sm - 1){
		margin-top: 43px;
	}

	&__flex {
		display: flex;
		@media (max-width: $lg - 1){
			flex-direction: column;
		}

		&-left,
		&-right {
			width: 50%;

		}
	}

	&__left,
	&__right {
		width: 50%;
		@media (max-width: $lg - 1){
			width: auto;
		}
	}

	&__right {
		padding-left: 30px;
		@media (max-width: $lg - 1){
			padding-left: 0px;
			display: flex;
			justify-content: center;
			margin-top: 43px;
			margin-left: -16px;
			margin-right: -16px;
		}
	}

	&__title {
		font-weight  : 900;
		font-family  : $f-thir;
		margin-bottom: 30px;

		@media (max-width: $sm - 1){
			margin-bottom: 21px;
			text-align: center;
		}
	}

	&__region {
		margin-bottom: 85px;
		@media (max-width: $sm - 1){
			margin-bottom: 49px;
		}
		&-descr {
			font-size: 26px;

			@media (max-width: $sm - 1) {
				font-size: 20px;
			}

			p {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}

		&-budge {
			padding      : 45px 65px 45px 65px;
			box-shadow   : 0px 4px 50px rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			border       : 2px solid #ED1D24;
			font-size    : 26px;
			margin-top   : 45px;

			@media (max-width: $xl - 1){
				padding: 23px 27px;
				margin-top: 45px;
			}

			@media (max-width: $sm - 1) {
				font-size: 20px;
				padding: 16px 27px 16px 27px;
			}
		}

	}

	&__bg {
		padding-top     : 96px;
		background-color: #F3F3F3;
		padding-bottom  : 100px;

		@media (max-width: $sm - 1){
			padding-top: 37px;
			padding-bottom: 62px;
		}
	}

	&__pay {
		&-descr {
			margin-bottom: 60px;
			@media (max-width: $sm - 1){
				margin-bottom: 27px;
			}
		}

		&-row{
			display: flex;
			margin: -10px;

			@media (max-width: $md - 1){
				flex-direction: column;
				margin: 0px;
			}
		}
		&-col{
			padding: 0px 10px;
			width: 50%;
			display: flex;

			@media (max-width: $md - 1){
				width: auto;
				padding: 0px;
				margin-bottom: 18px;
			}
		}
		&-budge {
			width: 100%;
			background   : #FFFFFF;
			box-shadow   : 0px 4px 50px rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			padding: 66px 75px 52px 75px;
			@media (max-width: $sm - 1){
				padding: 31px 27px;
			}
			&-title{
				font-weight: 700;
				margin-bottom: 30px;
			}
		}
	}
}