+include-style('first-animation-component-1')
+include-script('first-animation-component-1')

<div class='scroll-animations-example'>
	<div class='scrollsection'>
<div class='item -big'>
	<img class='image' src='images/1.jpg'>
</div>
<div class='item -normal'>
	<img class='image' src='images/2.jpg'>
</div>
<div class='item -small'>
	<img class='image' src='images/33.png'>
</div>
<div class='item -normal' >
	<img class='image' src='images/4.jpg'>
</div>
<div class='item -normal -horizontal'  >
	<img class='image' src='images/5.jpg'>
</div>
<div class='item -big -horizontal'  >
	<img class='image' src='images/6.jpg'>
</div>
<div class='item -big'>
	<img class='image' src='images/34.png'>
</div>
<div class='item -normal -horizontal'  >
	<img class='image' src='images/8.jpg'>
</div>
<div class='item -small -horizontal' >
	<img class='image' src='images/9.jpg'>
</div>
<div class='item -big'  >
	<img class='image' src='images/10.jpg'>
</div>
<div class='item -normal -horizontal'  >
	<img class='image' src='images/11.jpg'>
</div>
	</div>
</div>