mixin basket-card(args={})
	+include-style('mixin__basket-card')
	.basket-card
		.basket-card__inner
			.basket-card__remove
				+icon('i-close')(style="width: 21px; height:21px")
			.basket-card__left
				+lazy-img({
					wrap_mod: 'basket-card__img-wrap',
					img: '/images/grid-catalog-1.png',
					placeholder: pixel
				})
			.basket-card__right
				.basket-card__title Тепловизор Pulsar Axion XQ38 LRF
				.basket-card__price-wrap
					span.basket-card__price 179 900  
					span.basket-card__val ₽
				.basket-card__counter
					+counter()
					//- +custom-select({
					//- 	items: [
					//- 		{value: 1, text: '1 шт.'},
					//- 		{value: 2, text: '2 шт.'},
					//- 		{value: 3, text: '3 шт.'},
					//- 		{value: 4, text: '4 шт.'}
					//- 	]
					//- })