@import "src/assets/css/vars_mixins/vars_mixins";

.basket-card {
	border-bottom: 1px solid rgba(35, 31, 32, 0.2);

	&__inner {
		padding : 37px 45px 27px 42px;
		display : flex;
		position: relative;

		@media (max-width: $sm - 1) {
			padding: 16px;
		}
	}

	&__left {
		padding-left: 21px;
	}

	&__img-wrap {
		width : 211px;
		height: 137px;

		@media (max-width: $sm - 1) {
			width : auto;
			height: 93px;
		}

		img {
			max-width : 100%;
			max-height: 100%;
		}
	}

	&__right {
		padding-left  : 47px;
		display       : flex;
		flex-direction: column;

		@media (max-width: $sm - 1) {
			padding-left: 28px;
			width       : 50%;
		}
	}

	&__title {
		font-size    : 16px;
		margin-bottom: 7px;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}

	&__price-wrap {
		font-weight: 500;
		white-space: nowrap;
	}

	&__price {
		font-size: 32px;

		@media (max-width: $sm - 1) {
			font-size: 28px;
		}
	}

	&__val {
		font-size: 20px;

		@media (max-width: $sm - 1) {
			font-size: 18px;
		}
	}

	&__counter {
		margin-top: 10px;
		font-size : 16px;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}

	&__remove {
		position       : absolute;
		top            : 40px;
		left           : 42px;
		display        : flex;
		align-items    : center;
		justify-content: center;

		@media (max-width: $sm - 1) {
			left: 16px;
			top : 16px;
		}

		.icon {
			fill: rgba(35, 31, 32, 0.5);

			@media (max-width: $sm - 1) {
				max-height: 16px;
				max-width : 16px;
			}
		}

		transition: all .3s ease;

		&:hover {
			@media (min-width: 1024px) {
				cursor   : pointer;
				transform: rotate(180deg);

				.icon {
					fill: $c-primary;
				}
			}
		}
	}

	.counter-input {
		max-width: none;
		width    : 100%;
	}
}