@import '../../assets/css/vars_mixins/vars_mixins';

.content {

	ol:not(.list-reset),
	ul:not(.list-reset) {
		margin: 25px 0 25px;

		@media (min-width: $lg) {
			margin: 25px 0 20px;
		}

		li {
			position   : relative;
			padding    : 0 0 0 45px;
			font-style : normal;
			font-weight: normal;
			line-height: 22px;
			margin     : 0 0 25px;

			@media (max-width: $sm - 1){
				padding-left: 20px;
			}

			&:last-child {
				margin: 0;
			}
		}

		li>ul,
		li>ol {
			margin: 12px 0 10px;

			@media (min-width: $lg) {
				margin: 12px 0 10px;
			}
		}
	}

	ul:not(.list-reset) {
		&>li {
			&:before {
				content         : '';
				width           : 8px;
				height          : 8px;
				border-radius   : 50%;
			
				background-color: $c-primary;
				border          : 1px solid $c-primary;
				position        : absolute;
				top             : 6px;
				left            : 0;
			}
		}
	}

	ol:not(.list-reset) {
		counter-reset: list;
		list-style   : none;

		&>li {
			&:before {
				content          : counters(list, ".") ".";
				counter-increment: list;
				transform        : none;
				display          : inline-block;
				font-style       : normal;
				font-weight      : 700;
				color            : inherit;
				position         : absolute;
				top              : 0;
				left             : 0;
			}

			&>ol:not(.list-reset) {
				li {
					padding: 0 0 0 45px;

					&>ol:not(.list-reset) {
						li {
							padding: 0 0 0 60px;
						}
					}
				}
			}
		}
	}

}