@import '../../assets/css/vars_mixins/vars_mixins';

.content {
	font-style : normal;
	font-weight: normal;
	line-height: 1.4;
	color      : $c-text;

	p {
		line-height  : 1.5;
		margin-bottom: 20px;

		&:last-child {
			margin: 0;
		}

		&.text-deleted {
			text-decoration: line-through;
		}
	}

	a:not([class]) {
		color          : $c-primary;
		text-decoration: none;
		padding        : 2px;
		border-bottom  : 1px dashed;
		transition     : color .3s;

		&:hover {
			color: $c-primary-hover;
		}
	}

	hr {
		position  : relative;
		height    : 1px;
		background: #AAAAAA;
		border    : 0;
		margin    : 35px 0;

		@media (max-width: $sm - 1) {
			margin: 26px 0px;
		}

		&:after,
		&:before {
			content: '';
			display: table;
			clear  : both;
		}
	}

	mark {
		background : $c-primary;
		color      : #fff;
		font-weight: normal;
		padding    : 0 5px;
		font-style : normal;
	}

	s {
		text-decoration: line-through;
	}

	blockquote {
		position: relative;

		&:before {
			position: absolute;
			content : '';
			left: 72px;
			top: 40px;
			width: 25px;
			height: 42px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='42' viewBox='0 0 25 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z' fill='%23ED1D24'/%3E%3C/svg%3E%0A");
			@media (max-width: $sm - 1){
				left: 16px;
			}
		}

		display         : block;
		margin-bottom   : 25px;
		width           : 100%;
		padding         : 99px 34px 80px 72px;
		color           : $c-text;
		line-height     : 1.3;
		letter-spacing  : 0.03em;
		background-color: #F3F3F3;
		border-radius   : 2px;
		font-size       : 26px;

		@media (max-width: $sm - 1){
			width: auto;
			font-size: 20px;
			padding-left: 16px;
			padding-right: 16px;
			margin: 0px -16px;
			margin-bottom: 25px;
		}
	}
}

.content-bg{
	padding: 46px 62px;
	background: #F3F3F3;
	border-radius: 2px;
	@media (max-width: $sm - 1){
		padding: 0px;
		background: transparent;
	}
}