@import '../../assets/css/vars_mixins/vars_mixins';

.content .h1,
.content h1 {
	font-family: $f-sec;
	font-size    : rem(64);
	line-height  : 1.22;
	font-weight  : 700;
	font-style   : normal;
	margin-bottom: 25px;

	@media (max-width: $sm - 1) {
		font-size    : 28px;
		margin-bottom: 14px;
	}
}




.content .h2,
.content h2 {
	font-size    : rem(40);
	font-family: $f-sec;
	line-height  : 1.3;
	font-weight  : 700;
	font-style   : normal;
	margin-bottom: 20px;

	@media (max-width: $sm - 1) {
		font-size    : 28px;
		margin-bottom: 14px;
	}
}



.content .h3,
.content h3{
	font-size    : rem(32);
	font-family: $f-sec;
	line-height  : 1.3;
	font-weight  : 700;
	font-style   : normal;
	margin-bottom: 20px;

	@media (max-width: $sm - 1) {
		font-size    : 20px;
		margin-bottom: 14px;
	}
}

.content .h4,
.content h4 {
	font-size    : rem(24);
	font-family: $f-sec;
	line-height  : 1.4;
	font-weight  : 700;
	font-style   : normal;
	margin-bottom: 20px;

	@media (max-width: $sm - 1) {
		font-size    : 18px;
		margin-bottom: 14px;
	}
}

.content .h5,
.content h5{
	font-size  : rem(20);
	font-family: $f-sec;
	line-height: 1.4;
	font-weight: 700;
	font-style : normal;
	margin     : 0 0 rem(20);
	@media (max-width: $sm - 1) {
		font-size    : 16px;
		margin-bottom: 14px;
	}
}