extends ../../layout/layout

block vars
	- var pageTitle = 'Каталог аксессуаров'
	- var pageBodyClass = 'header--white'
	- var dir = './'


block main
	include ../../components/inner-hero/inner-hero-accesories
	include ../../components/grid-catalog/catalog-catalog
	include ../../components/backcallform/backcallform-5
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section



block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)
