extends ../../layout/layout

block vars
	- var pageTitle = 'Медиацентр'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container.no-animate
		+breadcrumb({
			content2 : 'Медиацентр',
		})
		+page-header-section({
			title: "Медиацентр",
			sidemenu: false
		})
		include ../../components/mediacenter/mediacenter
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)
