extends ../../layout/layout

block vars
	- var pageTitle = 'Главная'
	- var pageBodyClass = 'index header--white'
	- var dir = './'


block main
	include ../../components/first-animation-component-1/first-animation-component-1
	//- include ../../components/index-hero/index-hero
	//- include ../../components/index-catalog/index-catalog
	//- include ../../components/grid-catalog/grid-catalog
	//- include ../../components/backcallform/backcallform-success
	//- include ../../components/backcallform/backcallform
	//- include ../../components/youtube-section/youtube-section
	//- include ../../components/instagram-section/instagram-section
	//- include ../../components/utp-section/utp-section
	//- include ../../components/index-media/index-media

	//- include ../../components/backcallform/backcallform-2
	//- include ../../components/index-service/index-service
	//- include ../../components/index-about/index-about


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	+include-style('animation')
	+include-script('animation')
	script(src="./js/vendor/swiper.min.js" defer)