@import 'src/assets/css/vars_mixins/vars_mixins';




.breadcrumb {
	overflow : hidden;
	margin   : 35px 0 27px;
	font-size: rem(13);
	@include lineheight(12, 16);
	color      : rgba(35, 31, 32, 0.5);
	font-weight: 400;

	@media (max-width: $sm - 1) {
		margin : 34px 0px 22px;
		display: none;
	}

	&__list {
		position     : relative;
		display      : flex;
		overflow     : hidden;
		align-items  : center;
		flex-shrink  : 1;
		flex-wrap    : nowrap;
		margin       : 0;
		padding      : 0;
		list-style   : none;
		text-overflow: clip;
	}

	&__item {
		position  : relative;
		list-style: none;

		&:first-child {
			.breadcrumb__link {
				padding    : 0 13px 0 0;
				display    : flex;
				align-items: center;

				span {
					display: none;
				}

				.icon {
					stroke: rgba(35, 31, 32, 0.5);
					fill  : transparent;
				}
			}

			&:hover {
				@media (min-width: 1024px) {
					cursor: pointer;

					.icon {
						stroke: $c-primary;

					}
				}
			}
		}

		&:not(:first-child) {
			&:before {
				content : '—';
				position: absolute;

				background-position      : center;
				background-repeat        : no-repeat;
				// font-size          : 12px;
				font-weight              : 400;
				// color              : rgba(39, 41, 55, 0.12);
				// // transform          : translate(0, -50%);
				// background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.535645 8.07129L4.07118 4.53576L0.535645 1.00022' stroke='%232B2A29' stroke-linecap='round'/%3E%3C/svg%3E%0A");
				left                     : 0;
				display                  : block;
				background-position      : center;
				background-size          : contain;
			}

		}

		&:last-child {
			display       : flex;
			padding-right : 0;
			pointer-events: none;

			.breadcrumb__link {
				span {
					color: rgba(35, 31, 32, 0.5);
				}
			}
		}
	}

	&__link {
		padding    : 0 10px 0 25px;
		transition : color .3s;
		white-space: nowrap;
		color      : $c-text;

		&:hover {
			span {
				color: $c-primary;
			}

		}
	}

	&.not-init {
		.breadcrumb__item {
			&:not(:first-child) {
				visibility: hidden;
				opacity   : 0;
			}
		}
	}

}

.breadcrumb--absolute {
	position: absolute;
	margin: 0px;
	top     : 93px;
	z-index : 2;

	@media (max-width: $lg - 1){
		display: none;
	}

	.breadcrumb__item:first-child .breadcrumb__link .icon {
		stroke: rgba(255, 255, 255, 0.5);

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				stroke: $c-primary;
			}
		}
	}

	& * {

		color: rgba(255, 255, 255, 0.5);
	}

	.breadcrumb__item:last-child .breadcrumb__link span {
		color: rgba(255, 255, 255, 0.5);
	}
}

@media (max-width: $md - 1) {
	.breadcrumb__item {
		&:first-child {
			display: none;
		}

		&:not(:first-child),
		&:not(:last-child) {
			display: none;
		}

		&:nth-last-of-type(2) {
			display: block !important;

			a {
				color    : #000;
				font-size: rem(14);

				&:after {
					display: none;
				}
			}
		}

		&:last-child {
			display: none;
			;
		}

		&:before {
			transform: rotate(180deg);
		}

		&:not(:first-child):before {
			top      : 3px;
			transform: rotate(180deg);
		}
	}

}