mixin breadcrumb(args={})
	.breadcrumb(class=args.mod)
		ul.breadcrumb__list(itemscope itemtype="http://schema.org/BreadcrumbList")
			li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(href="/local/templates/html/index.html" title="Главная" itemprop="item").breadcrumb__link
					+icon('i-home')(style="width: 14px; height: 14px")
					//- span(itemprop="name") Главная
					//- meta(itemprop="position" content="0")

			//- li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
			//- 	if args.href_content1
			//- 		a(href=args.href_content1 || '#' title=args.content1 itemprop="item").breadcrumb__link
			//- 			span(itemprop="name")= args.content1
			//- 			meta(itemprop="position" content="1")
			//- 	else
			//- 		span(title=args.content1 itemprop="name").breadcrumb__link
			//- 			span(itemprop="name")= args.content1
			//- 			meta(itemprop="position" content="1")

			if args.content2
				li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
					if args.href_content2
						a(href=args.href_content2 || '#' title=args.content2 itemprop="item").breadcrumb__link
							span(itemprop="name")= args.content2
							meta(itemprop="position" content="2")
					else
						span(href=args.href_content2 || '#' title=args.content2 itemprop="name").breadcrumb__link
							span(itemprop="name")= args.content2
							meta(itemprop="position" content="2")

			if args.content3
				li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
					span(title=args.content3 itemprop="name").breadcrumb__link
						span(itemprop="name")= args.content3
						meta(itemprop="position" content="3")

