+include-style('about')
.about-us
	.container
		.about-us__inner
			.about-us__left
				p Мы — охотники, и мы хотим получать максимум удовольствия от того, что любим. 
				p Наблюдать за животными, видеть то, что скрыто от простого глаза.
				span Комфорт, качество, долгий срок службы — основные параметры всех приборов, с которыми мы работаем сами, и которые предлагаем попробовать вам.
			.about-us__right
				.about-us__red В нашем магазине — только профессиональная линейка оптических устройств с расширенными функциональными возможностями для тех, кто действительно ценит качество, практичность и удобство. 
.about-shop.fhd-container
	.about-shop__bg
		+lazy-img({
			wrap_mod: 'about-shop__bg-img-wrap',
			img: '/images/about-shop-bg.jpg',
			placeholder: pixel
		})
	.container
		.about-shop__budge
			<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
			</svg>
		.about-shop__descr Наш интернет-магазин продает оптические приборы и аксессуары Pulsar, выпускаемые компанией Yukon Advanced Optics Worldwide. Мы считаем, что оптические приборы Pulsar — одни из лучших на рынке по потребительским качествам и стоимости, они спроектированы с применением самых последних технологий.
.about-consultation.fhd-container
	.container
		.about-consultation__inner
			.about-consultation__left
				p Позвоните или напишите нам — мы проконсультируем и поможем вам определиться с выбором, поможем с адаптацией прицелов к оружию, организуем полевые испытания приборов в реальных условиях. 
				p Мы продаем весь ассортимент продукции Pulsar, не ограничиваясь представленным на сайте. Свяжитесь с нами и мы поможем приобрести необходимое оборудование.
			.about-consultation__right
				+lazy-img({
					wrap_mod: 'about-consultation__bg',
					img: '/images/about-consultation.jpg',
					placeholder: pixel
				})
.about-thanks
	+lazy-img({
		wrap_mod: 'about-thanks__img-wrap',
		img: '/images/about-thanks-bg.jpg',
		placeholder: pixel
	})
	.container
		.about-thanks__inner
			.about-thanks__title Приобретая официальные устройства Pulsar, вы получаете гарантию высокого качества и безупречный уровень сервиса. 
			.about-thanks__decsr Спасибо, <br> что выбираете Pulsar.guru!