@import "src/assets/css/vars_mixins/vars_mixins";

.about-us {
	background-color: #001740;
	position        : relative;
	margin-bottom   : 16px;

	&:before {
		position  : absolute;
		content   : '';
		top       : 0;
		bottom    : 0;
		left      : 0;
		right     : 0;
		background: radial-gradient(50% 50% at 50% 50%, #005DA6 0%, rgba(10, 60, 100, 0) 100%);
		z-index   : 0;
	}

	&__inner {
		padding-top   : 144px;
		padding-bottom: 136px;
		display       : flex;
		position      : relative;

		@media (max-width: $lg - 1) {
			flex-direction: column;
		}

		@media (max-width: $sm - 1) {
			padding-top   : 70px;
			padding-bottom: 23px;
		}

	}

	&__left {
		width: 50%;

		@media (max-width: $lg - 1) {
			width: auto;
		}

		p {
			font-size    : 40px;
			font-weight  : 700;
			font-family  : $f-sec;
			color        : #fff;
			margin-bottom: 50px;
			max-width    : 590px;
			line-height  : 0.95;

			@media (max-width: $sm - 1) {
				font-size    : 28px;
				line-height  : 1.07;
				margin-bottom: 30px;
			}
		}

		span {
			max-width: 590px;
			display  : block;
			font-size: 26px;
			color    : #fff;

			@media (max-width: $sm - 1) {
				font-size: 20px;
			}
		}
	}

	&__right {
		width          : 50%;
		display        : flex;
		justify-content: flex-end;

		@media (max-width: $lg - 1) {
			width: auto;
		}
	}

	&__red {
		padding         : 75px 43px 75px 77px;
		background-color: $c-primary-2;
		color           : #fff;
		max-width       : 550px;
		font-size       : 26px;
		border-radius   : 2px;

		@media (max-width: $lg - 1) {
			padding     : 53px 26px 49px 26px;
			margin-top  : 48px;
			margin-right: auto;
		}

		@media (max-width: $sm - 1) {
			font-size: 20px;
		}
	}
}

.about-shop {
	margin-bottom: 236px;

	@media (max-width: $md - 1) {
		margin-bottom: 150px;
	}

	@media (max-width: $sm - 1) {
		margin-bottom: 65px;
	}

	&__bg {
		padding-bottom: 37%;
		position      : relative;

		@media (max-width: $sm - 1) {
			height: 357px;
		}
	}

	&__bg-img-wrap {
		position: absolute;
		top     : 0;
		bottom  : 0;
		left    : 0;
		right   : 0;

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;

			@media (max-width: $sm - 1) {
				object-position: 25% center;
			}
		}
	}

	&__budge {
		width        : 25px;
		margin       : auto;
		margin-bottom: 32px;
	}

	&__descr {
		max-width : 741px;
		text-align: center;
		margin    : auto;
		font-size : 26px;

		@media (max-width: $sm - 1) {
			font-size : 20px;
			text-align: left;
		}
	}
}

.about-consultation {
	overflow: hidden;

	&__inner {
		display: flex;

		@media (max-width: $lg - 1) {
			flex-direction: column;
		}
	}

	&__left {
		position      : relative;
		padding-top   : 188px;
		padding-bottom: 215px;
		width         : 50%;

		@media (max-width: $lg - 1) {
			width: auto;
			padding-top: 60px;
			padding-bottom: 66px;
		}

		p {
			color    : #fff;
			font-size: 20px;
			max-width: 514px;

			@media (max-width: $sm - 1) {
				font-size: 14px;
			}

			&:not(:last-child) {
				margin-bottom: 45px;
				@media (max-width: $sm - 1){
					margin-bottom: 20px;
				}
			}
		}

		&::before {
			content         : '';
			position        : absolute;
			left            : calc((100vw - 1360px) / 2 * -1);
			right           : 0;
			bottom          : 0;
			top             : 0;
			z-index         : -1;
			background-color: #1F1E26;

			@media (max-width: $xl - 1) {
				left: calc((100vw - 1168px) / 2 * -1);
			}

			@media (max-width: $lg - 1) {
				left : -16px;
				right: -16px;
			}
		}

	}

	&__right {
		position: relative;
		width   : 50%;

		@media (max-width: $lg - 1) {
			width: auto;
			height: 325px;
		}
	}

	&__bg {
		position: absolute;
		top     : 0;
		bottom  : 0;
		left    : 0;
		right   : calc((100vw - 1360px) / 2 * -1);


		@media (max-width: $xl - 1) {
			right: calc((100vw - 1168px) / 2 * -1);
		}

		@media (max-width: $lg - 1) {
			// position: relative;
			left    : -16px;
			right   : -16px;
		}

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;
		}
	}
}

.about-thanks {
	height       : 497px;
	position     : relative;
	margin-bottom: 15px;

	@media (max-width: $sm - 1){
		height: 450px;
	}

	&__img-wrap {
		position: absolute;
		top     : 0;
		bottom  : 0;
		left    : 0;
		right   : 0;
		z-index : -1;

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;
			@media (max-width: $sm - 1){
				object-position: calc(50% + 30px) center;
			}
		}
	}



	&__title {
		font-size  : 26px;
		line-height: 34px;

		text-align : center;
		max-width  : 753px;
		margin     : auto;
		padding-top: 123px;

		@media (max-width: $sm - 1) {
			padding-top: 96px;
			font-size  : 20px;
			line-height: 23px;
		}
	}

	&__decsr {
		font-family: $f-sec;
		font-weight: 700;
		font-size  : 40px;
		line-height: 38px;
		text-align : center;
		margin-top : 170px;

		@media (max-width: $sm - 1) {
			font-size  : 28px;
			line-height: 30px;
			margin-top: 140px;
		}
	}
}