extends ../../layout/layout

block vars
	- var pageTitle = 'Страница линейки'
	- var pageBodyClass = 'header--white line-page'
	- var dir = './'


block main
	.container.no-animate
		+breadcrumb({
			mod: 'breadcrumb--absolute',
			content2 : 'Продукция',
			href_content2: true,
			content3 : 'Pulsar Axion',
		})
	include ../../components/inner-hero/inner-hero-line
	include ../../components/line-about/line-about
	include ../../components/index-catalog/grid-catalog
	include ../../components/grid-catalog/line-catalog
	include ../../components/line-help/line-help
	include ../../components/youtube-section/line-youtube-section
	include ../../components/line-content/line-content
	include ../../components/backcallform/backcallform-4
	.line-bg
		include ../../components/line-content/line-specifications
		include ../../components/line-content/line-features
		include ../../components/line-content/line-popup-video
		include ../../components/line-content/line-waterresistance
		include ../../components/line-content/line-peculiarities
	include ../../components/utp-section/utp-section
	include ../../components/backcallform/backcallform-2
	include ../../components/line-slider/line-slider
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section
	include ../../components/backcallform/backcallform-3
block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	+include-style('animation')
	+include-script('animation')
	script(src="./js/vendor/swiper.min.js" defer)