+include-style('line-slider')
+include-script('line-slider')


mixin download-card(args={})
	.download-card
		.download-card__inner
			+link-full()
			.download-card__icon
				<svg width="43" height="57" viewBox="0 0 43 57" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.6988 35.4648H10.1584V44.2286H11.813V41.3964H13.7699H14.1613C15.3533 41.3964 16.1539 41.2005 16.5453 40.8264C16.9367 40.4345 17.1324 39.6686 17.1324 38.493C17.1324 37.3173 16.9189 36.5158 16.5097 36.1061C16.1005 35.6964 15.2999 35.4827 14.108 35.4827H13.6988V35.4648ZM15.4601 38.5108C15.4601 39.152 15.3533 39.5617 15.1576 39.7398C14.9619 39.918 14.4816 40.007 13.7166 40.007H11.8308V36.872H13.8945C14.6061 36.872 15.0509 36.9611 15.211 37.1392C15.3711 37.3173 15.4601 37.7805 15.4601 38.5108Z" fill="#005DA6"/>
					<path d="M25.2273 43.3023C25.6187 42.6789 25.8144 41.2717 25.8144 39.0808C25.8144 37.7448 25.5653 36.8008 25.085 36.2664C24.6046 35.732 23.7329 35.4648 22.5231 35.4648H18.2178V44.2286H22.5765C23.9464 44.2286 24.8359 43.9258 25.2273 43.3023ZM19.8723 42.8392V36.872H22.3452C23.1102 36.872 23.6083 37.0502 23.8218 37.4064C24.0353 37.7627 24.1421 38.582 24.1421 39.8823C24.1421 41.1292 24.0175 41.9486 23.7862 42.3048C23.555 42.6789 23.039 42.857 22.2385 42.857H19.8723V42.8392Z" fill="#005DA6"/>
					<path d="M28.6962 40.6305H32.6102V39.2233H28.6962V36.872H32.8237V35.4648H27.0239V44.2286H28.6962V40.6305Z" fill="#005DA6"/>
					<path d="M3.55813 57H39.4419C41.3988 57 43 55.3969 43 53.4375V3.5625C43 1.60312 41.3988 0 39.4419 0H3.55813C1.60116 0 0 1.60312 0 3.5625V53.4375C0 55.3969 1.60116 57 3.55813 57ZM3.55813 1.78125H39.4419C40.4204 1.78125 41.2209 2.58281 41.2209 3.5625V53.4375C41.2209 54.4172 40.4204 55.2188 39.4419 55.2188H3.55813C2.57964 55.2188 1.77906 54.4172 1.77906 53.4375V19.6472H15.9226V17.8659H1.77906V13.9116H11.5105V12.1303H1.77906V3.5625C1.77906 2.58281 2.57964 1.78125 3.55813 1.78125Z" fill="#005DA6"/>
				</svg>
			.download-card__title= args.title
			.download-card__descr= args.descr

.line-slider.fhd-container.line-slider--product
	.container
		.line-slider__inner
			.line-slider__title Подходит для моделей
			+swiper({
				container_mod: '',
				wrapper_mod: '',
				navigation: true,
				pagination: true,
			}).line-slider__slider.line-slider__slider--catalog.js-line-slider
				.swiper-slide
					+accessories-card({
						img: '/images/accessories-line-slider-1.png',
						title: 'Pulsar Digisight Ultra N455',
						mod: 'accessories-card--catalog',
						availability: true
					})
				.swiper-slide
					+accessories-card({
						img: '/images/accessories-line-slider-2.png',
						title: 'Pulsar Digisight Ultra N455 LRF Pulsar Pulsar Digisight Ultra N455 LRF Pulsar Digisight Ultra N455 LRF',
							mod: 'accessories-card--catalog',
						availability: true
					})
				.swiper-slide
					+accessories-card({
						img: '/images/accessories-line-slider-3.png',
						title: 'Pulsar Forward F455',
							mod: 'accessories-card--catalog',
						availability: true
					})
				.swiper-slide
					+accessories-card({
						img: '/images/accessories-line-slider-3.png',
						title: 'Pulsar Forward F455',
							mod: 'accessories-card--catalog',
						availability: true
					})
				.swiper-slide
					+accessories-card({
						img: '/images/accessories-line-slider-3.png',
						title: 'Pulsar Forward F455',
							mod: 'accessories-card--catalog',
						availability: true
					})
				.swiper-slide
					+accessories-card({
						img: '/images/accessories-line-slider-3.png',
						title: 'Pulsar Forward F455',
							mod: 'accessories-card--catalog',
						availability: true
					})
.line-slider.fhd-container
	.container
		.line-slider__inner
			.line-slider__title Загрузки
			+swiper({
				container_mod: '',
				wrapper_mod: '',
				navigation: true,
				pagination: true,
			}).line-slider__slider.js-line-slider
				.swiper-slide
					+download-card({
						img: '/images/accessories-card-1.png',
						title: 'Краткое руководство',
						descr: 'pdf 12.6 Мб'
					})
				.swiper-slide
					+download-card({
						img: '/images/accessories-card-2.png',
						title: 'Зарядное устройство APS',
						descr: 'pdf 3.4 Мб'
					})
				.swiper-slide
					+download-card({
						img: '/images/accessories-card-3.png',
						title: 'PULSAR PB8I',
						descr: 'pdf 3.4 Мб'
					})
				.swiper-slide
					+download-card({
						img: '/images/accessories-card-4.png',
						title: 'Таблица совместимости приборов и батарей',
						descr: 'Шpdf 1.2 Мб'
					})
				.swiper-slide
					+download-card({
						img: '/images/accessories-card-4.png',
						title: 'Таблица совместимости приборов и батарей',
						descr: 'Шpdf 1.2 Мб'
					})
				.swiper-slide
					+download-card({
						img: '/images/accessories-card-4.png',
						title: 'Таблица совместимости приборов и батарей',
						descr: 'Шpdf 1.2 Мб'
					})