@import "src/assets/css/vars_mixins/vars_mixins";

.accessories-card,
.download-card {
	height     : 100%;
	border     : 1px solid transparent;
	transition : all .3s ease;
	line-height: 1.3;


	&__inner {
		box-shadow   : 0px 4px 40px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		padding      : 28px 40px;
		position     : relative;
		height       : 100%;

		@media (max-width: $sm - 1) {

			display       : flex;
			flex-direction: column-reverse;
			padding       : 10px;
		}

		@media (max-width: $xs - 1) {
			box-shadow: none;
		}
	}

	&:hover {
		@media (min-width: 1024px) {
			cursor      : pointer;
			border-color: $c-primary;
		}
	}

	&__img-wrap {
		height: 210px;

		@media (max-width: $sm - 1) {
			height: 150px;
		}

		img {
			max-width : 100%;
			max-height: 100%;
		}
	}

	&__title {
		font-size    : 20px;
		margin-bottom: 20px;

		@media (max-width: $sm - 1) {
			margin-bottom     : 15px;
			height            : 50px;
			display           : -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow          : hidden;
		}
	}

	&__descr {
		font-size         : 16px;
		color             : #6B6B6B;
		line-height       : 1.5;
		display           : -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		overflow          : hidden;
		height            : 120px;

		@media (max-width: $sm - 1) {
			display: none;
		}
	}
}


.download-card {
	height: 100%;

	&__inner {
		background   : #F3F3F3 !important;
		border-radius: 2px;
		padding      : 36px 42px;
		box-shadow   : none;
		height       : 100%;

		@media (max-width: $sm - 1) {
			padding       : 21px 16px;
			flex-direction: column;
		}
	}

	&__icon {
		margin-bottom: 20px;

		@media (max-width: $sm - 1) {
			max-width : 35px;
			max-height: 47px;
		}
	}

	&__title {
		margin-bottom: 7px;
		height       : auto;
		display      : block;
		overflow     : visible;

		@media (max-width: $sm - 1) {
			font-weight  : 500;
			font-size    : 14px;
			margin-bottom: 4px;
		}
	}

	&__descr {
		font-size: 16px;
		color    : grey;
		height   : auto;

		@media (max-width: $sm - 1) {
			display  : block;
			font-size: 14px;
		}
	}

}

.line-slider {
	margin-top   : 88px;
	margin-bottom: 46px;
	overflow     : hidden;

	@media (max-width: $sm - 1) {
		margin-top   : 44px;
		margin-bottom: 42px;
	}

	&__inner {
		padding-bottom: 40px;
	}

	&--product {
		.line-slider__inner {
			padding-bottom: 60px;
		}
	}

	&__title {
		text-align   : center;
		font-size    : 50px;
		font-weight  : 900;
		font-family  : $f-thir;
		margin-bottom: 55px;

		@media (max-width: $sm - 1) {
			font-size    : 28px;
			margin-bottom: 14px;
		}
	}

	&__slider {
		// margin: -20px -20px;

		@media (max-width: $sm - 1) {
			margin: 0;
		}

		.swiper-container {
			// padding: 40px 0px;
			overflow: visible;

			@media (min-width: 1024px) {}

			@media (max-width: $sm - 1) {
				padding: 0;
			}
		}

		&--catalog {
			height: 468px;

			@media (max-width: $sm - 1) {
				height: auto;
			}
		}
	}

	.swiper-container:not(.swiper-container-initialized) {
		.swiper-slide {
			margin-right: 20px;
			width       : calc(25% - 15px);
		}
	}

	.swiper-slide {
		display       : flex;
		flex-direction: column;
		height        : auto;
		width         : 25%;
		padding       : 10px;

		&:not(.swiper-slide-visible) {
			max-height: 0px;
			overflow  : hidden;
			visibility: hidden;
			padding   : 0px;
		}

		@media (max-width: $lg - 1) {
			width: 33.33%;
		}

		@media (max-width: $md - 1) {
			width: 50%;
		}
	}

	.swiper-navigation {
		position: absolute;
		bottom  : calc(100% + 70px);
		right   : 10px;

		@media (max-width: $sm - 1) {
			display: none;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		border: 1px solid rgba(35, 31, 32, 0.2);
	}

	.swiper-pagination-bullet {
		&:after {
			background: rgba(210, 210, 210, 0.5);
		}

	}

	.swiper-pagination {
		bottom: -20px;
	}

	.swiper-pagination-bullet-active {
		&:after {
			background: $c-primary-2
		}

	}

	.swiper-container {
		z-index: 6;
	}
}