+include-style('checkout')
+include-script('checkout')
.checkout
	.container
		.checkout__inner
			form.bv-form.checkout__left.js-checkout-form
				.checkout__block
					.checkout__title Ваши данные
					.checkout__row
						+input({
							label: 'Телефон',
							fg_mod: 'active',
							type: 'tel',
							name: false,
							small: false,
							placeholder: '',
							required: true,
							pattern: 'phone',
							validation: {
								message: 'Заполните поле',
								regexp: 'Неверный формат',
								emailaddress: ' ',
								identical: false
							}
						})
						+input({
							label: 'Почта',
							type: 'email',
							fg_mod: 'form-group--margin',
							name: false,
							small: false,
							placeholder: '',
							required: true,
							pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
							validation: {
								message: 'Заполните поле',
								regexp: 'Неверный формат',
								emailaddress: ' ',
								identical: false
							}
						})
					+input({
						label: 'Имя и фамилия',
						fg_mod: '',
						type: 'text',
						name: false,
						small: false,
						placeholder: '',
						required: true,
						pattern: false,
						validation: {
							message: 'Заполните поле',
							regexp: 'Неверный формат',
							emailaddress: ' ',
							identical: false
						}
					})
				//- .checkout__block
				//- 	.checkout__title Доставка или самовывоз
				//- 	+radio({
				//- 		wrap_mod: 'form-group--checkout',
				//- 		checked: true,
				//- 		name: 'checkout-delivery'
				//- 	})
				//- 		span.checkout-delivery
				//- 			span.checkout-delivery__title Заказ в один клик
				//- 			span.checkout-delivery__descr Менеджер перезвонит Вам для уточнения деталей доставки 
				//- 	+radio({
				//- 		wrap_mod: 'form-group--checkout',
				//- 		checked: true,
				//- 		name: 'checkout-delivery'
				//- 	})
				//- 		span.checkout-delivery
				//- 			span.checkout-delivery__title Пункты выдачи СДЭК
				//- 	.checkout__row
				//- 		+custom-select({
				//- 			default: 'Выберите регион',
				//- 			mod: 'form-control custom-select--checkout ',
				//- 			items: [
				//- 			{value: 1, text: 'Регион 1'},
				//- 			{value: 2, text: 'Регион 2'},
				//- 			{value: 3, text: 'Регион 3'},
				//- 			{value: 4, text: 'Регион 4'}
				//- 		]
				//- 		})
				//- 		+input({
				//- 			label: 'Город',
				//- 			fg_mod: '',
				//- 			type: 'text',
				//- 			name: false,
				//- 			small: false,
				//- 			placeholder: '',
				//- 			required: false,
				//- 			pattern: false,
				//- 			validation: {
				//- 				message: 'Заполните поле',
				//- 				regexp: 'Неверный формат',
				//- 				emailaddress: ' ',
				//- 				identical: false
				//- 			}
				//- 		})
				//- 	.checkout__map
				//- 		img(src="/local/templates/html/images/checkout-map.jpg" alt="")
				//- 	+radio({
				//- 		wrap_mod: 'form-group--checkout',
				//- 		name: 'checkout-delivery'
				//- 	})
				//- 		span.checkout-delivery
				//- 			span.checkout-delivery__title Курьерская доставка СДЭК
				//- 			span.checkout-delivery__descr Расчет стоимости доставки курьерской компанией СДЭК
				//- .checkout__block
				//- 	.checkout__title Способы оплаты
				//- 	.checkout__row
				//- 		+radio({
				//- 			wrap_mod: 'form-group--checkout',
				//- 			checked: true,
				//- 			name: 'checkout-payment'
				//- 		})
				//- 			span.checkout-delivery
				//- 				span.checkout-delivery__title Оплата при получении
				//- 				span.checkout-delivery__descr Оплатить заказ в пункте выдачи
				//- 		+radio({
				//- 			wrap_mod: 'form-group--checkout',
				//- 			name: 'checkout-payment'
				//- 		})
				//- 			span.checkout-delivery
				//- 				span.checkout-delivery__title Оплата онлайн
				//- 				span.checkout-delivery__descr Мы пришлем ссылку на оплату
				.checkout__block
					.checkout__title Комментарий к заказу
					+textarea({
						fg_mod: 'text-area--contacts',
						placeholder: '',
					})
				.checkout__block
					.checkout__info Менеджер свяжется с Вами для уточнения способа доставки и оплаты
			.checkout__right
				.checkout-confirm
					.checkout-confirm__inner
						.checkout-confirm__body
							.checkout-confirm__mobile-header.js-mobile-basket
								.checkout-confirm__mobile-total Ваши товары (2)
								.checkout-confirm__mobile-trigger
									span Развернуть
									+icon('i-arrow-2')(style="width:8px;height: 8px")
							+basket-card()
							+basket-card()
						.checkout-confirm__footer
							.checkout-confirm__promo
								+input({
									label: '',
									fg_mod: 'form-group--promocode',
									type: 'text',
									name: false,
									small: false,
									placeholder: 'Есть промокод? Введите!',
									required: true,
									pattern: false,
									validation: {
										message: 'Заполните поле',
										regexp: 'Неверный формат',
										emailaddress: ' ',
										identical: false
									}
								})
								.checkout-confirm__promo-check
							.checkout-confirm__total
								.checkout-confirm__total-title Итого:
								.checkout-confirm__price-wrap
									span.checkout-confirm__price 159 900 
									span.checkout-confirm__val ₽
							button.checkout-confirm__control.js-form-submit Оформить заказ
					.checkout-confirm__policy Отправляя форму, Вы принимаете Положение об обработке <br> персональных данных