@import "src/assets/css/vars_mixins/vars_mixins";


.checkout {
	&__inner {
		display        : flex;
		justify-content: space-between;

		@media (max-width: $md - 1) {
			flex-direction: column;
		}
	}

	&__left {
		border-radius   : 2px;
		background-color: #F3F3F3;
		padding-top     : 37px;
		padding-bottom  : 65px;
		width           : calc(66% - 10px);
		align-self      : flex-start;

		@media (max-width: $lg - 1) {
			width: calc(55% - 10px);
		}

		@media (max-width: $md - 1) {
			width: auto;
		}

		@media (max-width: $sm - 1) {
			padding-top   : 20px;
			margin-left   : -16px;
			margin-right  : -16px;
			padding-bottom: 30px;
		}
	}

	&__right {
		width: calc(34% - 10px);

		@media (max-width: $lg - 1) {
			width: calc(45% - 10px);
		}

		@media (max-width: $md - 1) {
			width: auto;
		}
	}

	&__block {
		padding-left  : 135px;
		padding-right : 132px;
		padding-bottom: 49px;

		@media (max-width: $sm - 1) {
			padding-bottom: 28px;
		}

		@media (max-width: $xl - 1) {
			padding-left : 80px;
			padding-right: 80px;
		}

		@media (max-width: $lg - 1) {
			padding-left : 30px;
			padding-right: 30px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid rgba(35, 31, 32, 0.1);
			margin-bottom: 39px;

			@media (max-width: $sm - 1) {
				margin-bottom: 16px;
			}
		}

		&:last-child {
			padding-bottom: 0px;
		}

		@media (max-width: $sm - 1) {
			padding-left : 16px;
			padding-right: 16px;
		}
	}

	&__row {
		display      : flex;
		margin-bottom: 25px;

		@media (max-width: $sm - 1) {
			margin-bottom: 12px;
		}

		@media (max-width: $lg - 1) {
			flex-direction: column;
		}

		.form-group {
			width: 50%;

			@media (max-width: $lg - 1) {
				width: auto;
			}

			&:not(:last-child) {
				margin-right: 30px;

				@media (max-width: $lg - 1) {
					margin-bottom: 25px;
					margin-right : 0px;
				}


				@media (max-width: $sm - 1) {
					margin-bottom: 12px;
				}
			}
		}


	}

	&__title {
		font-size    : 32px;
		font-weight  : 700;
		font-family  : $f-sec;
		margin-bottom: 16px;

		@media (max-width: $sm - 1) {
			font-size : 22px;
			text-align: center;
		}
	}

	&__map {
		margin-bottom: 25px;
	}

	&__info {
		padding         : 20px;
		background-color: rgba(0, 93, 166, 0.1);
		font-size       : 16px;

	}

	@media (max-width: $md - 1) {
		padding-top: 80px;
		position   : relative;
		max-width  : 736px;
		margin     : auto;
	}
}

.checkout-delivery {
	padding      : 35px 30px;
	background   : #FFFFFF;
	box-shadow   : 0px 4px 50px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	display      : block;
	width        : 100%;
	border       : 2px solid transparent;
	transition   : opacity .3s ease;
	height       : 100%;

	@media (max-width: $sm - 1) {
		padding        : 0px;
		height         : 100%;
		display        : flex;
		flex-direction : column;
		justify-content: center;
		padding-left   : 25px;
	}



	&:hover {
		@media (min-width: 1024px) {
			cursor : pointer;
			opacity: 0.7;
		}
	}

	&__title {
		font-size    : 16px;
		font-weight  : 700;
		margin-bottom: 2px;
		display      : block;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}

	&__descr {
		font-size  : 16px;
		color      : #6B6B6B;
		display    : block;
		font-weight: normal;
		white-space: normal;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}


}

.form-group--checkout {
	margin-bottom: 25px;

	@media (max-width: $sm - 1) {
		height: 111px;
	}

	label {
		width: 100%;
	}

	.radio input:checked~label:after {
		display: none;
	}

	.radio input:checked~label .checkout-delivery {
		pointer-events: none;
		border-color  : $c-primary;
	}

	.radio {

		height: 100%;
	}

	label {
		height: 100%;
	}


}

.form-group-select {
	.custom-select--checkout {
		@media (max-width: $sm - 1) {
			height: 46px;
		}

	}

	.custom-select__trigger {
		@media (max-width: $sm - 1) {
			top: 12px;
		}
	}
}

.checkout-confirm {
	position: sticky;
	top     : 90px;

	@media (max-width: $md - 1) {
		position: static;
	}

	&__body {
		@media (max-width: $md - 1) {
			position        : absolute;
			top             : 0;
			left            : 16px;
			right           : 16px;
			background-color: #fff;
			z-index         : 2;
			border          : 2px solid #1F1E26;
			box-sizing      : border-box;
			box-shadow      : 0px 4px 50px rgba(0, 0, 0, 0.1);

			.basket-card {
				display: none;
			}

		}

		@media (max-width: $sm - 1) {}

		&.active {
			.checkout-confirm__mobile-trigger {
				.icon {
					transform: rotate(-90deg);
				}
			}
		}
	}


	&__inner {
		border       : 2px solid #1F1E26;
		box-shadow   : 0px 4px 50px rgba(0, 0, 0, 0.1);
		border-radius: 2px;

		@media (max-width: $sm - 1) {
			border    : none;
			box-shadow: none;
		}
	}

	&__footer {
		padding         : 22px 45px;
		background-color: #1F1E26;

		@media (max-width: $sm - 1) {
			padding     : 28px 35px;
			margin-left : -16px;
			margin-right: -16px;
			margin-top  : 40px;
		}
	}

	&__mobile {

		&-header {

			display   : none;
			padding   : 20px 26px;
			background: #FFFFFF;

			border-radius  : 2px;
			justify-content: space-between;
			font-size      : 14px;

			@media (max-width: $md - 1) {
				display: flex;
			}
		}

		&-total {
			font-weight: 700;
		}

		&-trigger {
			.icon {
				transform  : rotate(90deg);
				margin-left: 10px;
				transition : all .3s ease;

			}
		}

	}

	.basket-card__img-wrap {
		width: 153px;
	}

	.basket-card__right {
		padding-left: 30px;

		@media (max-width: $sm - 1) {
			padding-left: 28px;
			width       : calc(50% + 28px);

			.custom-select__trigger {
				top: 6px;
			}
		}
	}

	.basket-card__left {
		@media (max-width: $sm - 1) {
			padding-left: 0px;
			width       : 50%;
			display     : flex;
			align-items : center;

			.basket-card__img-wrap {
				width: 100%;
			}
		}
	}

	&__control {
		height          : 61px;
		background-color: $c-primary;
		display         : flex;
		align-items     : center;
		justify-content : center;
		color           : #fff;
		font-size       : 16px;
		width           : 100%;
		border-radius   : 2px;
		transition      : all .3s ease;

		@media (max-width: $sm - 1) {
			height   : 46px;
			font-size: 14px;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor          : pointer;
				background-color: $c-primary-2;
			}
		}
	}

	&__total {
		margin-bottom  : 20px;
		display        : flex;
		align-items    : center;
		justify-content: space-between;

		&-title {
			color: rgba(255, 255, 255, 0.4);
		}
	}

	&__price-wrap {
		white-space: nowrap;
		color      : #fff;
		font-weight: 500;
	}

	&__price {
		font-size: 32px;
	}

	&__val {
		font-size: 24px;
	}

	&__promo {
		position: relative;

		&-check {

			position        : absolute;
			content         : '';
			width           : 24px;
			height          : 24px;
			top             : 50%;
			transform       : translateY(-50%);
			right           : 18px;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12H20' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 5L20 12L13 19' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			transition      : all .3s ease;

			&:hover {
				@media (min-width: 1024px) {
					cursor   : pointer;
					transform: translateY(-50%) translateX(5px);
				}
			}
		}
	}

	&__policy {
		margin-top: 37px;
		text-align: center;
		color     : rgba(107, 107, 107, 0.5);
		font-size : 12px;
	}
}

.form-group--promocode {
	position     : relative;
	margin-bottom: 20px;



	.form-control {
		background-color: rgba(255, 255, 255, 0.1);
		color           : #fff;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}

		&::placeholder {
			color: #fff;

			@media (max-width: $sm - 1) {
				font-size: 14px;
			}
		}
	}
}