+include-style('product-features')
.product-features
	.container
		.product-features__inner
			.product-features__item
				+lazy-img({
					wrap_mod: 'product-features__img-wrap',
					img: '/images/product-feature-icon-1.svg'
				})
				.product-features__content
					.product-features__title Сенсор
					.product-features__descr 384x288 pix. @ 17 µm (NETD <40 mK)
			.product-features__item
				+lazy-img({
					wrap_mod: 'product-features__img-wrap',
					img: '/images/product-feature-icon-2.svg'
				})
				.product-features__content
					.product-features__title Объектив
					.product-features__descr F38/1.2
			.product-features__item
				+lazy-img({
					wrap_mod: 'product-features__img-wrap',
					img: '/images/product-feature-icon-3.svg'
				})
				.product-features__content
					.product-features__title Увеличение, x
					.product-features__descr 3.5 - 14 (x4 zoom)
			.product-features__item
				+lazy-img({
					wrap_mod: 'product-features__img-wrap',
					img: '/images/product-feature-icon-4.svg'
				})
				.product-features__content
					.product-features__title Поле зрения (ГхВ)° / м @ 100 м
					.product-features__descr 9.8x7.4 / 17.2x12.9
			.product-features__item
				+lazy-img({
					wrap_mod: 'product-features__img-wrap',
					img: '/images/product-feature-icon-5.svg'
				})
				.product-features__content
					.product-features__title Дистанция обнаружения, м
					.product-features__descr 1 350