@import "src/assets/css/vars_mixins/vars_mixins";

.product-features {
	padding         : 82px 0px;
	background-color: #E5E5E5;
	padding-bottom  : 57px;
	overflow        : hidden;

	@media (max-width: $md - 1) {
		padding: 44px 0px;

	}

	&__inner {
		display    : flex;
		align-items: center;
		margin     : 0px -50px;



		@media (max-width: $lg - 1) {
			margin: 0px -25px;
		}

		@media (max-width: $md - 1) {
			margin        : 0px;
			flex-direction: column;
			align-items   : flex-start;
			max-width     : 500px;
			margin        : auto;
		}

		@media (max-width: $sm - 1) {
			max-width: 275px;
		}
	}

	&__img-wrap {
		margin-bottom: 25px;
		align-self   : flex-start;
		flex         : 0 0 auto;

		@media (max-width: $md - 1) {
			align-self   : center;
			margin-right : 18px;
			width        : 30px;
			margin-bottom: 0px;
		}
	}

	&__title {
		color        : #6B6B6B;
		font-size    : 16px;
		margin-bottom: 8px;

		@media (max-width: $md - 1) {
			margin-bottom: 0px;
		}
	}

	&__descr {
		font-weight: 700;
		font-size  : 16px;
	}

	&__item {
		width         : 20%;
		padding       : 0px 50px;
		display       : flex;
		flex-direction: column;
		margin-bottom : 25px;

		@media (max-width: $lg - 1) {
			padding: 0px 25px;
		}

		@media (max-width: $md - 1) {
			width         : auto;
			margin-bottom : 30px;
			flex-direction: row;
			align-items   : center;
			padding       : 0px;
		}
	}
}