@import "src/assets/css/vars_mixins/vars_mixins";


.modal-order {
	.modal-dialog {
		max-width: 517px;

		border-radius: 2px;
	}

	.modal-content {

		background-color: $c-primary;
		padding-bottom  : 82px;

		@media (max-width: $sm - 1) {
			padding-bottom: 60px;
		}
	}

	.modal-close {
		top  : 22px;
		right: 22px;

		.icon {
			fill      : #fff;
			transition: all .3s ease;

		}

		transition: all .3s ease;


		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;


				.icon {
					transform: rotate(180deg);
					fill     : $c-primary-2;
				}
			}
		}
	}

	&__title {
		font-family  : $f-sec;
		font-size    : 60px;
		font-weight  : 700;
		color        : #fff;
		text-align   : center;
		margin-bottom: 11px;
		line-height  : 0.83;

		@media (max-width: $sm - 1) {
			font-size: 30px;
		}
	}

	&__about {
		font-size : 16px;
		color     : #fff;
		text-align: center;
	}

	&__form {

		max-width : 243px;
		margin    : auto;
		margin-top: 40px;

		@media (max-width: $sm - 1) {
			margin-top: 20px;
		}
	}

	.btn.btn--primary {
		margin-top: 9px;
	}
}

// - bootstrap стили

.modal-scrollbar-measure {
	position: absolute;
	top     : -9999px;
	width   : 50px;
	height  : 50px;
	overflow: scroll;
}

.modal-open {
	overflow: hidden;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal {
	position: fixed;
	top     : 0;
	left    : 0;
	z-index : 2000;
	display : none;
	width   : 100%;
	height  : 100%;
	overflow: hidden;
	outline : 0;
}

.fade {
	transition: opacity 0.15s linear;
}

.modal-narrow .modal-dialog {
	max-width: 376px;
}

.modal-wide .modal-dialog {
	max-width: 530px;
}

.modal-dialog {

	position      : relative;
	width         : auto;
	margin        : 0.5rem;
	pointer-events: none;
}

.modal.fade .modal-dialog {
	transition       : -webkit-transform 0.3s ease-out;
	transition       : transform 0.3s ease-out;
	transition       : transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	-webkit-transform: translate(0, -50px);
	transform        : translate(0, -50px);
}


.modal-close {
	position: absolute;
	top     : 8px;
	right   : 8px;
}

@media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
		transition: none;
	}
}

.modal.show .modal-dialog {
	-webkit-transform: none;
	transform        : none;
}


.modal-dialog-centered {
	display       : -ms-flexbox;
	display       : flex;
	-ms-flex-align: center;
	align-items   : center;
	min-height    : calc(100% - 1rem);
}

.modal-dialog-centered::before {
	display: block;
	height : calc(100vh - 1rem);
	height : -webkit-min-content;
	height : -moz-min-content;
	height : min-content;
	content: "";
}

.modal-content {
	position          : relative;
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-direction: column;
	flex-direction    : column;
	width             : 100%;
	pointer-events    : auto;
	background-color  : #fff;
	background-clip   : padding-box;
	border            : 1px solid rgba(0, 0, 0, 0.2);
	border-radius     : 0.3rem;
	outline           : 0;
	padding           : 28px;
}

.modal-backdrop {
	position        : fixed;
	top             : 0;
	left            : 0;
	z-index         : 1040;
	width           : 100vw;
	height          : 100vh;
	background-color: #000;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop.show {
	opacity: 0.6;
}

.modal-header {
	display                : -ms-flexbox;
	display                : flex;
	-ms-flex-align         : start;
	align-items            : center;
	-ms-flex-pack          : justify;
	justify-content        : space-between;
	padding                : 0px;
	border-top-left-radius : calc(0.3rem - 1px);
	border-top-right-radius: calc(0.3rem - 1px);
}

.modal-title {
	font-size    : 24px;
	font-weight  : bold;
	margin-bottom: 0;
	line-height  : 1;
	margin-bottom: 20px;

	@media (max-width: $sm - 1) {
		font-size: 16px;
	}
}

.modal-header .close {
	padding: 1rem 1rem;
	margin : -1rem -1rem -1rem auto;
}

.modal-body {
	position: relative;
	-ms-flex: 1 1 auto;
	flex    : 1 1 auto;
}



@media (min-width: $xs) {
	.modal-dialog {
		margin: 1.75rem auto;
	}

	.modal-dialog-scrollable {
		max-height: calc(100% - 3.5rem);
	}

	.modal-dialog-scrollable .modal-content {
		max-height: calc(100vh - 3.5rem);
	}

	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem);
	}

	.modal-dialog-centered::before {
		height: calc(100vh - 3.5rem);
		height: -webkit-min-content;
		height: -moz-min-content;
		height: min-content;
	}

	.modal-xs {
		max-width: 300px;
	}
}

@media (min-width: $md) {

	.modal-md,
	.modal-lg {
		max-width: 800px;
	}
}

@media (min-width: $lg) {
	.modal-lg {
		max-width: 1140px;
	}
}