@font-face {
	font-family: "HalvarMittel";
	src: url("/local/templates/html/fonts/HalvarMittel-Rg.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "HalvarMittel";
	src: url("/local/templates/html/fonts/HalvarMittel-Md.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "CoreSansD57";
	src: url("/local/templates/html/fonts/subset-CoreSansD57CnBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "CoreSansD77";
	src: url("/local/templates/html/fonts/subset-CoreSansD77CnBlack.woff2") format("woff2");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
