+include-style('product-specifications')
+include-script('product-specifications')
.product-specifications
	.container
		.product-specifications__inner
			.product-specifications__title.fz-54 Технические характеристики
			.product-specifications__wrap
				.product-specifications__block
					.product-specifications__header ИК-осветитель
					.product-specifications__table
						.product-specifications__prop Сенсор
						.product-specifications__val 384x288 pix. @ 17 µm (NETD <40 mK)
						.product-specifications__prop Объектив
						.product-specifications__val F38/1.2
						.product-specifications__prop Увеличение, x
						.product-specifications__val 3.5 - 14 (x4 zoom)
						.product-specifications__prop Поле зрения (ГхВ), градусов / м @ 100 м
						.product-specifications__val 9.8x7.4 / 17.2x12.9
						.product-specifications__prop Дистанция обнаружения, м
						.product-specifications__val 1350
				.product-specifications__block
					.product-specifications__header Сенсор
					.product-specifications__table
						.product-specifications__prop Тип
						.product-specifications__val uncooled
						.product-specifications__prop Разрешение, пикселей
						.product-specifications__val 384x288
						.product-specifications__prop Размер пикселя, µm
						.product-specifications__val 17
						.product-specifications__prop NETD, mK
						.product-specifications__val -
						.product-specifications__prop Частота обновления кадра, Гц
						.product-specifications__val 50
				.product-specifications__block
					.product-specifications__header Оптические характеристики
					.product-specifications__table
						.product-specifications__prop Объектив
						.product-specifications__val 384x288 pix. @ 17 µm (NETD <40 mK)
						.product-specifications__prop Увеличение, x
						.product-specifications__val F38/1.2
						.product-specifications__prop Увеличение, x
						.product-specifications__val 3.5 - 14 (x4 zoom)
						.product-specifications__prop Поле зрения (ГхВ), градусов / м @ 100 м
						.product-specifications__val 9.8x7.4 / 17.2x12.9
						.product-specifications__prop Удаление выходного зрачка, мм
						.product-specifications__val 1350
				.product-specifications__block
					.product-specifications__header Оптические характеристики
					.product-specifications__table
						.product-specifications__prop Объектив
						.product-specifications__val 384x288 pix. @ 17 µm (NETD <40 mK)
						.product-specifications__prop Увеличение, x
						.product-specifications__val F38/1.2
						.product-specifications__prop Увеличение, x
						.product-specifications__val 3.5 - 14 (x4 zoom)
						.product-specifications__prop Поле зрения (ГхВ), градусов / м @ 100 м
						.product-specifications__val 9.8x7.4 / 17.2x12.9
						.product-specifications__prop Удаление выходного зрачка, мм
						.product-specifications__val 1350
				.product-specifications__block
					.product-specifications__header Оптические характеристики
					.product-specifications__table
						.product-specifications__prop Объектив
						.product-specifications__val 384x288 pix. @ 17 µm (NETD <40 mK)
						.product-specifications__prop Увеличение, x
						.product-specifications__val F38/1.2
						.product-specifications__prop Увеличение, x
						.product-specifications__val 3.5 - 14 (x4 zoom)
						.product-specifications__prop Поле зрения (ГхВ), градусов / м @ 100 м
						.product-specifications__val 9.8x7.4 / 17.2x12.9
						.product-specifications__prop Удаление выходного зрачка, мм
						.product-specifications__val 1350
				.product-specifications__more
					.btn.btn--primary.btn--dark.btn--more.js-show-more-2 Развернуть все характеристики




