@import "src/assets/css/vars_mixins/vars_mixins";

.product-specifications {
	padding-top: 82px;

	@media (max-width: $sm - 1) {
		margin-top: 36px;
	}

	&__inner {
		max-width: 650px;
		margin   : auto;
	}

	&__title {
		font-family  : $f-thir;
		font-weight  : 900;
		margin-bottom: 51px;
		text-align   : center;

		@media (max-width: $sm - 1) {
			margin-bottom: 20px;
		}
	}

	&__header {
		font-size  : 32px;
		font-weight: 700;
		font-family: $f-sec;

		@media (max-width: $sm - 1) {
			font-size: 22px;
		}
	}

	&__table {
		display              : grid;
		grid-template-columns: 1fr 1fr;
	}

	&__prop,
	&__val {
		font-size    : 16px;
		padding      : 16px 0px;
		border-bottom: 1px solid #EEEEEE;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}

		&:last-child {
			border-bottom: none;
		}

		&:nth-last-child(2) {
			border-bottom: none;
		}

	}

	&__prop {

		color: #6B6B6B
	}

	&__val {
		padding-left: 16px;
	}

	&__wrap {
		&.active {
			.product-specifications__block {
				display: block;
			}
		}
	}

	&__block {
		margin-bottom: 35px;
		display      : none;

		@media (max-width: $sm - 1) {
			margin-bottom: 15px;
		}

		&:nth-child(-n + 3) {
			display: block;
		}
	}

	&__more {
		display        : flex;
		justify-content: center;
	}
}