+include-style('404')

.not-found
	.container
		.not-found__inner
			.not-found__left
				img(src="/local/templates/html/images/404-bg.png", alt="")
			.not-found__right
				.not-found__title Не нашли что искали — напишите нам!
				+get-in-touch()
				.not-found__descr Раз вы уже тут, у нас есть очень интересный инстаграм и ютуб!
				.not-found__social
					a(href="#").not-found__social-item
						+icon('i-inst')(style="width: 72px; height: 72px")
					a(href="#").not-found__social-item
						+icon('i-tube')(style="width: 72px; height: 72px")