@import "src/assets/css/vars_mixins/vars_mixins";

.page-not-found{
	.footer{
		margin-top: 0px;
	}
}

.not-found {
	padding-top     : 202px;
	padding-bottom  : 187px;
	background-color: #001740;
	position        : relative;

	@media (max-width: $sm - 1){
		padding-top: 53px;
		padding-bottom: 90px;
	}

	&:before {
		position  : absolute;
		content   : '';
		top       : 0;
		right     : 0;
		bottom    : 0;
		left      : 0;
		background: radial-gradient(50% 50% at 50% 51.73%, #005DA6 0%, rgba(10, 60, 100, 0) 100%);
		z-index   : 0;
	}

	&__inner {
		position   : relative;
		display    : flex;
		align-items: center;

		@media (max-width: $md - 1){
			flex-direction: column;
		}
	}

	&__right {
		padding-left: 130px;
		@media (max-width: $xl - 1){
			padding-left: 80px;
		}
		@media (max-width: $md - 1){
			padding-left: 0px;
			margin-top: 86px;
			& > *{
				text-align: center;
				margin: auto;
			}
		}
	}

	&__title {
		font-size    : 54px;
		font-weight  : 900;
		font-family  : $f-thir;
		line-height  : 0.92;
		color        : #fff;
		margin-bottom: 57px;
		@media (max-width: $sm - 1){
			font-size: 28px;
			margin-bottom: 25px;
		}
	}

	&__descr {
		margin-top   : 54px;
		color        : #fff;
		font-size    : 26px;
		margin-bottom: 15px;
		@media (max-width: $sm - 1){
			margin-top: 26px;
			margin-bottom: 40px;
		}
	}

	&__social {
		display: flex;
		@media (max-width: $md - 1){
				justify-content: center;
		}

		&-item {
			&:not(:last-child){
				margin-right   : 62px;
				@media (max-width: $sm - 1){
					margin-right: 42px;
				}
			}

			display        : flex;
			align-items    : center;
			justify-content: center;
			fill           : #fff;
			transition: all .3s ease;

			@media (max-width: $sm - 1){
				max-width: 54px;
			}
			
			&:hover {
				@media (min-width: 1024px) {
					cursor: pointer;
					fill: $c-primary-2;
				}
			}
		}
	}
}