extends ../../layout/layout

block vars
	- var pageTitle = 'Каталог аксессуаров'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container.no-animate
		+page-header-section({
			title: "Оформление заказа",
			sidemenu: false
		})
	include ../../components/checkout/checkout
	include ../../components/backcallform/backcallform-6

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)