+include-style('second-animation-component')
+include-script('second-animation-component')

.overlay 
	.parallax 
		.bg
		.stars
		#root
		.clouds
		.svg-wrapper
			svg.svg-anim.svg-anim--l
				path.path(fill-rule="evenodd" clip-rule="evenodd" d="M4.52888 358V4.48591C5.91774 4.48591 7.40303 4.51484 8.98476 4.5727C14.1033 4.75993 20.2316 5.25011 27.3697 6.04325C36.7137 6.73539 42.0779 7.08146 43.4622 7.08146C49.3454 7.08146 54.1904 6.90842 57.9972 6.56236C67.2584 5.70085 73.9058 5.10742 77.9395 4.78207C80.3873 4.58463 81.8726 4.48591 82.3954 4.48591V320.624C83.8958 320.624 85.3811 320.622 86.8513 320.617C107.084 320.551 124.46 320.035 138.978 319.067C153.93 318.092 173.155 316.353 196.654 313.852C198.175 313.69 199.715 313.525 201.272 313.357C201 314.853 200.728 316.376 200.455 317.926C200.035 320.319 199.615 322.776 199.195 325.296C198.849 329.449 198.676 332.91 198.676 335.678C198.676 338.101 199.022 341.735 199.714 346.58C200.09 349.206 200.414 351.528 200.688 353.544C200.919 355.247 201.113 356.732 201.272 358H4.52888ZM203.621 325.848C203.291 329.849 203.132 333.117 203.132 335.678C203.132 337.771 203.439 341.148 204.125 345.949C204.819 350.804 205.342 354.641 205.693 357.447L206.319 362.456H0.072998V0.0300293H4.52888C10.626 0.0300293 18.3934 0.564484 27.7801 1.60556C37.186 2.30197 42.2937 2.62558 43.4622 2.62558C49.2713 2.62558 53.9676 2.45418 57.5886 2.12525C72.2817 0.758461 80.7395 0.0300293 82.3954 0.0300293H86.8513V316.161C107.016 316.095 124.288 315.58 138.682 314.621L138.688 314.62C154.519 313.588 175.213 311.692 200.793 308.927L206.723 308.285L205.656 314.154C204.978 317.882 204.299 321.78 203.621 325.848Z")
			svg.svg-anim.svg-anim--e
				path.path(fill-rule="evenodd" clip-rule="evenodd" d="M205.566 0.143921L204.85 4.08365C204.169 7.83157 203.487 11.75 202.805 15.839C202.471 19.8789 202.309 23.1946 202.309 25.8076C202.309 27.9829 202.626 31.4237 203.313 36.2363C204.006 41.0886 204.529 44.9177 204.878 47.7148L205.418 52.0318L201.108 51.4402C183.554 49.0309 165.304 47.3088 146.354 46.2752L146.322 46.2734L146.29 46.271C128.554 44.9572 108.123 44.2683 84.9896 44.208V149.129H135.635C149.071 149.129 159.366 148.957 166.551 148.617C174.07 147.931 184.876 146.559 199.002 144.492L203.606 143.818L202.774 148.396C202.092 152.144 201.41 156.063 200.728 160.152C200.394 164.192 200.232 167.507 200.232 170.12C200.232 172.296 200.549 175.736 201.237 180.549C201.93 185.401 202.452 189.23 202.802 192.027L203.335 196.291L199.071 195.758C190.827 194.728 180.494 193.694 168.062 192.658L168.054 192.657C156.013 191.625 145.21 191.112 135.635 191.112H84.9896V316.279C108.126 316.234 128.569 315.717 146.323 314.731C165.281 313.352 183.542 311.457 201.108 309.046L205.675 308.419L204.85 312.954C204.169 316.702 203.487 320.621 202.805 324.71C202.471 328.75 202.309 332.065 202.309 334.678C202.309 336.853 202.626 340.294 203.313 345.107C204.006 349.959 204.529 353.788 204.878 356.585L205.348 360.342H0.439209V0.143921H205.566ZM199.486 324.296C199.971 321.384 200.457 318.556 200.942 315.814C201.149 314.646 201.355 313.494 201.562 312.356C200.405 312.515 199.244 312.672 198.081 312.826C181.504 315.026 164.322 316.773 146.536 318.067C128.7 319.058 108.185 319.576 84.9896 319.621C83.8817 319.623 82.7678 319.624 81.6477 319.624V187.77H135.635C145.325 187.77 156.227 188.289 168.339 189.327C179.142 190.228 188.384 191.128 196.065 192.028C197.242 192.166 198.382 192.304 199.486 192.442C199.36 191.438 199.212 190.297 199.041 189.019C198.74 186.775 198.369 184.109 197.928 181.022C197.236 176.177 196.89 172.543 196.89 170.12C196.89 167.352 197.063 163.891 197.409 159.738C197.894 156.829 198.379 154.006 198.864 151.267C199.071 150.095 199.278 148.939 199.486 147.799C198.3 147.972 197.138 148.141 195.998 148.305C183.498 150.101 173.759 151.317 166.782 151.951C159.514 152.297 149.132 152.471 135.635 152.471H81.6477V40.8618C82.7678 40.8618 83.8817 40.8632 84.9896 40.8661C108.185 40.9263 128.7 41.6171 146.536 42.9382C164.342 43.9094 181.541 45.4863 198.135 47.6688C199.28 47.8194 200.423 47.9729 201.562 48.1293C201.436 47.1221 201.287 45.9775 201.116 44.6955C200.815 42.4535 200.445 39.7913 200.005 36.7089C199.313 31.8639 198.967 28.2301 198.967 25.8076C198.967 23.039 199.14 19.5783 199.486 15.4254C199.978 12.472 200.47 9.60611 200.962 6.82774C201.162 5.69934 201.362 4.58537 201.562 3.48583H3.78112V357H201.562C201.439 356.017 201.295 354.903 201.128 353.658C200.826 351.397 200.451 348.704 200.005 345.58C199.313 340.735 198.967 337.101 198.967 334.678C198.967 331.91 199.14 328.449 199.486 324.296Z")
			svg.svg-anim.svg-anim--s
				path.path(fill-rule="evenodd" clip-rule="evenodd" d="M182.179 83.793L181.376 81.5993C176.359 67.8837 169.07 57.3592 159.597 49.8464C150.231 42.4176 138.705 38.6304 124.817 38.6304C105.911 38.6304 92.5702 43.1915 84.0942 51.6675L84.0719 51.6898L84.0492 51.7117C75.4883 59.9555 71.057 71.3001 71.057 86.1613C71.057 102.98 83.1625 118.892 109.817 133.587C134.389 147.084 153.04 157.384 165.768 164.484C172.13 168.033 177.021 170.787 180.434 172.744C182.139 173.721 183.488 174.506 184.472 175.096C185.343 175.617 186.146 176.112 186.584 176.458C214.704 198.529 228.867 227.171 228.867 262.14C228.867 296.358 215.619 324.633 189.257 346.721C162.925 368.782 129.063 379.686 87.9604 379.686C72.4607 379.686 57.3037 377.749 42.497 373.874C27.9708 370.328 14.6541 364.648 2.56816 356.828L0.490479 355.484L1.17033 353.104C5.31599 338.594 8.41326 326.889 10.4713 317.971C12.5246 309.074 14.413 298.951 16.1337 287.595L16.5642 284.753H32.0099L32.5705 287.404C36.2374 304.738 44.1736 318.024 56.2798 327.513C68.4219 337.03 83.2434 341.855 100.938 341.855C117.61 341.855 131.184 337.369 141.908 328.595L141.927 328.579L141.946 328.564C152.787 319.955 158.332 307.668 158.332 291.21C158.332 270.731 146.136 253.324 120.123 239.129C95.2069 225.979 70.4634 212.829 45.8928 199.678L45.6623 199.555L45.4537 199.397C17.5839 178.316 3.6373 149.449 3.6373 113.155C3.6373 80.8829 13.9547 54.3752 34.7452 33.9431C57.3174 11.7302 88.1757 0.799927 126.894 0.799927C144.532 0.799927 161.161 3.44602 176.758 8.7617C192.472 14.0007 204.102 19.8977 211.212 26.6331L212.827 28.1636L212.038 30.2444C208.249 40.2336 205.335 48.4639 203.285 54.9508L194.802 83.793H182.179ZM200.088 53.9764C202.165 47.401 205.106 39.0953 208.913 29.0592C202.338 22.8298 191.263 17.1196 175.69 11.9285C160.463 6.7374 144.197 4.14184 126.894 4.14184C88.8256 4.14184 58.8902 14.8701 37.0876 36.3267C17.0153 56.0529 6.97921 81.6623 6.97921 113.155C6.97921 148.455 20.4761 176.313 47.4698 196.732C72.041 209.883 96.7853 223.033 121.703 236.184C148.35 250.719 161.674 269.061 161.674 291.21C161.674 308.514 155.791 321.837 144.024 331.181C132.604 340.525 118.242 345.197 100.938 345.197C82.5963 345.197 67.023 340.179 54.2182 330.143C41.4135 320.107 33.1078 306.091 29.301 288.095H19.4379C17.7075 299.516 15.8041 309.725 13.7276 318.723C11.6512 327.721 8.53654 339.487 4.38366 354.022C16.1502 361.636 29.1279 367.173 43.3169 370.634C57.852 374.441 72.7332 376.344 87.9604 376.344C128.451 376.344 161.501 365.616 187.11 344.159C212.72 322.703 225.525 295.363 225.525 262.14C225.525 228.224 211.855 200.539 184.515 179.082C182.785 177.698 157.348 163.509 108.206 136.515C81.212 121.634 67.7151 104.849 67.7151 86.1613C67.7151 70.588 72.3871 58.3024 81.7311 49.3044C91.0751 39.9605 105.437 35.2885 124.817 35.2885C139.352 35.2885 151.638 39.2683 161.674 47.228C171.71 55.1877 179.324 66.262 184.515 80.4511H192.302L200.088 53.9764Z")