@import "src/assets/css/vars_mixins/vars_mixins";

.overlay {
	position: absolute;
	top     : 0;
	left    : 0;
	width   : 100%;
	height  : 100%;
}

.parallax {
	position: relative;
	width   : 100%;
	height  : 100%;
	overflow: hidden;
}

.bg {
	position           : absolute;
	bottom             : -15px;
	left               : -15px;
	width              : calc(100% + 15px * 2);
	height             : calc(100% + 15px * 2);
	background-position: 0 100%;
	background-repeat  : no-repeat;
	background-size    : cover;
	transition         : transform 200ms ease;
	opacity            : 0;


	@media (max-height: 600px) {
		background-size: 100%;
	}
}

.bg {
	background-image: url('../../images/bg.png');
	z-index         : 1;
	transition      : all 0.5s ease 0s;

	&.active {
		opacity   : 1;
		transition: all 0.5s ease 0s;
	}
}

.clouds {
	background-image: url('../../images/clouds1.png');
	z-index         : 4;
	animation       : side 15s linear infinite;
	transition      : all 3s ease 1s;

	position         : absolute;
	bottom           : -15px;
	left             : -15px;
	width            : calc(100% + 15px * 2);
	height           : 60%;
	background-repeat: no-repeat;
	transition       : transform 200ms ease;
	opacity          : 0;


	@media (max-height: 600px) {
		background-size: 100%;
	}


	&.active {
		opacity   : 1;
		transition: all 3s ease 1s;
	}
}

.stars {
	z-index            : 2;
	position           : absolute;
	top                : 0;
	left               : 0;
	width              : 100%;
	height             : 100%;
	background-position: 0 100%;
	background-repeat  : no-repeat;
	background-size    : cover;
	background         : linear-gradient(180deg, rgba(18, 41, 85, 1) 5%, rgba(255, 255, 255, 0) 94%, rgba(255, 255, 255, 0) 94%);
	transition         : all 3s ease 1s;
	opacity            : 0;

	&.active {
		opacity   : 1;
		transition: all 3s ease 1s;
	}

	@media (max-height: 600px) {
		background-size: 100%;
	}

}

#root {
	position  : absolute;
	width     : 100%;
	height    : 30%;
	overflow  : hidden;
	top       : 0;
	left      : 0;
	z-index   : 3;
	opacity   : 0;
	transition: all 3s ease 1s;

	&.active {
		opacity   : 1;
		transition: all 3s ease 1s;
	}

	& div {
		position     : absolute;
		background   : radial-gradient(ellipse at center, rgba(92, 113, 137, 1) 2%, rgba(57, 89, 120, 1) 100%);
		border-radius: 100%;
		/* filter    :blur(1px); */
		animation    : shine infinite alternate;
	}
}

@keyframes side {

	20%,
	60%,
	100% {
		transform: translateX(20px);
	}

	0%,
	40%,
	80% {
		transform: translateX(-20px);
	}
}

@keyframes shine {
	0% {
		transform: scale(1);
		opacity  : 1;
	}

	20% {
		transform: scale(.9);
		opacity  : .8;
	}

	40% {
		transform: scale(1);
		opacity  : .9;
	}

	40% {
		transform: scale(.2);
		opacity  : .2;
	}

	60% {
		transform: scale(.2);
		opacity  : .1;
	}

	80% {
		transform: scale(.5);
		opacity  : .5;
	}

	100% {
		transform: scale(.9);
		opacity  : .9;
	}
}

// =====================================================================
.svg-wrapper {
	position       : absolute;
	height         : 650px;
	width          : 85%;
	top            : 68%;
	left           : 50%;
	transform      : translate(-50%, -50%);
	z-index        : 5;
	opacity        : 0;
	transition     : all 0.5s ease 0s;
	display        : flex;
	justify-content: space-between;

	&.active {
		opacity   : 1;
		transition: all 0.5s ease 0s;
	}
}

.svg-anim {
	height: 100%;

	&--e {
		margin-left: 347px;
	}

	&--s {
		margin-left: 347px;
	}
}

.path {
	stroke-dasharray   : 2000;
	stroke-dashoffset  : 1000;
	animation          : dash 6s;
	animation-fill-mode: forwards;
	fill               : transparent;
	stroke             : white;
	stroke-width       : 5;
	opacity            : 0.5;
}

@keyframes dash {
	from {
		stroke-dashoffset: 1800;
	}

	to {
		stroke-dashoffset: 0;
	}
}