@import "src/assets/css/vars_mixins/vars_mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// .header-position-detect {
// 	height    : 1px;
// 	visibility: hidden;
// }

// .header {
// 	margin-top: -1px;
// 	position  : sticky;
// 	top       : 0;
// 	z-index   : 10;
// 	transition: all .3s ease;

// 	@media (max-width: $lg - 1) {
// 		background-color: #1F1E26;
// 	}

// 	.get-in-touch {
// 		border: 1px solid rgba(35, 31, 32, 0.2);

// 		&__title {
// 			color: inherit;
// 		}

// 		&__item {
// 			.icon {
// 				fill: inherit;
// 			}
// 		}
// 	}

// 	&:before {
// 		position      : absolute;
// 		content       : '';
// 		top           : 0;
// 		right         : 0;
// 		left          : 0;
// 		bottom        : 0;
// 		opacity       : 0;
// 		background    : radial-gradient(50% 220.59% at 50% 66.47%, rgba(0, 93, 166, 0.7) 0%, rgba(10, 60, 100, 0) 100%);
// 		pointer-events: none;
// 		z-index       : -1;
// 		transition    : all .3s ease;
// 	}

// 	&.header-sticky {
// 		background: #001740;

// 		.header-logo-path {
// 			fill: #fff;
// 		}

// 		&:before {
// 			position: absolute;
// 			content : '';
// 			opacity : 1;
// 		}
// 	}

// 	&__inner {
// 		height         : 85px;
// 		display        : flex;
// 		align-items    : center;
// 		justify-content: space-between;

// 		// border-bottom: 1px solid #EEECEC;
// 		@media (max-width: $lg - 1) {
// 			height      : 48px;
// 			margin-right: -16px;
// 		}
// 	}

// 	&__left,
// 	&__right {
// 		display    : flex;
// 		align-items: center;
// 		height     : 100%;
// 	}


// 	&__mobile-menu-wrap {


// 		@media (max-width: $lg - 1) {
// 			height       : 100vh;
// 			transition   : all .3s ease;
// 			position     : fixed;
// 			left         : 0;
// 			top          : 0;
// 			max-width    : 80%;
// 			width        : 100%;
// 			transform    : translateX(-100%);
// 			box-shadow   : 0px 4px 50px rgba(0, 0, 0, 0.1);
// 			border-radius: 2px;
// 			z-index      : 100;
// 			padding      : 16px 0px;

// 			&.active {
// 				transform: translateX(0%);
// 			}

// 			background-color: #fff;
// 		}

// 		@media (max-width: $xs - 1) {
// 			max-width: 306px;
// 		}
// 	}

// 	&__mobile-menu {
// 		display    : flex;
// 		align-items: center;

// 		&-title {
// 			display: none;

// 			@media (max-width: $lg - 1) {
// 				font-size    : 20px;
// 				display      : block;
// 				margin-bottom: 30px;
// 				padding-left : 16px;
// 			}
// 		}

// 		&-close {
// 			display: none;

// 			@media (max-width: $lg - 1) {
// 				display        : flex;
// 				align-items    : center;
// 				justify-content: center;
// 				position       : absolute;
// 				right          : 13px;
// 				top            : 13px;
// 				width          : 30px;
// 				height         : 30px;
// 			}
// 		}

// 		@media (max-width: $lg - 1) {

// 			background-color: #fff;



// 			flex-direction: column;
// 			align-items   : flex-start;

// 			height  : 100%;
// 			overflow: auto;

// 		}


// 	}

// 	&__logo {
// 		margin-right: 43px;
// 		display     : flex;
// 		align-items : center;

// 		@media (max-width: $lg - 1) {
// 			svg {
// 				height: 15px;
// 			}

// 			margin-right: 21px;
// 		}

// 		@media (max-width: 374px) {
// 			max-width: 100px;
// 		}

// 		.header-logo-path {
// 			fill: #0077C1;

// 			@media (max-width: $lg - 1) {
// 				fill: #fff;
// 			}
// 		}
// 	}

// 	&__catalog {
// 		margin-right: 30px;
// 		position    : relative;

// 		@media (max-width: $lg - 1) {
// 			margin-right: 0px;
// 		}

// 		&:after {
// 			position        : absolute;
// 			content         : '';
// 			left            : 0;
// 			right           : 0;
// 			height          : 35px;
// 			top             : calc(100% - 0px);
// 			background-color: #fff;
// 			opacity         : 0;
// 			visibility      : hidden;
// 			z-index         : 15;

// 			@media (max-width: $lg - 1) {
// 				display: none;
// 			}
// 		}

// 		&-btn {
// 			height         : 46px;
// 			border         : 1px solid rgba(35, 31, 32, 0.2);
// 			border-radius  : 3px;
// 			padding        : 0px 18px 0px 16px;
// 			display        : flex;
// 			justify-content: space-between;
// 			align-items    : center;

// 			@media (max-width: $lg - 1) {
// 				display: none;
// 			}
// 		}

// 		&-icon {
// 			margin-right: 15px;
// 			display     : flex;
// 			align-items : center;
// 			flex        : 0 0 auto;

// 			path {
// 				fill  : #000;
// 				stroke: #000;

// 				@media (max-width: $lg - 1) {
// 					fill  : #fff;
// 					stroke: #fff;
// 				}
// 			}
// 		}

// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor: pointer;

// 				&:after {
// 					opacity      : 1;
// 					// transition: all .3s ease;
// 					visibility   : visible;

// 				}

// 				.header__catalog-btn {
// 					// transition      : all .3s ease;
// 					background-color: #fff;
// 					color           : #000;
// 				}

// 				.header__catalog-icon {
// 					path {
// 						fill  : #000;
// 						stroke: #000;
// 					}

// 				}

// 				.header-catalog {
// 					// transition: all .3s ease;
// 					opacity   : 1;
// 					visibility: visible;
// 				}
// 			}
// 		}

// 	}

// 	&__phone {
// 		font-weight: 500;
// 		position   : relative;
// 		white-space: nowrap;

// 		@media (max-width: $xl - 1) {
// 			display: none;
// 		}

// 		&:after {
// 			position        : absolute;
// 			content         : '';
// 			top             : calc(100% + 3px);
// 			left            : 0;
// 			right           : 100%;
// 			height          : 2px;
// 			background-color: $c-primary-2;
// 			transition      : all .3s ease;
// 		}

// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor: pointer;

// 				&:after {
// 					right: 0;
// 				}
// 			}
// 		}
// 	}

// 	&__nav {

// 		@media (max-width: $lg - 1) {
// 			padding    : 0px 16px;
// 			padding-top: 27px;
// 			border-top : 1px solid rgba(0, 0, 0, 0.1);
// 			width      : 100%;
// 		}
// 	}

// 	&__basket {
// 		width           : 85px;
// 		background-color: $c-primary;
// 		transition      : all .3s ease;
// 		height          : 100%;
// 		margin-left     : 80px;
// 		display         : flex;
// 		align-items     : center;
// 		justify-content : center;
// 		border-radius   : 2px;
// 		flex            : 0 0 auto;

// 		@media (max-width: 1542px) {
// 			margin-left: 40px;
// 		}

// 		@media (max-width: $lg - 1) {
// 			width      : 48px;
// 			margin-left: 0px;
// 		}

// 		&-inner {
// 			position       : relative;
// 			display        : flex;
// 			align-items    : center;
// 			justify-content: center;
// 		}

// 		&-counter {
// 			width           : 20px;
// 			height          : 20px;
// 			border-radius   : 50%;
// 			border          : 2px solid $c-primary;
// 			font-size       : 11px;
// 			color           : #fff;
// 			background-color: $c-primary-2;
// 			display         : flex;
// 			align-items     : center;
// 			justify-content : center;
// 			position        : absolute;
// 			top             : 0;
// 			right           : 0;
// 			transform       : translate(40%, -40%);
// 			transition      : all .3s ease;
// 		}

// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor          : pointer;
// 				background-color: $c-primary-2;

// 				.header__basket-counter {
// 					border-color    : $c-primary-2;
// 					background-color: $c-primary;
// 				}
// 			}
// 		}

// 		.icon {
// 			fill: #fff;

// 			@media (max-width: $lg - 1) {
// 				max-width: 22px;
// 			}
// 		}
// 	}

// 	&__contacts {
// 		margin-left: 53px;

// 		@media (max-width: 1542px) {
// 			margin-left: 20px;
// 		}

// 		@media (max-width: $xl - 1) {
// 			display: none;
// 		}
// 	}

// 	.header-logo-path {
// 		transition: all .3s ease;
// 	}
// }

// .header--white {
// 	.header {
// 		@media (min-width: $lg) {
// 			.nav--header {
// 				.nav-link {
// 					color: #fff;
// 				}
// 			}
// 		}

// 		.get-in-touch {
// 			border: 1px solid rgba(255, 255, 255, 0.2);

// 			&__title {
// 				color: #fff;
// 			}

// 			&__item {
// 				.icon {
// 					fill: #fff;
// 				}

// 				&:hover {
// 					@media (min-width: 1024px) {
// 						cursor: pointer;

// 						.icon {
// 							fill: $c-primary-2;
// 						}
// 					}
// 				}
// 			}

// 			&:hover {
// 				@media (min-width: 1024px) {
// 					cursor      : pointer;
// 					border-color: $c-primary-2;
// 				}
// 			}
// 		}

// 		.header__phone {
// 			color: #fff;
// 		}

// 		.header-logo-path {
// 			fill: #fff;
// 		}

// 		.header__catalog-btn {
// 			color : #fff;
// 			border: 1px solid rgba(255, 255, 255, 0.2);


// 		}

// 		.header__catalog-icon {
// 			path {
// 				fill  : #fff;
// 				stroke: #fff;
// 			}

// 		}

// 		.header__catalog {
// 			&:after {

// 				top: calc(100% - 9px);


// 				@media (max-width: $lg - 1) {
// 					display: none;
// 				}
// 			}

// 			&:hover {
// 				@media (min-width: 1024px) {
// 					cursor: pointer;

// 					span {
// 						color: #000;
// 					}
// 				}

// 				.header__catalog-icon {
// 					path {
// 						fill  : #000;
// 						stroke: #000;
// 					}

// 				}

// 			}
// 		}

// 	}
// }

// .header.header-sticky {
// 	@media (min-width: $lg) {
// 		.nav--header {
// 			.nav-link {
// 				color: #fff;
// 			}
// 		}
// 	}

// 	.get-in-touch {
// 		border: 1px solid rgba(255, 255, 255, 0.2);

// 		&__title {
// 			color: #fff;
// 		}

// 		&__item {
// 			.icon {
// 				fill: #fff;
// 			}

// 			&:hover {
// 				@media (min-width: 1024px) {
// 					cursor: pointer;

// 					.icon {
// 						fill: $c-primary-2;
// 					}
// 				}
// 			}
// 		}

// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor      : pointer;
// 				border-color: $c-primary-2;
// 			}
// 		}
// 	}

// 	.header__phone {
// 		color: #fff;
// 	}

// 	.header-logo-path {
// 		fill: #fff;
// 	}

// 	.header__catalog-btn {
// 		color : #fff;
// 		border: 1px solid rgba(255, 255, 255, 0.2);


// 	}

// 	.header__catalog-icon {
// 		path {
// 			fill  : #fff;
// 			stroke: #fff;
// 		}

// 	}

// 	.header__catalog {
// 		&:after {

// 			top: calc(100% - 9px);


// 			@media (max-width: $lg - 1) {
// 				display: none;
// 			}
// 		}

// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor: pointer;

// 				span {
// 					color: #000;
// 				}
// 			}

// 			.header__catalog-icon {
// 				path {
// 					fill  : #000;
// 					stroke: #000;
// 				}

// 			}

// 		}
// 	}

// }

// .header-catalog {
// 	position              : absolute;
// 	left                  : 0;
// 	top                   : calc(100% + 9px);
// 	background-color      : #fff;
// 	opacity               : 0;
// 	visibility            : hidden;
// 	box-shadow            : 0px 4px 25px rgba(0, 0, 0, 0.1);
// 	border-radius         : 2px;
// 	border-top-left-radius: 0px;
// 	width                 : 1000px;

// 	@media (max-width: $lg - 1) {
// 		position        : static;
// 		opacity         : 1;
// 		visibility      : visible;
// 		box-shadow      : none;
// 		width           : auto;
// 		border-radius   : 0px;
// 		padding         : 0px 16px;
// 		background-color: transparent;
// 	}

// 	&__inner {
// 		padding       : 32px 48px;
// 		padding-bottom: 0px;

// 		@media (max-width: $lg - 1) {
// 			padding: 0px;
// 		}
// 	}

// 	&__title {
// 		font-size: 16px;
// 		color    : rgba(35, 31, 32, 0.5);

// 		@media (max-width: $sm - 1) {
// 			font-size: 14px;
// 		}
// 	}

// 	&__list {
// 		display   : flex;
// 		margin-top: 14px;
// 		flex-wrap : wrap;

// 		@media (max-width: $lg - 1) {
// 			flex-direction: column;
// 		}

// 		// margin: 0px -18px;
// 	}

// 	&__block {
// 		margin-bottom: 33px;

// 		@media (max-width: $lg - 1) {
// 			margin-bottom: 15px;
// 		}

// 		&:last-child {
// 			margin-bottom: 0px;
// 		}
// 	}

// 	&__card {
// 		width        : 20%;
// 		height       : 150px;
// 		border       : 1px solid transparent;
// 		box-sizing   : border-box;
// 		border-radius: 2px;
// 		padding      : 18px;
// 		position     : relative;

// 		@media (max-width: $lg - 1) {
// 			width        : auto;
// 			display      : flex;
// 			align-items  : center;
// 			height       : auto;
// 			padding      : 0px;
// 			margin-bottom: 10px;
// 		}

// 		&-image {
// 			height: 80px;

// 			@media (max-width: $lg - 1) {
// 				width : 56px;
// 				height: 45px;
// 			}

// 			img {
// 				max-height: 100%;
// 				max-width : 100%;
// 			}
// 		}

// 		&-title {
// 			margin-top     : 7px;
// 			font-size      : 20px;
// 			font-weight    : bold;
// 			font-family    : $f-sec;
// 			display        : flex;
// 			justify-content: center;

// 			@media (max-width: $lg - 1) {
// 				margin-left: 20px;
// 				margin-top : 0px;
// 			}

// 		}


// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor          : pointer;
// 				background-color: #F3F3F3;
// 				border-color    : $c-primary-2;
// 				transition      : all .3s ease;

// 				.header-catalog__card-title {
// 					color     : $c-primary;
// 					transition: all .3s ease;
// 				}
// 			}
// 		}
// 	}

// 	&__footer {
// 		border-top : 1px solid #EEECEC;
// 		display    : flex;
// 		align-items: center;
// 		padding    : 20px 48px;

// 		@media (max-width: $lg - 1) {
// 			padding-left: 0px;
// 			border      : none;
// 		}
// 	}

// 	&__accessories {
// 		font-family: $f-sec;
// 		font-size  : 20px;
// 		transition : all .3s ease;

// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor: pointer;
// 				color : $c-primary;
// 			}
// 		}
// 	}
// }

// .header-mobile {
// 	align-items: center;
// 	display    : none;

// 	@media (max-width: $xl - 1) {
// 		display: flex;
// 	}

// 	&__item {
// 		flex           : 0 0 auto;
// 		fill           : #fff;
// 		margin-right   : 24px;
// 		display        : flex;
// 		align-items    : center;
// 		justify-content: center;

// 		@media (max-width: $xs - 1) {
// 			margin-right: 20px;
// 		}

// 		@media (max-width: 374px) {
// 			margin-right: 12px;
// 		}
// 	}
// }

// .header-mobile-burger {
// 	display: none;

// 	@media (max-width: $lg - 1) {
// 		display: flex;
// 	}
// }

// .basket-mini {

// 	position           : fixed;
// 	top                : 0;
// 	right              : 0;
// 	width              : 100%;
// 	max-width          : 580px;
// 	border-radius      : 2px;
// 	pointer-events     : none;
// 	// overflow        : hidden;


// 	height: 100vh;

// 	&:before {
// 		position        : fixed;
// 		content         : '';
// 		width           : 100%;
// 		height          : 100%;
// 		top             : 0;
// 		left            : 0;
// 		right           : 0;
// 		bottom          : 0;
// 		background-color: transparent;
// 		z-index         : 1;
// 		pointer-events  : none;
// 	}

// 	&.active {
// 		pointer-events: all;

// 		.basket-mini__inner {
// 			transform: translateX(0%);
// 		}

// 		&:before {

// 			background-color: rgba(0, 0, 0, 0.3);
// 			pointer-events  : all;
// 		}
// 	}

// 	@media (max-width: $sm - 1) {
// 		max-width: 100%;
// 	}

// 	&__inner {
// 		display         : flex;
// 		flex-direction  : column;
// 		height          : 100%;
// 		position        : relative;
// 		z-index         : 2;
// 		background-color: #fff;
// 		transform       : translateX(100%);
// 		transition      : all .3s ease;
// 	}

// 	&__body {
// 		height  : calc(100% - 236px);
// 		overflow: auto;
// 	}




// 	&__title {
// 		font-size  : 40px;
// 		font-family: $f-sec;
// 		font-weight: 700;

// 		@media (max-width: $sm - 1) {
// 			font-size: 28px;
// 		}
// 	}

// 	&__header {
// 		padding        : 24px 24px 24px 42px;
// 		display        : flex;
// 		align-items    : center;
// 		justify-content: space-between;
// 		border-bottom  : 1px solid rgba(35, 31, 32, 0.2);

// 		@media (max-width: $sm - 1) {
// 			padding: 23px 16px;
// 		}

// 	}

// 	&__close {
// 		display        : flex;
// 		align-items    : center;
// 		justify-content: center;
// 		transition     : all .3s ease;

// 		.icon {
// 			fill: #000;

// 			@media (max-width: $sm - 1) {
// 				max-width : 25px;
// 				max-height: 25px;
// 			}
// 		}

// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor   : pointer;
// 				transform: rotate(180deg);

// 				.icon {
// 					fill: $c-primary;
// 				}
// 			}
// 		}
// 	}

// 	&__footer {
// 		padding         : 41px 45px 34px 42px;
// 		display         : flex;
// 		align-items     : center;
// 		background-color: #F3F3F3;
// 		justify-content : space-between;
// 		margin-top      : auto;

// 		@media (max-width: $sm - 1) {
// 			padding: 23px 16px;
// 		}
// 	}

// 	&__price-wrap {
// 		display     : flex;
// 		align-items : center;
// 		font-weight : 500;
// 		align-items : flex-end;
// 		margin-right: 20px;
// 		width       : 50%;
// 	}

// 	&__price {
// 		font-size  : 32px;
// 		line-height: 1.1;

// 		@media (max-width: $sm - 1) {
// 			font-size: 28px;
// 		}
// 	}

// 	&__val {
// 		font-size    : 24px;
// 		padding-left : 10px;
// 		margin-bottom: 0px;

// 		@media (max-width: $sm - 1) {
// 			font-size: 18px;
// 		}
// 	}

// 	&__control {
// 		width           : 50%;
// 		height          : 60px;
// 		background-color: $c-primary;
// 		color           : #fff;
// 		font-size       : 16px;
// 		display         : flex;
// 		align-items     : center;
// 		justify-content : center;
// 		border-radius   : 2px;
// 		transition      : all .3s ease;

// 		@media (max-width: $sm - 1) {
// 			height   : 46px;
// 			font-size: 14px;
// 		}

// 		&:hover {
// 			@media (min-width: 1024px) {
// 				cursor          : pointer;
// 				background-color: $c-primary-2;
// 			}
// 		}
// 	}
// }



.alert-banner {
	background-color: #EFEFEF;
	text-align      : center;
	padding         : 11px 30px;
	position        : relative;
	z-index         : 103;
	font-family     : 'Roboto', sans-serif;
	;
	font-style : normal;
	font-weight: normal;
	font-size  : 12px;
	line-height: 14px;
	color      : #000000;

	& .close {
		display  : block;
		position : absolute;
		top      : 50%;
		right    : 15px;
		transform: translate(0, -50%);

		& .icon {
			display: block;
			height : 14px;
			width  : 14px;
		}
	}
}

.header {
	display        : flex;
	width          : 100%;
	padding        : 4px 49px 14px;
	align-items    : center;
	justify-content: space-between;
	z-index        : 10;
	background     : #fff;
	// max-width  : 1920px;
	margin         : 0 auto;

	&__logo {
		width       : 223px;
		margin-right: 117px;

		& img {
			width: 100%;
		}
	}
}

.nav {
	display        : flex;
	width          : 920px;
	justify-content: space-between;
	margin-right   : 86px;

	a {
		font-family: 'AGOpus', sans-serif;
		font-style : normal;
		font-weight: normal;
		font-size  : 16px;
		line-height: 19px;
		color      : #000000;
		cursor     : pointer;
	}
}

.contacts {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	width          : 476px;

	&__phone {
		font-family: 'AGOpus', sans-serif;
		font-style : normal;
		font-weight: normal;
		font-size  : 14px;
		line-height: 16px;

	}

	&__button {
		padding    : 6px 23px;
		background : #000000;
		font-family: 'AGOpus', sans-serif;
		font-style : normal;
		font-weight: normal;
		font-size  : 18px;
		line-height: 21px;
		color      : #FFFFFF;
		display    : inline-block;
	}

	&__lang,
	&__link {
		font-family: 'AGOpus', sans-serif;
		font-style : normal;
		font-weight: normal;
		font-size  : 13px;
		line-height: 15px;
		color      : #000000;
		position   : relative;
		cursor     : pointer;
	}

	&__lang {
		padding-left: 20px;

		&:before {
			content    : url(images/language.svg);
			position   : absolute;
			margin-left: -20px;
			top        : 50%;
			transform  : translateY(-50%);
		}
	}

	&__link {
		padding-left: 20px;

		&:before {
			content    : url(images/login.svg);
			position   : absolute;
			margin-left: -20px;
			top        : 50%;
			transform  : translateY(-50%);
		}
	}
}