+include-script('header')
+include-script('ajax')


.alert-banner.js-top-alert
	.container
		p Баннер, который сообщает что-то очень важное!
		a(href="javascript:;").close.js-close-alert.anim-rotate
			+icon('i-close')
.header
	.header__logo
		img(src='images/logo.svg')
	ul.nav
		li 
			a Об отеле
		li 
			a Отдых 
		li 
			a Номера
		li 
			a Ваше событие в LES
		li 
			a Спецпредложения
		li 
			a Календарь событий
		li 
			a Контакты
	.contacts 
		a.contacts__phone(href='tel:+74954141701') +7 495 414 17 01
		a.contacts__button Бронировать
		.contacts__lang Eng
		a.contacts__link Личный кабинет
