+include-style('index-catalog')
section.index-catalog.fhd-container
	.container
		.index-catalog__inner
			.index-catalog__title.fz-54 Каталог устройств
			.index-catalog__list
				.index-catalog__item
					+catalog-card({
						img: '/images/line-product-1.png',
						title: 'Pulsar Axion',
						price: '179 900',
						new: true,
						control: true,
						noLink: true
					})
				.index-catalog__item
					+catalog-card({
						img: '/images/line-product-2.png',
						title: 'Pulsar Axion XQ',
						price: '159 900',
						new: true,
						control: true,
						noLink: true
					})
				.index-catalog__item
					+catalog-card({
						img: '/images/line-product-3.png',
						title: 'Pulsar Axion Key XM22',
						price: '79 900',
						control: true,
						noLink: true
					})
				.index-catalog__item
					+catalog-card({
						img: '/images/line-product-4.png',
						title: 'Pulsar Axion Key XM30',
						price: '104 300',
						control: true,
						noLink: true
					})
				.index-catalog__item
					+catalog-card({
						img: '/images/line-product-5.png',
						title: 'Pulas Axion XM30S',
						price: '129 900',
						control: true,
						noLink: true
					})
