+include-style('index-catalog')

section.index-catalog.fhd-container
	.container
		.index-catalog__inner
			.index-catalog__title.fz-54 Тепловизоры для наблюдения
			.index-catalog__list
				.index-catalog__item
					+catalog-card({
						img: '/images/index-catalog-1.png',
						title: 'Pulsar Axion',
						descr: 'Тепловизор'
					})
				.index-catalog__item
					+catalog-card({
						img: '/images/index-catalog-2.png',
						title: 'Pulsar Accolade',
						descr: 'Тепловизионный бинокль'
					})
				.index-catalog__item
					+catalog-card({
						img: '/images/index-catalog-3.png',
						title: 'Pulsar Helion',
						descr: 'Тепловизионные монокуляры'
					})
