@import "src/assets/css/vars_mixins/vars_mixins";

.index-catalog {
	padding-top     : 136px;
	padding-bottom: 157px;
	background-color: #001740;
	position        : relative;
	@media (max-width: $sm - 1){
		padding-top: 30px;
		padding-bottom: 57px;
	}
	&:before {
		position      : absolute;
		content       : '';
		top           : 0;
		left          : 0;
		right         : 0;
		bottom        : 0;
		pointer-events: none;
		background    : radial-gradient(50% 50% at 50% 50%, #005DA6 0%, rgba(10, 60, 100, 0) 100%);
		z-index       : 0;
	}

	&__title {
		font-weight: 900;
		font-family: $f-thir;
		text-align : center;
		color      : #fff;
		@media (max-width: $sm - 1){
			line-height: 50px;
			margin-bottom: 30px;
		}
	}

	&__inner {
		position: relative;
		z-index : 1;
	}

	&__list {
		display        : flex;
		flex-wrap      : wrap;
		justify-content: center;
		margin-top     : 70px;
		@media (max-width: $sm - 1){
			margin: -16px 0px;
		}
	}

	&__item {
		width          : 33.33%;
		@media (max-width: $md - 1){
			width: 50%;
		}
	}




}