@import "src/assets/css/vars_mixins/vars_mixins";


.fz-60 {
	font-size: 60px;

	@media (max-width: $sm - 1) {
		font-size: 40px;
	}
}


.fz-54 {
	font-size  : 54px;
	line-height: 1;

	@media (max-width: $sm - 1) {
		font-size: 28px;
	}
}

.fz-40 {
	font-size: 40px;

	@media (max-width: $sm - 1) {
		font-size: 36px;
	}
}

.fz-36 {
	font-size: 36px;

	@media (max-width: $sm - 1) {
		font-size: 28px;
	}
}


.fz-32 {
	font-size: 32px;

	@media (max-width: $sm - 1) {
		font-size: 22px;
	}
}

.fz-20 {
	font-size: 20px;

	@media (max-width: $sm - 1) {
		font-size: 14px;
	}
}


.fz-16 {
	font-size: 16px;

	@media (max-width: $sm - 1) {
		font-size: 14px;
	}
}


.fz-14 {
	font-size: 14px;

	@media (max-width: $sm - 1) {
		font-size: 12px;
	}
}

.fz-12 {
	font-size: 12px;

	@media (max-width: $sm - 1) {
		font-size: 10px;
	}
}

.wide-container {
	max-width: 1542px;
	margin   : auto;
	padding  : 0px 16px;
}

.fhd-container {
	max-width   : 1920px;
	margin-left : auto;
	margin-right: auto;
}

.pulsar-underline {
	display : inline-block;
	position: relative;

	&:before {
		position        : absolute;
		content         : '';
		height          : 4px;
		left            : 0;
		right           : 0;
		border-radius   : 5px;
		background-color: $c-primary-2;
		bottom          : 7px;
		z-index         : 0;
		line-height     : 1;
		transition      : all .3s ease;
	}

	span {
		position: relative;
		z-index : 1;
	}


}

.pulsar-underline--wide {
	display    : inline-block;
	position   : relative;
	line-height: 0.8;

	&:before {
		position        : absolute;
		content         : '';
		height          : 10px;
		left            : 0;
		right           : 0;
		border-radius   : 5px;
		background-color: $c-primary-2;
		bottom          : 2px;
		z-index         : 0;
		line-height     : 1;
		transition      : all .3s ease;
	}

	span {
		position: relative;
		z-index : 1;
	}


}

.bg-wrap {
	@media (max-width: $md - 1) {
		background-color: #EEF2F3;
	}
}

.line-bg {
	background-color: #1F1E26;
	position        : relative;
	z-index         : 3;
}