@import "src/assets/css/vars_mixins/vars_mixins";

.presection {

	margin-bottom: 32px;
	align-items  : center;

	@media (max-width: $sm - 1){
		margin-bottom: 20px;
	}

	&__inner {
		display        : flex;
		justify-content: center;
		align-items    : center;
		position       : relative;
		

		@media (max-width: $sm - 1){
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__title {
		font-weight: 600;
	}

	&__link {
		position: absolute;
		right   : 0;
		color   : $c-primary;
		padding-right: 15px;
		display: block;
		&:after {
			position: absolute;
			content : '';
			width: 10px;
			height: 10px;
			right: 0;
			top: calc(50% - 5px);
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.535156 9.07129L4.7778 4.82865L0.535156 0.586008' stroke='%230D2DFF' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		}
		@media (max-width: $sm - 1){
			position: relative;
			display: inline-block;
			margin-top: 10px;
		}
	}
}