extends ../../layout/layout

block vars
	- var pageTitle = 'Карточка товара'
	- var pageBodyClass = 'product-page product-accessories-page'
	- var dir = './'


block main
	include ../../components/category-nav/category-nav
	.container
		+breadcrumb({
			mod: '',
			content2 : 'Продукция',
			href_content2: true,
			content3 : 'Pulsar Axion',
		})
		+page-header-section({
			title: "Digex-XS",
			sidemenu: false
		})
	include ../../components/inner-hero/inner-hero-product-accessories
	include ../../components/product-review/product-review-accessories
	include ../../components/backcallform/backcallform-5
	include ../../components/product-specifications/product-specifications-accessories
	include ../../components/line-slider/line-slider-accessories
	include ../../components/utp-section/utp-section
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section
	include ../../components/backcallform/backcallform-3
block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)