@import "src/assets/css/vars_mixins/vars_mixins";

.footer {
	background-color: #1F1E26;
	padding-top     : 126px;
	padding-bottom  : 145px;

	margin-top: 100px;

	@media (max-width: $sm - 1){
		margin-top: 57px;
	}

	@media (max-width: $md - 1) {
		padding-top   : 100px;
		padding-bottom: 120px;
	}

	@media (max-width: $sm - 1) {
		padding-top   : 75px;
		padding-bottom: 47px;
	}

	&__row {
		display  : flex;
		margin   : 0px -10px;
		flex-wrap: wrap;
	}

	&__col {
		padding: 0px 10px;
		width  : 25%;

		@media (max-width: $md - 1) {
			width: 33.33%;
		}

		@media (max-width: $md - 1) {
			&:last-child {
				width: 100%;

				.footer__item {

					align-items: flex-start;
					margin-top : 55px;
				}
			}

		}

		@media (max-width: $sm - 1) {
			&:first-child {
				width        : 100%;
				margin-bottom: 25px;

			}

			&:last-child {
				.footer__item {
					align-items: flex-start;
					margin-top : 25px;
				}
			}

			width: 50%;
		}
	}

	&__about {
		color      : rgba(255, 255, 255, 0.5);
		line-height: 1.5;
	}

	&__links {
		margin-top: 50px;




		@media (max-width: $md - 1) {
			display: none;
		}
		&--mobile {
			display: none;

			@media (max-width: $md - 1) {
				display      : flex;
				margin-top   : 0px;
				margin-bottom: 30px;
			}
		}
	}

	&__link {
		display    : block;
		line-height: 1.7;
		color      : rgba(255, 255, 255, 0.5);
		transition : all .3s ease;

		@media (max-width: $md - 1) {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color : $c-primary-2;
			}
		}
	}

	&__design {
		margin-top: 25px;
		color     : #fff;






		@media (max-width: $md - 1) {
			display: none !important;
		}

		&--mobile {
			display: none !important;

			@media (max-width: $md - 1) {
				display   : flex !important;
				margin-top: 28px;
			}
		}

	}

	&__phone {
		font-size    : 40px;
		color        : #fff;
		font-family  : 'CoreSansD57';
		transition   : all .3s ease;
		line-height  : 1;
		margin-bottom: 18px;

		@media (max-width: $sm - 1) {
			font-size: 28px;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color : $c-primary-2;
			}
		}
	}

	&__item {
		&--center {
			padding-left: 70px;

			@media (max-width: $xl - 1) {
				padding-left: 40px;
			}

			@media (max-width: $lg - 1) {
				padding-left: 20px;
			}

			@media (max-width: $md - 1) {
				padding-left   : 0px;
				display        : flex;
				justify-content: flex-start;
				flex-direction : column;
				align-items    : center;
			}

			@media (max-width: $sm - 1) {
				align-items: flex-start;
			}
		}

	}

	&__mail {
		margin-top: 30px;
		font-size : 26px;
		color     : #fff;
		transition: all .3s ease;

		@media (max-width: $sm - 1) {
			font-size : 20px;
			margin-top: 15px;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color : $c-primary-2;
			}

			&:before {
				position: absolute;
				content : '';
				right   : 100%;
			}
		}
	}

	&__adress {
		color        : rgba(255, 255, 255, 0.5);
		margin-bottom: 40px;
		margin-top   : 10px;

		@media (max-width: $sm - 1) {
			margin-top   : 5px;
			margin-bottom: 20px;
		}
	}

	&__bottom {
		display    : flex;
		align-items: center;
		margin-top : 116px;

		@media (max-width: $md - 1) {
			flex-direction: column-reverse;
			margin-top    : 33px;
			align-items   : flex-start;
		}
	}

	&__warn {
		margin-left         : 68px;
		padding             : 22px 0px;
		width               : 100%;
		max-width           : 800px;
		border              : 1px dotted $c-primary-2;
		border-radius       : 2px;
		// background-image : url("data:image/svg+xml,%3Csvg width='799' height='80' viewBox='0 0 799 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='798' height='79' rx='1.5' stroke='%23ED1D24' stroke-dasharray='2 2'/%3E%3C/svg%3E%0A");
		// background-size  : contain;
		display             : flex;
		justify-content     : center;
		background-repeat   : no-repeat;

		@media (max-width: $md - 1) {
			margin-left  : 0px;
			padding      : 27px;
			margin-bottom: 30px;
		}

		&-content {
			font-size: 14px;
			max-width: 65%;
			color    : rgba(255, 255, 255, 0.5);

			@media (max-width: $lg - 1) {
				max-width: 80%;
			}

			@media (max-width: $md - 1) {
				max-width: none;
			}
		}

		&-icon {
			display        : flex;
			align-items    : center;
			justify-content: center;
			fill           : #fff;
			margin-right   : 32px;

			@media (max-width: $md - 1) {
				display: none;
			}
		}
	}


}

.social {
	&__list {
		display    : flex;
		align-items: center;
	}

	&__item {
		display        : flex;
		align-items    : center;
		justify-content: center;
		fill           : #fff;

		&:not(:last-child) {
			margin-right: 32px;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor    : pointer;
				transition: all .3s ease;
				fill      : $c-primary-2;
			}
		}
	}
}