+include-style('backcallform')
.backcallform-2.fdh-container
	+lazy-img({
		wrap_mod: 'backcallform-2__bg',
		img: '/images/backcallbg-2.jpg',
		placeholder: pixel
	})
	.container
		.backcallform-2__inner
			.backcallform__author Помочь с выбором
			.backcallform__descr.fz-20 Поможем вам выбрать продукт, который лучше всего подходит именно вам.
			+get-in-touch()
			.backcallform__descr.fz-16 Или оставьте свой телефон и мы вам перезвоним
			form.bv-form.backcallform__form
				+input({
					label: '',
					fg_mod: '',
					type: 'tel',
					name: false,
					small: false,
					placeholder: '+7 (___) ___-__-__',
					required: true,
					pattern: 'phone',
					validation: {
						message: 'Заполните поле',
						regexp: 'Неверный формат',
						emailaddress: ' ',
						identical: false
					}
				})
				.backcallform__control
					button(type="submit").btn.btn--primary Получить консультацию
			.backcallform__policy.fz-12 Отправляя форму, Вы принимаете Положение об обработке персональных данных
