+include-style('backcallform')
.backcallform-2.backcallform---no-bg.fdh-container

	.container
		.backcallform-2__inner
			.backcallform-2__content
				.backcallform__author Остались вопросы? <br> Пишите!
				+get-in-touch()
				.backcallform__descr.fz-16 Или оставьте свой телефон и мы вам перезвоним
				form.bv-form.backcallform__form
					+input({
						label: '',
						fg_mod: '',
						type: 'tel',
						name: false,
						small: false,
						placeholder: '+7 (___) ___-__-__',
						required: true,
						pattern: 'phone',
						validation: {
							message: 'Заполните поле',
							regexp: 'Неверный формат',
							emailaddress: ' ',
							identical: false
						}
					})
					.backcallform__control
						button(type="submit").btn.btn--primary Получить консультацию
				.backcallform__policy.fz-12 Отправляя форму, Вы принимаете Положение об обработке персональных данных
			.backcallform-person
				+lazy-img({
					wrap_mod: 'backcallform-person__bg',
					img: '/images/backcall-person.png',
					placeholder: pixel
				})
