+include-style('backcallform')
.backcallform
	.container
		.backcallform__inner
			.backcallform__left
				.backcallform__title.fz-36 Получите консультацию <br> от профессионального охотника
				.backcallform__author.pulsar-underline--wide.fz-60
					span Дмитрия Шаханова
				+get-in-touch()
				.backcallform__descr.fz-16 Или оставьте свой телефон и мы вам перезвоним
				form.bv-form.backcallform__form
					+input({
						label: '',
						fg_mod: '',
						type: 'tel',
						name: false,
						small: false,
						placeholder: '+7 (___) ___-__-__',
						required: true,
						pattern: 'phone',
						validation: {
							message: 'Заполните поле',
							regexp: 'Неверный формат',
							emailaddress: ' ',
							identical: false
						}
					})
					.backcallform__control
						button(type="submit").btn.btn--primary Получить консультацию
				.backcallform__policy.fz-12 Отправляя форму, Вы принимаете Положение об обработке персональных данных
			.backcallform__right
				+lazy-img({
					wrap_mod: 'backcallform__bg',
					img:'/images/backcallbg6.jpg',
					placeholder: pixel
				})