+include-style('backcallform')
.backcallform
	.container
		.backcallform__inner
			.backcallform__left
				.backcallform__success
					.backcallform__success-content
						.backcallform__success-descr.fz-60
							span Спасибо!
						.backcallform__success-title.fz-36 Ваша заявка отправлена
					.backcallform__success-logo
						<svg width="82" height="72" viewBox="0 0 82 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_1753_1996)">
						<path d="M36.3984 71.9976C28.2856 71.9936 20.4064 69.3104 14.0096 64.3759C7.61488 59.4413 3.06946 52.537 1.09507 44.7592C-0.879331 36.9815 -0.169942 28.7741 3.11047 21.4401C6.39088 14.1062 12.0557 8.06516 19.205 4.27355C26.3563 0.481947 34.5798 -0.83934 42.5779 0.516397C50.5739 1.87213 57.8851 5.82789 63.347 11.7554C63.6484 12.0513 63.8185 12.4546 63.8185 12.8741C63.8185 13.2936 63.6484 13.6968 63.347 13.9927C63.0538 14.2886 62.6519 14.4568 62.2316 14.4568C61.8113 14.4568 61.4095 14.2906 61.1142 13.9927C54.1044 6.37099 43.8757 2.44159 33.4932 3.38189C23.1107 4.32219 13.7759 10.0248 8.28326 18.7834C2.79063 27.542 1.77165 38.3413 5.53592 47.951C9.30019 57.5607 17.4089 64.8683 27.4368 67.6872C37.4646 70.5061 48.2509 68.5079 56.5688 62.2947C64.8847 56.0793 69.7704 46.3683 69.7602 36.0614C69.7704 32.5799 69.2107 29.1206 68.1015 25.8154C67.8288 24.946 68.3209 24.0199 69.2025 23.7504C70.0821 23.4808 71.019 23.9672 71.2917 24.8386C72.3804 28.458 72.8971 32.2232 72.8233 35.9986C72.8151 45.5435 68.9749 54.6952 62.1455 61.4455C55.3182 68.1959 46.0592 71.9895 36.3984 71.9976Z" fill="white"/>
						<path d="M36.3989 50.5633C35.9827 50.5653 35.5829 50.4073 35.2815 50.1215L16.8476 31.8687C16.2305 31.2607 16.2305 30.2718 16.8476 29.6618C17.4627 29.0518 18.4632 29.0518 19.0803 29.6618L36.3968 46.7474L79.2636 3.18339C79.893 2.57949 80.8956 2.57949 81.527 3.18339C81.8284 3.47927 81.9986 3.88254 81.9986 4.30203C81.9986 4.72152 81.8284 5.1248 81.527 5.42067L37.547 50.0931C37.26 50.3991 36.854 50.5714 36.4296 50.5653L36.3989 50.5633Z" fill="white"/>
						</g>
						<defs>
						<clipPath id="clip0_1753_1996">
						<rect width="82" height="72" fill="white"/>
						</clipPath>
						</defs>
						</svg>
				.backcallform__success-subtitle Мы свяжемся с вами в ближайшее время!
				.backcallform-social
					.backcallform-social__title А пока можете посмотреть наш инстаграм и ютуб-канал. Уж там-то вы точно найдете много интересного!
					.backcallform-social__list
						a(href="#").backcallform-social__item
							+icon('i-inst')(style="width: 45px; height: 45px")
						a(href="#").backcallform-social__item
							+icon('i-tube')(style="width: 45px; height: 45px")
				.backcallform__control.backcallform__control-success
					button(type="submit").btn.btn--primary Ещё одна заявка
			.backcallform__right
				+lazy-img({
					wrap_mod: 'backcallform__bg',
					img:'/images/backcallbg.jpg',
					placeholder: pixel
				})