@import "src/assets/css/vars_mixins/vars_mixins";

.backcallform {
	margin-top: 87px;
	position  : relative;
	z-index   : 4;

	@media (max-width: $sm - 1) {
		margin-top: 16px;
	}

	&__inner {
		display: flex;

		@media (max-width: $md - 1) {
			flex-direction: column-reverse;

		}
	}

	&__left,
	&__right {
		width: 50%;

		@media (max-width: $md - 1) {
			width: auto;
		}
	}

	&__left {
		background-color: $c-primary;
		padding         : 105px;
		padding-left    : 83px;
		padding-bottom  : 86px;

		@media (max-width: $xl - 1) {
			padding: 60px;
		}

		@media (max-width: $lg - 1) {
			padding: 30px;
		}

		@media (max-width: $sm - 1) {
			padding: 40px 40px;
		}
	}

	&__title {
		font-family: $f-sec;
		font-weight: bold;
		color      : #fff;
		line-height: 1;

	}

	&__author {
		font-family  : $f-sec;
		font-weight  : 700;
		color        : #fff;
		margin-bottom: 32px;
		line-height  : 0.8;

		@media (max-width: $sm - 1) {
			margin-bottom: 20px;
		}
	}

	&__descr {
		color     : #fff;
		margin-top: 33px;

		@media (max-width: $sm - 1) {
			margin-top: 18px;
		}
	}

	&__form {
		display    : flex;
		align-items: center;
		margin-top : 14px;

		@media (max-width: $sm - 1) {
			flex-direction: column;
		}
	}

	.form-group {
		width    : 100%;
		max-width: 243px;

		@media (max-width: $sm - 1) {
			max-width: none;
		}
	}

	.form-control {
		height: 100%;
		width : auto;
		height: 46px;
		width : 100%;
	}

	&__control {
		margin-left: 15px;



		@media (max-width: $sm - 1) {
			margin-left: 0px;
			margin-top : 15px;
			width      : 100%;

			.btn.btn--primary {
				width: 100%;
			}
		}

		&-success {
			margin-left: 0px;
			margin-top : 41px;
		}
	}

	&__policy {
		margin-top: 22px;
		color     : rgba(255, 255, 255, 0.5);
	}

	&__bg {
		height: 100%;

		@media (max-width: $md - 1) {
			padding-bottom: 90%;
		}

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;

			@media (max-width: $md - 1) {
				position: absolute;
				top     : 0;
				left    : 0;
				right   : 0;
				bottom  : 0;
			}
		}
	}

	@media (max-width: $sm - 1) {
		.get-in-touch {
			max-width: none;
			width    : 100%;
		}
	}

	&__success-descr,
	&__success-title {
		color      : #fff;
		font-family: $f-sec;

	}

	&__success {
		display    : flex;
		align-items: flex-end;

		&-descr {
			line-height: 0.56;
		}

		&-logo {
			padding-left: 30px;
			display     : flex;
			align-items : flex-end;
		}

		&-title {
			line-height: 0.9;
			margin-top : 10px;
		}

		&-subtitle {
			color: #fff;
		}

		margin-bottom: 20px;
	}

}

.backcallform-social {
	margin-top    : 38px;
	padding       : 35px 41px;
	padding-bottom: 30px;
	background    : rgba(243, 243, 243, 0.1);
	border-radius : 2px;
	line-height   : 1.375;
	font-weight   : 400;
	color         : #fff;

	@media (max-width: $sm - 1) {
		padding: 25px;
	}

	&__list {
		margin-top : 24px;
		display    : flex;
		align-items: center;
	}

	&__item {
		display        : flex;
		align-items    : center;
		justify-content: center;
		margin-right   : 34px;

		.icon {
			fill      : #fff;
			transition: all .3s ease;

		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;

				.icon {
					fill: $c-primary-2;
				}
			}
		}
	}
}



.backcallform-2 {
	position: relative;

	&__bg {
		position      : absolute;
		top           : 0;
		left          : 0;
		right         : 0;
		bottom        : 0;
		pointer-events: none;
		user-select   : none;

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;

			@media (max-width: $sm - 1) {
				object-position: 77% center;
			}
		}
	}

	&__inner {
		position      : relative;
		z-index       : 5;
		padding-top   : 98px;
		padding-bottom: 92px;

		@media (max-width: $sm - 1) {
			padding-top   : 70px;
			padding-bottom: 80px;
			max-width     : 240px;
			margin        : auto;
		}
	}

	.form-group {
		width    : 100%;
		max-width: 243px;

		@media (max-width: $sm - 1) {
			max-width: none;
		}
	}

	.backcallform__author {
		color    : #fff;
		font-size: 60px;

		@media (max-width: $sm - 1) {
			font-size : 28px;
			text-align: center;
		}
	}

	.backcallform__descr {
		margin-top: 10px;

		@media (max-width: $sm - 1) {
			text-align: center;
		}
	}

	.get-in-touch {
		margin-top   : 33px;
		margin-bottom: 35px;
	}

	.form-control {
		height: 46px;
	}

	.backcallform__form {
		margin-top: 25px;
	}
}

.backcallform---no-bg {
	margin-top   : 115px;
	margin-bottom: 100px;

	@media (max-width: $sm - 1) {
		margin-bottom: 45px;
		margin-top   : 50px;
	}

	.get-in-touch {
		margin: 27px 0px;
	}

	.backcallform__author {
		font-size: 40px;

		@media (max-width: $sm - 1) {
			font-size  : 28px;
			line-height: 1;
		}
	}

	.backcallform-2__inner {
		background-color: #005DA6;
		position        : relative;
		padding-top     : 67px;
		padding-bottom  : 67px;
		padding-left    : 192px;

		@media (max-width: $xl - 1) {
			padding-left: 100px;
		}

		@media (max-width: $lg - 1) {
			padding-bottom: 0px;
		}

		@media (max-width: $sm - 1) {
			max-width   : none;
			padding-left: 0;
			margin-left : -16px;
			margin-right: -16px;
		}


		&:before {
			position      : absolute;
			content       : '';
			top           : 0;
			right         : 0;
			bottom        : 0;
			left          : 0;
			background    : radial-gradient(50% 50% at 50% 50%, #00AEEF 0%, rgba(10, 60, 100, 0) 100%);
			z-index       : -1;
			pointer-events: none;
		}
	}

	.backcallform-2__content {
		@media (max-width: $sm - 1) {
			max-width: 243px;
			margin   : auto;
		}
	}

	.backcallform__form {
		margin-top: 18px;
	}

	.backcallform-person {
		position: absolute;

		bottom: 0px;
		right : 130px;

		@media (max-width: $xl - 1) {
			right: 0;
		}

		@media (max-width: $lg - 1) {
			position: static;
		}
	}
}

.line-page,
.product-page {
	.backcallform---no-bg {
		margin-bottom: 0px;
	}
}