extends ../../layout/layout

block vars
	- var pageTitle = '404'
	- var pageBodyClass = 'page-not-found'
	- var dir = './'


block main
	include ../../components/404/404

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
