+include-style('grid-catalog')
section.grid-catalog.fhd-container
	.container
		.grid-catalog__inner
			//- .grid-catalog__title.fz-54 Ночные и тепловизионные прицелы
			.grid-catalog__list
				.grid-catalog__item
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/catalog-1.png',
						title: 'Аксессуары ',
					})
				.grid-catalog__item
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/catalog-2.png',
						title: 'Осветители',
					})
				.grid-catalog__item
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/catalog-3.png',
						title: 'Источники питания ',
					})
				.grid-catalog__item.grid-catalog__item--wide
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/catalog-4.png',
						title: 'Кронштейны',
					})
				.grid-catalog__item.grid-catalog__item--wide
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/catalog-5.png',
						title: 'Другое',
					})

