+include-style('grid-catalog')
section.grid-catalog.fhd-container
	.container
		.grid-catalog__inner
			.grid-catalog__title.fz-54 Ночные и тепловизионные прицелы
			.grid-catalog__list
				.grid-catalog__item
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/grid-catalog-1.png',
						title: 'Pulsar Axion',
						descr: 'Тепловизор'
					})
				.grid-catalog__item
					+catalog-card({
						mod:'catalog-card--grid catalog-card--yukon',
						img: '/images/grid-catalog-2.png',
						title: 'Yukon Nordforce',
						descr: 'Тепловизионный прицел'
					})
				.grid-catalog__item
					+catalog-card({
						mod:'catalog-card--grid catalog-card--yukon',
						img: '/images/grid-catalog-3.png',
						title: 'Yukon Jaeger',
						descr: 'Оптические прицелы'
					})
				.grid-catalog__item.grid-catalog__item--wide
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/grid-catalog-4.png',
						title: 'Pulsar Digex',
						descr: 'Цифровые прицелы ночного видения'
					})
				.grid-catalog__item.grid-catalog__item--wide
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/grid-catalog-5.png',
						title: 'Pulsar Digisight',
						descr: 'Цифровые прицелы ночного видения'
					})

