+include-style('grid-catalog')
section.grid-catalog.grid-catalog--line.fhd-container
	.container
		.grid-catalog__inner
			.grid-catalog__title.fz-54 Сняты с производства
			.grid-catalog__list
				.grid-catalog__item.grid-catalog__item--wide
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/grid-line-product.png',
						title: 'Pulsar Axion XM30',
						control: true,
						noLink: true
					})
				.grid-catalog__item.grid-catalog__item--wide
					+catalog-card({
						mod:'catalog-card--grid',
						img: '/images/grid-line-product.png',
						title: 'Pulsar Axion XM38',
						control: true,
						noLink: true
					})
