@import "src/assets/css/vars_mixins/vars_mixins";
@import "src/assets/css/vars_mixins/vars_mixins";

.grid-catalog {
	margin-top: 71px;

	@media (max-width: $sm - 1) {
		margin-top: 37px;
	}

	&__title {
		font-weight  : 900;
		text-align   : center;
		margin-bottom: 45px;
		font-family: $f-thir;
		@media (max-width: $sm - 1) {
			margin-bottom: 14px;
		}

	}

	&__list {
		display        : flex;
		flex-wrap      : wrap;
		justify-content: center;
		margin         : -3px;

		@media (max-width: $sm - 1) {
			margin: 0px -16px;
		}
	}

	&__item {
		padding: 3px;
		width  : 33.33%;

		@media (max-width: $md - 1) {
			width: 50%;
		}

		&--wide {
			width: 50%;

			@media (max-width: $md - 1) {
				&:last-child {
					width: 100%;
				}
			}
		}

		@media (max-width: $sm - 1) {
			padding: 0px;
			display: flex;
		}
	}
}

.grid-catalog.grid-catalog--line {
	.grid-catalog__item--wide {
		@media (max-width: $md - 1) {
			&:last-child {
				width: 50%;
			}
		}
	}
}