+include-style('index-service')
.index-service.fhd-container
	.container
		.index-service__inner
			.index-service__left
				+lazy-img-retina({
					wrap_mod: 'index-service__bg',
					img: '/images/index-service-bg.jpg',
					placeholder: pixel,
				})
				.index-service__title Сервис
				.index-service__descr
					p Что-то работает не так, как вам хотелось? Что-то поломалось?
					p Напишите нам, мы вам поможем!
				+get-in-touch()
			.index-service__right
				+lazy-img({
					wrap_mod: 'index-service__bg-right',
					img: '/images/index-service-bg-right.png',
					placeholder: pixel,
				})
				.index-service__content
					.index-service__title Аксессуары
					.index-service__descr
						p Кронштейны, аккумуляторы, <br> осветители, запчасти.
						p Всё оригинальное <br> от официального дилера.
					.index-service__control
						.btn.btn--primary.btn--dark Перейти в раздел
