@import "src/assets/css/vars_mixins/vars_mixins";

.index-service {
	overflow: hidden;
	line-height: 1.15;

	&__inner {
		display: flex;

		@media (max-width: $lg - 1) {
			flex-direction: column;
		}
	}

	&__left,
	&__right {
		width         : 50%;
		padding-top   : 138px;
		padding-bottom: 157px;

		@media (max-width: $lg - 1) {
			width: auto;
		}

		@media (max-width: $sm - 1){
			padding-top: 42px;
			padding-bottom: 90px;
		}
	}

	&__title {
		font-size    : 40px;
		font-family  : $f-sec;
		font-weight  : 700;
		margin-bottom: 30px;

		@media (max-width: $sm - 1) {
			font-size: 28px;
		}
	}

	&__descr {
		font-size: 20px;
		max-width: 300px;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 26px;
				@media (max-width: $sm - 1){
					margin-bottom: 15px;
					margin-top: 15px;
				}
			}

		}
	}

	&__left {
		position: relative;


		&>* {
			color: #fff;
		}

		@media (max-width: $lg - 1) {
			&>* {
				text-align: center;
				margin    : auto;
			}
		}
	}

	&__right {
		position    : relative;
		padding-left: 128px;
		@media (max-width: $md - 1){
			padding-left: 0px;
		}

		&::before {
			content         : '';
			position        : absolute;
			right           : calc((100vw - 1360px) / 2 * -1);
			left            : 0;
			bottom          : 0;
			top             : 0;
			z-index         : -1;
			background-color: #F3F3F3;

			@media (max-width: $xl - 1) {
				right: calc((100vw - 1168px) / 2 * -1);
			}

			@media (max-width: $lg - 1) {
				left: -16px;
				right: -16px;
			}
		}

		@media (max-width: $lg - 1) {
			// overflow: hidden;
		}
	}

	&__bg {
		position: absolute;
		left    : calc((100vw - 1360px) / 2 * -1);
		right   : 0;
		bottom  : 0;
		top     : 0;
		z-index : -1;

		&:after {
			position      : absolute;
			content       : '';
			top           : 0;
			right         : 0;
			bottom        : 0;
			left          : 0;
			background    : linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
			pointer-events: none;
		}

		@media (max-width: $xl - 1) {
			left: calc((100vw - 1168px) / 2 * -1);
		}

		@media (max-width: $lg - 1) {
			left : -16px;
			right: -16px;
		}

		img {
			width          : 100%;
			height         : 100%;
			object-fit     : cover;
			object-position: left center;
		}
	}

	&__bg-right {
		position: absolute;
		right   : calc((100vw - 1360px) / 2 * -1);

		@media (max-width: $xl - 1) {
			right: calc((100vw - 1168px) / 2 * -1);
			width: 220px;
		}
		@media (max-width: $lg - 1){
			right: -16px;
		}
		@media (max-width: $md - 1){
			width: 30%;
			right: -50px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__content{
		@media (max-width: $lg - 1){
			width: 70%;
			margin: auto;
			& > * {
				text-align: center;
				margin: auto;
			}
		}

	}

	.get-in-touch,
	.index-service__control {
		margin-top: 71px;
		@media (max-width: $sm - 1){
			margin-top: 20px;
		}
	}
}