@import "src/assets/css/vars_mixins/vars_mixins";
.warranty{
	&__item{
		padding: 57px 96px;
		background-color: #F3F3F3;
		&:not(:last-child){
			margin-bottom: 18px;
		}

		@media (max-width: $sm - 1){
			padding: 16px;
			
		}
	}
	&__list{
		margin-top: 48px;

		@media (max-width: $sm - 1){
			margin-top: 28px;
			margin-left: -16px;
			margin-right: -16px;
		}
	}
	&__content{
		max-width: 920px;
	}
	&__title{
		font-family: $f-sec;
		font-size: 40px;
		margin-bottom: 22px;
		font-weight: 700;
		span{
			color: $c-primary-2
		}
		@media (max-width: $sm - 1){
			font-size: 22px;
			margin-bottom: 8px;
		}
	}
	
	&__image{
		margin-top: 90px;
		margin-bottom: 111px;
		@media (max-width: $sm - 1){
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}

	p, ul{
		line-height: 1.5;
		&:not(:last-child){
			margin-bottom: 25px;
		}
	}

}