+include-style('warranty')
.warranty
	.container
		.warranty__inner
			+section-budge({
				title: 'Гарантия. Правила и условия предоставления',
				mod: 'section-budge--inner'
			})
			.warranty__list
				.warranty__item
					.warranty__content
						.warranty__title <span>1.</span> Что такое гарантия? 
						.warranty__text Гарантия – это наше обязательство перед Покупателем вернуть денежные средства, заменить товар или произвести его ремонт в течение гарантийного срока в случаях и порядке, предусмотренном настоящими Правилами.
				.warranty__item
					.warranty__content
						.warranty__title <span>2.</span> Гарантийный срок 
						.warranty__text
							p Приборы Pulsar и Yukon обеспечиваются гарантией производителя на срок 3 года.
							p На перезаряжаемые аккумуляторные батареи / блоки (в том числе если они входят в комплект изделия) срок гарантии составляет 1 год.
							p Обратите внимание! Мы предоставляем расширенную гарантию на ремонт приборов, приобретенных в нашем магазине. Условия расширенной гарантии размещены в разделе расширенная гарантия на сайте http://pulsar.guru
				.warranty__item
					.warranty__content
						.warranty__title <span>3.</span>  Условия предоставления гарантии: 
						.warranty__text
							p — для ремонта товара: в товаре возник дефект/ брак
							p — для замены товара (возврата денежных средств) в течение 15 дней с момента покупки: в товаре возник дефект/ брак
							p — для замены товара (возврата денежных средств) по истечении 15 дней с момента покупки: в товаре возник существенный недостаток (т.е., прибор нельзя отремонтировать; стоимость ремонта составляет более половины стоимости товара; ремонт нецелесообразен; недостатки возникают вновь после ремонта) 
				.warranty__item
					.warranty__content
						.warranty__title <span>4.</span>  Исключения из гарантийного обслуживания
						.warranty__text
							p Изготовитель оставляет за собой право аннулировать действие гарантии в следующих случаях:
							ul
								li 1) прибор имеет следы несанкционированного вмешательства;
								li 2) прибор подвергался падению или имеет следы механического либо химического воздействия; 
								li 3) прибор подвергался несанкционированному ремонту; 
								li 4) повреждения прибора явились следствием пожара, стихийных бедствий, бытовых факторов; 
								li 5) повреждения вызваны попаданием внутрь прибора посторонних предметов, веществ, жидкостей и т.п.;
								li 6) на изделии изменен, стерт, удален или неразборчив, или удален программным образом серийный номер (для изделий, имеющих индивидуальный серийный номер); 
								li 6) прибор использовался не в соответствии с Инструкцией по эксплуатации.
							p В остальном гарантийные обязательства Продавца регулируются в соответствии с положениями Закона Российской Федерации «О защите прав потребителей». 
				.warranty__image
					+lazy-img({
						img: '/images/warranty-img.jpg',
						placeholder: pixel
					})
			+section-budge({
				title: 'Гарантийный ремонт. Порядок обращения',
				mod: 'section-budge--inner'
			})
			.warranty__list
				.warranty__item
					.warranty__content
						.warranty__title  Если товар сломался (не работает):
						.warranty__text
							ul
								li 1.Проверьте дату приобретения товара.
								li 2.Убедитесь, что Ваш случай гарантийный.
								li 3.Подготовьте и направьте нам заявление на ремонт по электронной почте или на наш юридический адрес
								li 4.Дождитесь ответа на заявление. Срок рассмотрения заявления составляет 2 рабочих дня с момента получения вашего обращения. 
								li 5.Упакуйте товар надлежащим образом для предотвращения повреждений во время транспортировки.
								li 6.Направьте товар в наш сервисный центр, адреса и контакты можно найти по ссылке https://pulsar.guru/contacts/ 
								li 7.В сервисном центре вам бесплатно починят товар или выдадут заключение, что его нельзя починить. 
				.warranty__item
					.warranty__content
						.warranty__title Срок гарантийного ремонта
						.warranty__text Максимальный срок, в течение которого компания обязуется отремонтировать изделие – 45 календарных дней (период от даты получения изделия на склад компании до даты отправки изделий после ремонта по акту сдачи-приемки выполненных работ). При невозможности отремонтировать изделия в указанный период (например, при поступлении больших партий изделий), компания уведомляет Покупателя о планируемом сроке ремонта и согласовывает срок с Покупателем.
				.warranty__item
					.warranty__content
						.warranty__title Какие нужны документы:
						.warranty__text
							ul 
								li 1) Заявление с указанием ФИО Покупателя, почтового адреса, адреса электронной почты, номера телефона Покупателя, с описанием возникшей проблемы и собственноручной подписью Покупателя.
								li 2) Копия чека или другого документа, подтверждающего факт приобретения товара в нашем магазине.
								li 3) Гарантийный талон, заполненный АО «РИКА».
							p Обратите внимание! На время гарантийного ремонта товар-замена во временное пользование не предоставляется.
							p При необходимости (например, если срок гарантийного ремонта существенно превышает 45 дней) Продавец имеет право по согласованию с Покупателем предоставить Покупателю новое аналогичное изделие или иной прибор, имеющий аналогичные функции и характеристики вместо сданного дефектного изделия. 
				.warranty__image
					+lazy-img({
						img: '/images/warranty-img-2.jpg',
						placeholder: pixel
					})
			+section-budge({
				title: 'Возврат и замена товара. Порядок обращения. ',
				mod: 'section-budge--inner'
			})
			.warranty__list
				.warranty__item
					.warranty__content
						.warranty__text
							ul
								li 1) Проверьте дату приобретения товара.
								li 2) Убедитесь, что Ваш случай гарантийный.
								li 3) Подготовьте и направьте нам претензию с указанием следующих данных: ваши ФИО, почтовый адрес, адрес электронной почты, номер телефона, номер заказа, дата заказа, причина возврата товара (описание возникшей проблемы) и ваше требование. Подпишите и направьте претензию с чеком об оплате товара и гарантийным талоном по электронной почте mail@pulsar.shop .
								li 4) Дождитесь ответа на претензию. Срок рассмотрения претензии составляет 2 рабочих дня с момента получения вашего обращения. 	
								li 5) По получении ответа на претензию направьте упакованный товар в полной комплектации (не забудьте вернуть гарантийный талон и руководство по эксплуатации, если они прилагались). Подписанный оригинал претензии и чек вложите в посылку с товаром и направьте по Почте России ценным письмом с описью вложения и уведомлением о вручении на наш адрес 129085, г. Москва, Проспект Мира, дом 101, стр. 1, эт. 9, пом. I, ком. 18-22А.
								li 6) Упакуйте товар надлежащим образом для предотвращения повреждений во время транспортировки
								li 7) Дождитесь проверки качества товара.
								li 8)    Если в результате проверки качества товара обнаружатся недостатки, возникшие не по вине покупателя, продавец по согласованию с покупателем и в соответствии с действующим законодательством осуществляет:
							ul
								li — Замену товара на новое аналогичное изделие или иной прибор по согласованию;
								li — Возврат денежных средств;
								li — Ремонт товара по гарантии. 