+include-style('line-about')
.line-about.fh-container.no-animate
	.container
		.line-about__inner
			.line-about__warning
				+icon('i-warn')(style="width: 37px; height: 37px")
				.line-about__warning-text На этом сайте НЕ ПРОДАЕТСЯ оружие и оружейный тюнинг, тут НЕТ инструкций по изготовлению и модификации оружия, в том числе по его сборке и разборке. 
			.line-about__left
				.line-about__item
					.line-about__title Тепловизоры семейства Pulsar Axion — уникальное явление  на мировом рынке. <br> Pulsar Axion чрезвычайно компактные.
					.line-about__descr Pulsar Axion — приборы профессионального класса. Они отличаются малой массой, удобным управлением, надёжностью и расширенными эксплуатационными возможностями.
			.line-about__right
				.line-about__item
					.line-about__icon
						<svg width="25" height="42" viewBox="0 0 25 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.6796 42L25 20.4244L14.6712 18.1645L18.5497 0L0 21.3198L9.69646 24.9015L4.6796 42Z" fill="#ED1D24"/>
						</svg>
					.line-about__subdescr
						p Благодаря лёгкому корпусу из магниевого сплава и оптимизированной подборкой компонентов, тепловизионные монокуляры Pulsar Axion не крупнее обычного лазерного дальномера. 
						p Они легко помещаются в кармане куртки или брюк. Миниатюрные размеры не мешают этим приборам легко обнаруживать цель на расстоянии до 1350 м. 
