@import "src/assets/css/vars_mixins/vars_mixins";

.line-about {
	margin-top   : 45px;
	margin-bottom: 47px;
	overflow     : hidden;
	padding-top  : 145px;
	margin-top   : -100px;
	@media (max-width: $sm - 1){
		padding-top: 0px;
		margin-top: 10px;
	}
	&__inner {
		display : flex;
		margin  : 0px -10px;
		position: relative;

		@media (max-width: $md - 1) {
			flex-direction: column;
		}
	}

	&__left,
	&__right {
		padding: 0px 10px;
		width  : 50%;

		@media (max-width: $md - 1) {
			width: auto;
		}
	}

	&__right {

		@media (max-width: $md - 1) {
			margin-top: 10px;
		}

		.line-about__item {
			padding-left: 113px;

			border-radius: 2px;
			position     : relative;


			@media (max-width: $lg - 1) {
				padding-left: 40px;
			}

			@media (max-width: $sm - 1){
				padding-left: 0px;
				padding-right: 0px;
		}


			&::before {
				content   : '';
				position  : absolute;
				right     : calc((100vw - 1360px) / 2 * -1);
				left      : 0;
				bottom    : 0;
				top       : 0;
				z-index   : -1;
				background: #F3F3F3;

				@media (max-width: $xl - 1) {
					right: calc((100vw - 1168px) / 2 * -1);
				}

				@media (max-width: $lg - 1) {
					left : -16px;
					right: -16px;
				}
			}
		}
	}

	&__left {
		.line-about__item {

			border-radius: 2px;
			position     : relative;

			@media (max-width: $lg - 1) {
				padding-left: 40px;
			}

			@media (max-width: $sm - 1){
					padding-left: 0px;
					padding-right: 0px;
			}

			&::before {
				content   : '';
				position  : absolute;
				left      : calc((100vw - 1360px) / 2 * -1);
				right     : 0;
				bottom    : 0;
				top       : 0;
				z-index   : -1;
				background: #005DA6;

				@media (max-width: $xl - 1) {
					left: calc((100vw - 1168px) / 2 * -1);
				}

				@media (max-width: $lg - 1) {
					left : -16px;
					right: -16px;
				}
			}
		}

	}

	&__item {
		padding: 103px 40px 85px 0px;
		height : 100%;

		@media (max-width: $sm - 1) {
			padding-top   : 42px;
			padding-bottom: 45px;
		}

	}

	&__title {
		font-size    : 40px;
		font-weight  : 700;
		font-family  : $f-sec;
		color        : #fff;
		margin-bottom: 37px;
		line-height  : 0.95;
		max-width    : 471px;

		@media (max-width: $sm - 1) {
			font-size    : 28px;
			margin-bottom: 15px;
		}
	}

	&__descr {
		font-size: 26px;
		color    : #fff;
		max-width: 563px;

		@media (max-width: $sm - 1) {
			font-size: 20px;
		}
	}

	&__subdescr {
		font-size : 20px;
		margin-top: 44px;

		@media (max-width: $sm - 1) {
			font-size : 14px;
			margin-top: 10px;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 25px;

				@media (max-width: $sm - 1) {
					margin-bottom: 20px;
				}
			}
		}
	}

	&__warning {
		position : absolute;
		top      : 0;
		right    : 11px;
		transform: translateY(-60%);

		@media (max-width: $sm - 1) {
			display: none;
		}

		.icon {
			fill: #fff;
		}

		padding         : 38px 42px 45px 53px;
		background-color: #1F1E26;
		border-radius   : 2px;
		max-width       : 247px;
		z-index         : 1;
		box-sizing      : content-box;

		&-text {
			margin-top : 22px;
			font-size  : 14px;
			color      : #fff;
			line-height: 1.35;
		}
	}

	&__icon {
		@media (max-width: $sm - 1) {
			max-width: 20px;
			margin   : auto;
		}
	}
}