extends ../../layout/layout

block vars
	- var pageTitle = 'second-animation'
	- var pageBodyClass = ''
	- var dir = './'


block main
	include ../../components/second-animation-component/second-animation-component



block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	+include-style('animation')
	+include-script('animation')
	script(src="./js/vendor/swiper.min.js" defer)