@import "src/assets/css/vars_mixins/vars_mixins";

.nav--header {
	.nav-list {
		display    : flex;
		align-items: center;

		@media (max-width: $lg - 1) {
			flex-direction: column;
			align-items   : flex-start;
		}
	}

	.nav-item {
		margin-right: 23px;
		position    : relative;
		white-space : nowrap;

		&:after {
			position        : absolute;
			content         : '';
			top             : calc(100% + 3px);
			left            : 0;
			right           : 100%;
			height          : 2px;
			background-color: $c-primary-2;
			transition      : all .3s ease;
		}

		@media (max-width: $lg - 1) {
			font-size    : 20px;
			margin-bottom: 20px;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;

				&:after {
					right: 0;
				}
			}
		}

		&.active {
			pointer-events: none;

			&:after {
				right: 0;
			}
		}
	}
}

.nav--footer {
	.nav-item {
		margin-bottom: 12px;
	}

	.nav-link {
		color: rgba(255, 255, 255, 0.8);

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color : $c-primary-2;
			}
		}
	}
}

.nav--category {
	.nav-list {
		display    : flex;
		align-items: center;
		margin     : -7px 0px;
		flex-wrap  : wrap;
	}

	.nav-item-name {
		font-size: 16px;
		color    : #fff;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}

	.nav-item {
		position    : relative;
		white-space : nowrap;
		margin-right: 50px;
		padding     : 5px 0px;

		@media (max-width: $sm - 1) {
			margin-right: 20px;
		}

		&:after {
			position        : absolute;
			content         : '';
			top             : calc(100% - 7px);
			left            : 0px;
			right           : 100%;
			height          : 2px;
			background-color: $c-primary-2;
			transition      : all .3s ease;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;

				&:after {
					right: 0;
				}
			}
		}

		&.active {
			pointer-events: none;

			&:after {
				right: 0px;
			}
		}
	}
}