+include-style('contacts')
+include-script('contacts')
.contacts
	.container
		.contacts__inner
			.contacts__flex
				.contacts__item-wrap
					.contacts__item
						a(href="tel:88007756313").contacts__link.fz-54 8 800 775-63-13
						.contacts__descr Звонок по России бесплатный
				.contacts__item-wrap
					.contacts__item
						a(href="mailto:shop@pulsar.guru").contacts__link.fz-54 shop@pulsar.guru
						.contacts__descr Можно писать по любым вопросам
.container
	.contacts-map
		.contacts-map__map#map.js-map(data-geo="55.811953, 37.636374")
		.contacts-map__info Москва, <br> Проспект Мира 101 стр. 1
.container
	.contacts-form
		.contacts-form__inner
			.contacts-form__title.fz-54 Напишите нам с сайта
			form.bv-form
				.contacts-form__flex
					+input({
						label: '',
						fg_mod: '',
						type: 'text',
						name: false,
						small: false,
						placeholder: 'Как вас зовут',
						required: true,
						pattern: false,
						validation: {
							message: 'Заполните поле',
							regexp: 'Неверный формат',
							emailaddress: ' ',
							identical: false
						}
					})
					+input({
						label: '',
						fg_mod: '',
						type: 'text',
						name: false,
						small: false,
						placeholder: 'Телефон или почта',
						required: true,
						pattern: false,
						validation: {
							message: 'Заполните поле',
							regexp: 'Неверный формат',
							emailaddress: ' ',
							identical: false
						}
					})
				+textarea({
					fg_mod: 'text-area--contacts',
					placeholder: 'Ваше сообщение',
					required: true,
				})
				.contacts-form__policy Отправляя форму, Вы принимаете Положение об обработке персональных данных
				.contacts-form__control
					button(type="submit").btn.btn--primary.btn--dark.btn--wide Отправить 