@import "src/assets/css/vars_mixins/vars_mixins";

.contacts {

	&__flex {
		display: flex;
		margin : 0px -10px;

		@media (max-width: $md - 1){
			flex-direction: column;
			margin: 0px;
		}
	}

	&__item-wrap {
		width        : 50%;
		padding      : 0px 10px;
		border-radius: 2px;
		@media (max-width: $md - 1){
			width: auto;
			padding: 0px;
			margin-bottom: 14px;
		}
	}

	&__item {
		display        : flex;
		flex-direction : column;
		align-items    : center;
		justify-content: center;
		background     : #F3F3F3;
		border-radius  : 2px;

		height: 304px;

		@media (max-width: $md - 1){
			height: 200px;
		}
		@media (max-width: $sm - 1){
			height: 125px;
		}
	}



	&__link {
		font-family  : $f-thir;
		font-weight  : 900;
		line-height  : 50px;
		margin-bottom: 8px;

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color : $c-primary-hover;
			}
		}
	}

	&__descr {
		font-size: 24px;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
	}
}

.contacts-map {
	margin-top   : 47px;
	position: relative;
	&__map{
		height       : 593px;
		@media (max-width: $sm - 1){
			margin-left: -16px;
			margin-right: -16px;
			height: 496px;
		}
	}

	margin-bottom: 70px;

	@media (max-width: $sm - 1){
		margin-bottom: 20px;
	}

	&__info {
		padding    : 85px 50px 50px 50px;
		font-size  : 40px;
		font-family: $f-sec;
		font-weight: 700;

		position     : absolute;
		left         : 21px;
		top          : 0;
		transform    : translateY(-40%);
		width        : 500px;
		max-width    : 442px;
		background   : #FFFFFF;
		box-shadow   : 0px 4px 50px rgba(0, 0, 0, 0.1);
		border-radius: 2px;

		@media (max-width: $sm - 1){
			font-size: 28px;
			padding: 58px 50px 44px 50px;
			left: 50%;
			transform    : translate(-50%, -50%);
			width: 100%;
		}
	}

	@media (max-width: $sm - 1){
		margin-top: 90px;
	}
}

.contacts-form {
	background    : #F3F3F3;
	border-radius : 2px;
	padding-top   : 75px;
	padding-bottom: 65px;
	@media (max-width: $md - 1){
		margin-left: -16px;
		margin-right: -16px;
		padding: 0px 16px;
		padding-bottom: 55px;
		padding-top: 25px;
	}

	&__inner {
		max-width: 710px;
		margin   : auto;
	}

	&__title {
		font-family  : $f-thir;
		font-weight  : 900;
		text-align   : center;
		margin-bottom: 39px;
	}

	&__flex {
		display      : flex;
		margin-bottom: 20px;

		@media (max-width: $md - 1){
			flex-direction: column;
			margin-bottom: 0px;
		}

		.form-group {
			width: 50%;

			@media (max-width: $md - 1){
				width: auto;
				margin-bottom: 12px;
			}

			&:not(:last-child) {
				margin-right: 19px;
				@media (max-width: $md - 1){
					margin-right: 0px;
				}
			}
		}
	}

	.text-area--contacts {
		.form-control {
			height: 270px;
		}

	}

	&__policy {
		margin-top: 30px;
		text-align: center;
		font-size : 12px;
		color     : rgba(35, 31, 32, 0.5);
	}

	&__control {

		display        : flex;
		justify-content: center;
		max-width      : 221px;
		margin         : auto;
		margin-top     : 40px;
	}
}