@import "src/assets/css/vars_mixins/vars_mixins";

.product-card {
	padding         : 17px 20px;
	padding-bottom  : 14px;
	border          : 1px solid #E4E4E4;
	background-color: #fff;
	transition      : box-shadow .3s ease;

	// height: 430px;
	&:hover {
		@media (min-width: $md) {
			border-color: transparent;

			.product-card__inner {

				box-shadow: 0 0 0 30px #fff,
					0 4px 10px 30px rgba(0, 0, 0, 0.25);
				transition: box-shadow .1s ease;
			}

			z-index: 10;

			.product-card__hover {
				display         : block;
				background-color: white;
			}
		}
	}

	&__inner {
		position: relative;


	}

	&__header {
		display        : flex;
		justify-content: space-between;
		margin-bottom  : 8px;
	}

	&__header-left {
		display    : flex;
		flex-wrap  : wrap;
		align-items: center;
	}

	&__favourites {
		display        : flex;
		align-items    : center;
		justify-content: center;
		fill           : transparent;
		stroke         : grey;

		&.active {
			fill  : $c-primary;
			stroke: transparent;

			&:hover {
				@media (min-width: $md) {
					cursor    : pointer;
					transition: all .3s ease;
					fill      : $c-primary-hover;
					stroke    : transparent;
				}
			}
		}

		&:hover {
			@media (min-width: $md) {
				cursor    : pointer;
				transition: all .3s ease;
				stroke    : $c-primary;
			}
		}

	}

	&__header-right {
		display        : flex;
		justify-content: center;
		align-items    : flex-start;
		fill           : #E4E4E4;
		margin-left    : auto;
		flex           : 0 0 auto;
	}

	&__discount {

		background-color: #EB5757;
		color           : #fff;

		padding      : 0px 8px;
		border-radius: 2px;
		flex         : 0 0 auto;
	}

	&__image {
		height     : 204px;
		display    : flex;
		align-items: center;

		justify-content: center;
		margin-bottom  : 8px;

		@media (max-width: $lg - 1) {
			height: 176px;
		}

		img {
			max-width : 100%;
			max-height: 100%;
		}

		.lazy-img-wrap {
			height: 100%;
		}
	}

	&__title {
		height            : 42px;
		overflow          : hidden;
		text-overflow     : ellipsis;
		display           : -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		@media (max-width: $sm - 1) {
			height: 36px;
		}
	}

	&__label {
		height      : 28px;
		font-weight : 700;
		margin-right: 10px;
		display     : flex;
		align-items : center;

		&--blue {
			color: #0D2DFF;
		}

		&--green {
			color: #6BC684;
		}

		&--orange {
			color: #FE7235;
		}

		&--pink {
			color: #EF5DA8;
		}
	}

	&__status-wrap {
		height    : 24px;
		margin-top: 8px;
	}

	&__status {
		display        : flex;
		align-items    : center;
		justify-content: space-between;
	}

	&__id {
		color: #AAAAAA;
	}

	&__availability {
		position    : relative;
		padding-left: 8px;

		&:before {
			position     : absolute;
			content      : '';
			width        : 4px;
			height       : 4px;
			border-radius: 50%;
			left         : 0;
			top          : calc(50% - 2px);
		}

		&--available {
			color: #6BC684;

			&:before {
				background-color: #6BC684;
			}
		}

		&--order {
			color: #FE7235;

			&:before {
				background-color: #FE7235;
			}
		}

		&--unavailable {
			color: #EB5757;

			&:before {
				background-color: #EB5757;
			}
		}
	}

	&__stock {
		height         : 32px;
		display        : flex;
		align-items    : center;
		margin-top     : 16px;
		justify-content: space-between;

		@media (max-width: $sm - 1) {
			margin-top: 10px;
		}
	}

	&__prices {
		display    : flex;
		align-items: center;
	}

	&__price {
		&-current {
			font-weight: 700;
		}

		&--discount {
			color: #EB5757;
		}

		&-old {
			text-decoration: line-through;
			color          : #AAAAAA;
			margin-left    : 4px;
		}
	}

	&__hover {
		display: none;

		@media (max-width: $md - 1) {
			display   : block;
			margin-top: a;
		}
	}

	&__footer {
		// display: none;
		margin-top: 8px;
		display   : flex;

		@media (max-width: $sm - 1) {
			margin-top: 6px;
		}
	}

	&__add-to-cart {
		margin-left: 12px;
		width      : 100%;

		.btn.btn--primary,
		.btn.btn--color {
			padding: 0px;
			width  : 100%;
		}

	}

	&__cart {
		fill    : $c-primary;
		position: relative;
	}

	&__count {
		position        : absolute;
		width           : 13px;
		height          : 13px;
		border-radius   : 50%;
		color           : #fff;
		font-size       : 9px;
		background-color: $c-primary-2;
		display         : flex;
		align-items     : center;
		justify-content : center;
		right           : 0;
		bottom          : 0;
		line-height     : 1;
	}

	&__one-click {
		display        : flex;
		align-items    : center;
		justify-content: center;
		margin-top     : 25px;
		fill           : $c-primary;
		color          : $c-primary;
		font-weight    : 600;

		@media (max-width: $sm - 1) {
			margin-top: 21px;
		}

		.icon {
			margin-right: 7px;
			transition: all .3s ease;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				fill           : $c-primary-hover;
				color          : $c-primary-hover;
			}
		}
	}
}

.product-card--unavailable {
	position: relative;

	// pointer-events: none;
	// user-select: none;
	&::after {
		position        : absolute;
		content         : '';
		z-index         : 10;
		top             : 0;
		left            : 0;
		right           : 0;
		bottom          : 0;
		background-color: rgba(255, 255, 255, 0.4);
		pointer-events  : none;
	}
}