extends ../../layout/layout

block vars
	- var pageTitle = 'Политика конфиденциальности'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container.no-animate
		+breadcrumb({
			content2 : 'Политика конфиденциальности',
	})
		+page-header-section({
			title: "Политика конфиденциальности",
			sidemenu: false
		})
		+include-style('mediaarticle')
		+include-style('mediacenter')
		+include-style('content')
		.row
			.col-lg-9
				.content.content-bg
					p г.Москва
					p редакция от 01 ноября 2019 года
					p Настоящая Политика обработки персональных данных (далее – Политика конфиденциальности) действует в отношении всех персональных данных, которые Акционерное общество «РИКА», именуемое в дальнейшем Администрация сайта, может получить о Пользователе во время использования сайтов: http://pulsarguru.ru/ (далее по тексту Сайты)
					p Администрация сайта просит внимательно ознакомиться с Политикой конфиденциальности. Если Пользователь не согласен с условиями Политики конфиденциальности, он обязан прекратить использование Сайтов.
					p
						b 1. ОСНОВНЫЕ ПОНЯТИЯ
					p 1. Основные понятия, используемые в Политике конфиденциальности:
					p 1.1. Администрация сайта – Акционерное общество «РИКА», ИНН 7743225568, ОГРН 1177746966980, являющееся Оператором персональных данных, адрес для направления претензий и иных сообщений: 129085, Москва г, Проспект Мира, дом № 101, строение 1, помещение 4/1, тел. для связи: 8 800 200-63-13, адрес электронной почты shop@rika.sale.
					p 1.2. Конфиденциальность персональных данных — обязательное для соблюдения Администрацией сайта или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
					p 1.3. Обработка персональных данных — любое действие (операция) или совокупность действий (операций), совершаемых Администрацией сайта с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, и передачу третьим лицам, в частности по договорам.
					p 1.4. Персональные данные — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
					p 1.5. Политика конфиденциальности — настоящий документ со всеми изменениями и дополнениями, расположенный в сети Интернет на Сайтах Оператора.
					p 1.6. Пользователь — дееспособное физическое лицо, достигшее 18 лет, использующее Сайты в собственных интересах, или выступающее от имени представляемого юридического лица.
					p 1.7. Сайт — совокупность информации, текстов, графических элементов, дизайна, изображений, фото и видеоматериалов и иных результатов интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу.
					p 1.8. Товары – товары, информация о которых представлена на Сайтах.
					p 1.9. Файлы Cookies — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
					p 1.10. IP-адрес — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
					p
						b 2. ОБЩИЕ ПОЛОЖЕНИЯ
					p 2.1. Настоящая Политика конфиденциальности применяется только к информации, получаемой в ходе использования Сайтов. Администрация сайта не контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайтах и на всех субдоменах, созданных на их основе.
					p 2.2. Администрация сайта не проверяет достоверность Персональных данных, предоставляемых Пользователем.
					p 2.3. Использование Пользователем Сайтов означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
					p 2.4. Принимая данную Политику конфиденциальности, Пользователь тем самым дает свое согласие Администрации сайта на обработку своих Персональных данных, указанных в п. 3.2.-3.7. данной Политики конфиденциальности, в том числе сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных в целях, указанных в п. 4.1. Также принимая данную Политику конфиденциальности, Пользователь тем самым дает свое согласие Администрации сайта на передачу третьим лицам согласно договорным отношениям следующие функции: сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных. В случае необходимости взаимодействия с третьими лицами, в рамках достижения целей обработки персональных данных, условием передачи персональных данных в адрес третьих лиц является наличие договора/поручения на обработку персональных данных в соответствии с ч. 3 ст. 6 № 152-ФЗ «О персональных данных».
					p Администрация сайта вправе передавать персональные данные органам дознания и следствия, иным уполномоченным органам по основаниям, предусмотренным действующим законодательством Российской Федерации.
					p 2.5. Сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных персональных данных Пользователя производится Оператором с использованием баз данных на территории Российской Федерации.
					p 2.6. Персональные данные Пользователя, используемые Администрацией сайта для достижения целей, указанных в п. 4.1. настоящей Политики конфиденциальности, хранятся на защищенных серверах сервисов Живой сайт, Яндекс.Касса, RetailCRM и иных сервисах согласно договорным отношениям с Администрацией сайта и используются в соответствии с политиками конфиденциальности данных сервисов.
					p 2.8. Настоящая Политика конфиденциальности опубликована по адресу: https://rika.sale/?show=policy-box
					p 
						b 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
					p 3.1. Настоящая Политика конфиденциальности устанавливает обязанности Администрации сайта по обработке Персональных данных пользователей, их охране, в том числе обеспечению режима защиты конфиденциальности Персональных данных, которые Пользователь предоставляет Администрации сайта в следующих случаях:
					p — при оформлении заказа на консультации на Сайтах
					p — при оставлении отзыва о Товарах на Сайтах
					p — при оформлении заказа на Товары на Сайтах
					p — при направлении претензии в адрес Администрации сайта
					p — при заполнении формы подписки
					p — при заполнении формы всплывающего окна
					p — при заказе обратного звонка на Сайтах
					p — при обращении к Администрации сайта по контактному телефону
					p — при обращении к Администрации сайта через viber, watsapp, telegram
					p — при заполнении формы «оплата заказа» на Сайтах
					p — при заполнении формы онлайн-консультанта (jivosite)
					p 3.2. Администрация Сайта собирает два вида информации о Пользователе:
					p — информацию, которую Пользователь сознательно предоставил Администрации Сайта в процессе использования Сайта;
					p — техническую информацию, автоматически собираемую программным обеспечением Сайтов во время его посещения Пользователем.
					p 3.3. Персональные данные, предоставленные Пользователем в случаях, указанных в п. 3.1. данной Политики конфиденциальности, включают в себя следующие сведения:
					p — фамилия,
					p — имя (отчество),
					p — адрес электронной почты;
					p — телефон;
					p — адрес доставки Товара
					p — фотография
					p — банковские реквизиты.
					p 3.4. Персональные данные предоставляются Пользователем при заполнении формы онлайн-консультанта, предоставленного сервисом jivosite (ООО «Живой сайт»), на Сайтах и включают в себя следующие сведения:
					p — имя
					p — телефон
					p — адрес электронной почты.
					p Заполняя эту форму, Пользователь соглашается с тем, что его Персональные данные, указанные в этой форме (имя, номер телефона, адрес электронной почты) будут обрабатываться в соответствии с политикой конфиденциальности сервиса jivosite (ООО «Живой сайт»), именно этот сервис будет осуществлять сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Персональных данных Пользователя, указанные в этой форме.
					p 3.5. Персональные данные предоставляются Пользователем при заполнении формы при осуществлении оплаты Товара. Персональные данные, которые указываются в этой форме, включают в себя следующие сведения:
					p — имя
					p — фамилия
					p — телефон
					p — адрес электронной почты
					p — платежные реквизиты
					p — адрес доставки
					p Заполняя эту форму, Пользователь соглашается с тем, что его Персональные данные, указанные в этой форме (имя, фамилия, номер телефона, адрес электронной почты, платежные реквизиты) будут обрабатываться в соответствии с политикой конфиденциальности сервиса Яндекс.Касса, именно этот сервис будет осуществлять сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Персональных данных Пользователя, указанные в форме при осуществлении оплаты за Товары.
					p Администрация сайта не осуществляет сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение платежных персональных данных, оставленных Пользователем при заполнении формы для оплаты за Товары.
					p 3.6. Пользователь дает согласие на то, что Администрация сайта будет направлять на указанный им адрес электронной почты новости Сайтов, информацию о новых Товарах, спецпредложениях, рекламы, другой полезной информации от Администрации сайта или партнеров Администрации сайта. Пользователь в любое время может отказаться от получения писем рассылки Администрации сайта, кликнув на ссылку для отписки, которая присутствует в каждом получаемом письме, или путем отправки уведомления в свободной форме на электронный адрес Администрации сайта shop@rika.sale или путем направления соответствующего письменного обращения по адресу: 129085, Москва, Проспект Мира, 101с1 с пометкой «Отзыв персональных данных».
					p Адрес электронной почты, используемый для рассылки, хранится на защищенных серверах сервиса, который использует Администрация сайта, поэтому запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение адреса электронной почты Пользователя осуществляется в соответствии с политикой конфиденциальности данного сервиса рассылок.
					p 3.7. Техническая информация, автоматически собираемая программным обеспечением Сайта во время его посещения Пользователем, включает:
					p IP адрес;
					p информацию из cookies;
					p информацию о браузере;
					p информация о типе устройства (мобильное или пк);
					p время доступа.
					p 3.8. На Сайте реализована технология идентификации Пользователей, основанная на использовании файлов cookies. На устройстве, используемом Пользователем для доступа на Сайт, могут быть записаны файлы cookies, которые в дальнейшем будут использованы для автоматической авторизации, для сбора статистических данных, в частности о посещаемости Сайта. Администрация сайта может использовать и раскрывать информацию об использовании Сайта, например, для определения степени использования Сайта, улучшения его контента, объяснения полезности Сайта и Услуг, а также для расширения функциональности Сайта. Принимая данную Политику конфиденциальности, Пользователь дает свое согласие Администрации сайта, что технические данные, указанные в п. 3.7, собираемые с Сайта, могут передаваться по сети Интернет через национальные границы.
					p 3.9. Администрация Сайта не сохраняет Персональные данные в файлах cookies. Администрация сайта использует информацию, записанную в файлах cookies, которая не идентифицирует индивидуальных Пользователей, для анализа тенденций, администрирования Сайта, определения движений Пользователей по Сайту и для сбора демографической информации о базовом контингенте Пользователей в целом.
					p 3.10. Если Пользователь не хочет, чтобы Администрация сайта собирала техническую информацию о нем с использованием файлов cookies, то Пользователь обязан прекратить пользоваться Сайтом или запретить сохранение файлов cookies на своем устройстве, используемом для доступа к Сайту, соответствующим образом настроив свой браузер. При этом следует иметь в виду, что Сервисы сайта, использующие данную технологию, могут оказаться недоступными.
					p 3.11. Персональные данные сохраняются Администрацией сайта в конфиденциальности за исключением случаев, когда Пользователь добровольно разместил информацию для общего доступа в комментариях, отзывах на Сайтах.
					p 3.12. Администрация Сайта гарантирует, что никогда не предоставляет Персональные данные третьим лицам, за исключением случаев, когда:
					p Этого прямо требует законодательство (например, по письменному запросу суда, правоохранительных органов);
					p Пользователь дал согласие на передачу персональных данных;
					p передача необходима для доставки Товара, заключения договоров;
					p передача происходит в рамках продажи или иной передачи бизнеса;
					p передача происходит в рамках переноса базы Персональных данных с одного сервиса на другой согласно договорным отношениям Администрации сайта;
					p это требуется для оказания поддержки обслуживания Пользователей или для помощи в защите и безопасности систем Администрации сайта.
					p
						b 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
					p 4.1. Администрация сайта использует Персональные данные пользователей в следующих целях:
					p — Для оказания услуг по договору, заключенному с Пользователем,
					p -Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайтов, оказания услуг, обработку запросов и заявок от Пользователя.
					p — для обратной связи с Пользователем;
					p — для доставки Товара (в том числе с привлечением третьих лиц)
					p — для рассылки пользователю с его согласия информации о новостях Сайтов, о новых услугах, спецпредложениях, другой полезной информации от Администрации сайта или партнеров Администрации сайта, в том числе рекламного характера
					p — для обработки претензий в адрес Администрации сайта
					p — Размещение оставленных Пользователем комментариев в официальных группах в социальных сетях и иных сообществах Администрации сайта в сети Интернет.
					p — для проведения маркетинговых и иных исследований.
					p 
						b 5. МЕРЫ ДЛЯ ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ
					p 5.1. Администрация сайта осуществляет защиту персональной информации Пользователя, применяя общепринятые методы безопасности для обеспечения защиты информации от потери, неправомерного или случайного доступа, искажения и несанкционированного распространения, уничтожения, изменения, блокирования, копирования, а также любых других неправомерных действий с персональными данными третьих лиц. Безопасность реализуется программными средствами сетевой защиты, процедурами проверки доступа, применением криптографических средств защиты информации, соблюдением политики конфиденциальности.
					p
						b 6. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
					p 6.1. Обработка Персональных данных осуществляется в течение срока действия договора с Администрацией сайта, до достижения цели обработки Персональных данных и/или в течение иного срока, необходимого для достижения целей обработки персональных данных, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
					p 6.2. Условием прекращения обработки персональных данных может являться достижение целей обработки персональных данных, истечение срока действия согласия или отзыв согласия субъекта персональных данных на обработку его персональных данных, а также выявление неправомерной обработки персональных данных.
					p 6.3. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию по достижении целей обработки или в случае утраты необходимости в достижении этих целей.
					p
						b 7. ПРАВА И ОБЯЗАННОСТИ
					p 7.1. Обязанности Пользователя:
					p 7.1.1 Пользователь при пользовании Сайтами обязан предоставить информацию о Персональных данных, требуемую Администрацией сайта.
					p 7.1.2. Обновлять, дополнять предоставленную информацию о персональных данных в случае изменения данной информации.
					p 7.2. Права Пользователя:
					p 7.2.1. Требовать от Администрации сайта уточнения его Персональных данных, их блокирования или уничтожения в случае, если Персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, путем направления обращения по адресу электронной почты shop@rika.sale или путем направления соответствующего письменного обращения по адресу: 129085, Москва, Проспект Мира, 101с1 с пометкой «Отзыв персональных данных».
					p 7.2.2. Направить Администрации Сайта заявление об отзыве своего согласия на обработку персональных данных в порядке, предусмотренном п.7.2.1. настоящей Политики конфиденциальности.
					p 7.2.3. На основании запроса получать от Администрации Сайта информацию, касающуюся обработки его персональных данных в порядке, предусмотренном п.7.2.1. настоящей Политики конфиденциальности.
					p 7.2.4. Отказаться от получения рекламной почтовой рассылки Администрации Сайта, других сообщений от Исполнителя, следуя инструкциям в этих сообщениях. В случае отказа Исполнитель вправе отправлять Пользователю сообщения нерекламного характера, например уведомления об изменениях в порядке оказания услуг или информацию о доставке Товаров Пользователю.
					p 7.3. Обязанности Администрации сайта:
					p 7.3.1. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением за исключением случаев, предусмотренных пунктом 3.12. данной Политики конфиденциальности.
					p 7.3.2. Использовать полученную информацию исключительно для целей, указанных в п. 4.1 настоящей Политики конфиденциальности.
					p 7.3.3. Осуществлять блокирование Персональных данных о Пользователе с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
					p 
						b 8. ОТВЕТСТВЕННОСТЬ ЗА РАЗГЛАШЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ.
					p 8.1. Если Персональные данные были утрачены либо разглашены, Администрация сайта обязана проинформировать об этом Пользователя.
					p 8.2. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
					p 8.3. В случае утраты или разглашения конфиденциальной информации Администрация сайта не несет ответственности, если данная конфиденциальная информация:
					p 8.3.1. Стала публичным достоянием до ее утраты или разглашения.
					p 8.3.2. Была получена от третьей стороны до момента ее получения Оператором.
					p 8.3.3. Была разглашена с согласия Пользователя.
					p
						b 9. РАЗРЕШЕНИЕ СПОРОВ
					p 9.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем и Администрацией сайта обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
					p 9.2. Получатель претензии в течение 30 (тридцати) календарных дней со дня получения претензии письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
					p 9.3. При недостижении соглашения спор будет передан на рассмотрение в суд в соответствии с действующим законодательством Российской Федерации.
					p 9.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Оператором применяется действующее законодательство Российской Федерации.
					p
						b 10. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
					p 10.1. Администрация сайта имеет право внести любые изменения и дополнения в Политику конфиденциальности в любой момент по своему усмотрению.
					p 10.2. Изменения и дополнения вступают в силу с момента размещения на Сайте Политики конфиденциальности с изменениями и дополнениями.
					p
						b РЕКВИЗИТЫ АДМИНИСТРАЦИИ САЙТА
					p Акционерное общество «РИКА»,
					p ИНН 7743225568, ОГРН 1177746966980,
					p адрес для направления претензий и иных сообщений: 129085, Москва г, Проспект Мира, дом № 101, строение 1, помещение 4/1,
					p тел. для связи: 8 800 200-63-13
					p адрес электронной почты info@pulsarguru.ru
	include ../../components/youtube-section/youtube-section
	include ../../components/instagram-section/instagram-section


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)
