+include-style('mediacenter')
+include-script('mediacenter')

.tags
	.tags__current
	.tags__list
		.tags__item.active Все
		.tags__item Видео
		.tags__item Инструкции
		.tags__item Обзоры
.mediacenter
	.mediacenter__list
		+news-card({
			mod: 'news-card--wide',
			img: '/images/media-3.png',
			title: 'Обзор Pulsar Helion 2 XP PRO: самый ТОПовый тепловизионный монокуляр 2021 года'
		})
		+news-card({
			img: '/images/media-2.png',
			title: 'Новые ночные прицелы Yukon Sightline, обзор модельного ряда 2020 года.'
		})
		+news-card({
			img: '/images/media-1.png',
			title: 'Обзор Pulsar Helion 2 XP PRO: самый ТОПовый тепловизионный монокуляр 2021 года'
		})
		+news-card({
			img: '/images/media-4.png',
			title: 'Рады сообщить об обновлении приложения Stream Vision'
		})
		+news-card({
			img: '/images/media-5.png',
			title: 'Открыт прием заявок на участие в программе Pulsar Pro Staff в России, Беларуси, Казахстане и Украине.'
		})
		+news-card({
			img: '/images/media-6.png',
			title: 'Ночные прицелы Pulsar, что стоит приобрести в 2020 году?'
		})
		+news-card({
			img: '/images/media-7.png',
			title: 'Pulsar снижает цены на тепловизоры'
		})
		+news-card({
			img: '/images/media-8.png',
			title: 'Обзор Pulsar Digisight Ultra N455 LRF ночной прицел с дальномером'
		})
		+news-card({
			img: '/images/media-9.png',
			title: 'Программное обновление 4.0 (XQ)'
		})
		+news-card({
			img: '/images/media-10.png',
			title: 'Тепловизор Pulsar: новые возможности'
		})
		+news-card({
			img: '/images/media-11.png',
			title: 'Программное обеспечение 4.0: Новый режим наблюдения и улучшение качества изображения.'
		})
		+news-card({
			img: '/images/media-12.png',
			title: '«Цифровой прыжок» Pulsar'
		})
		+news-card({
			img: '/images/media-13.png',
			title: 'Сравнение ночных прицелов: Yukon Sightline N455 против Pulsar Digisight Ultra N455'
		})
		+news-card({
			img: '/images/media-14.png',
			title: 'Тепловизор Pulsar: новые возможности'
		})
		+news-card({
			img: '/images/media-15.png',
			title: 'Программное обеспечение 4.0: Новый режим наблюдения и улучшение качества изображения.'
		})
include ../pagination/pagination

