@import "src/assets/css/vars_mixins/vars_mixins";

.tags {
	position: relative;
	z-index : 2;

	&.active {
		.tags__list {
			max-height  : 500px;
			margin-top  : -2px;
			border-color: rgba(35, 31, 32, 0.2);
		}

		.tags__current {
			border-bottom: none;
			&:after{
				transform: rotate(0deg);
			
			}
		}
	}

	@media (max-width: $sm - 1) {
		height     : 46px;
		// overflow: hidden;
	}

	&__list {
		display    : flex;
		align-items: center;

		@media (max-width: $sm - 1) {
			transition: all .3s ease;

			max-height                : 0px;
			overflow                  : hidden;
			position                  : static;
			top                       : 100%;
			flex-direction            : column;
			left                      : 0;
			right                     : 0;
			background-color          : #fff;
			padding                   : 0px 24px;
			border                    : 1px solid rgba(35, 31, 32, 0.2);
			box-sizing                : border-box;
			box-shadow                : 0px 15px 10px rgba(0, 0, 0, 0.1);
			border-bottom-left-radius : 3px;
			border-bottom-right-radius: 3px;
			border-top                : none;
			border-color              : transparent;
		}

	}

	&__current {
		display: none;

		@media (max-width: $sm - 1) {
			display      : block;
			height       : 46px;
			width        : 100%;
			border       : 1px solid rgba(35, 31, 32, 0.2);
			border-radius: 3px;
			position     : relative;

			&:after {
				transition: all .3s ease;
				
				position           : absolute;
				content            : '';
				width              : 8px;
				height             : 4px;
				background-position: center;
				top: calc(50% - 2px);
				right: 20px;
				transform: rotate(180deg);
				background-image   : url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_1410_2198' fill='white'%3E%3Cpath d='M3.94225 0.00336074C3.85354 0.0153298 3.77113 0.0530689 3.7067 0.111224L0.15145 3.29734C0.107029 3.33234 0.0707417 3.37545 0.0448103 3.42402C0.0188789 3.47259 0.00384665 3.52559 0.000647068 3.57977C-0.00255203 3.63396 0.00614452 3.68818 0.0262003 3.73912C0.0462561 3.79005 0.0772562 3.83662 0.117286 3.87597C0.157315 3.91532 0.205539 3.94662 0.258993 3.96795C0.312446 3.98928 0.369996 4.00018 0.428127 4C0.486258 3.99981 0.543739 3.98854 0.597035 3.96687C0.650332 3.94521 0.698323 3.9136 0.738065 3.874L4.00001 0.94924L7.26194 3.874C7.30169 3.9136 7.34968 3.94521 7.40297 3.96687C7.45627 3.98854 7.51374 3.99981 7.57187 4C7.63 4.00018 7.68756 3.98928 7.74102 3.96795C7.79447 3.94662 7.84269 3.91532 7.88272 3.87597C7.92275 3.83662 7.95374 3.79005 7.9738 3.73912C7.99386 3.68818 8.00255 3.63396 7.99935 3.57977C7.99615 3.52559 7.98113 3.47259 7.9552 3.42402C7.92927 3.37545 7.89298 3.33234 7.84856 3.29734L4.29332 0.111224C4.2472 0.0698246 4.19171 0.0386352 4.13094 0.0199642C4.07017 0.00129328 4.00568 -0.00438114 3.94225 0.00336074Z'/%3E%3C/mask%3E%3Cpath d='M3.94225 0.00336074C3.85354 0.0153298 3.77113 0.0530689 3.7067 0.111224L0.15145 3.29734C0.107029 3.33234 0.0707417 3.37545 0.0448103 3.42402C0.0188789 3.47259 0.00384665 3.52559 0.000647068 3.57977C-0.00255203 3.63396 0.00614452 3.68818 0.0262003 3.73912C0.0462561 3.79005 0.0772562 3.83662 0.117286 3.87597C0.157315 3.91532 0.205539 3.94662 0.258993 3.96795C0.312446 3.98928 0.369996 4.00018 0.428127 4C0.486258 3.99981 0.543739 3.98854 0.597035 3.96687C0.650332 3.94521 0.698323 3.9136 0.738065 3.874L4.00001 0.94924L7.26194 3.874C7.30169 3.9136 7.34968 3.94521 7.40297 3.96687C7.45627 3.98854 7.51374 3.99981 7.57187 4C7.63 4.00018 7.68756 3.98928 7.74102 3.96795C7.79447 3.94662 7.84269 3.91532 7.88272 3.87597C7.92275 3.83662 7.95374 3.79005 7.9738 3.73912C7.99386 3.68818 8.00255 3.63396 7.99935 3.57977C7.99615 3.52559 7.98113 3.47259 7.9552 3.42402C7.92927 3.37545 7.89298 3.33234 7.84856 3.29734L4.29332 0.111224C4.2472 0.0698246 4.19171 0.0386352 4.13094 0.0199642C4.07017 0.00129328 4.00568 -0.00438114 3.94225 0.00336074Z' fill='white'/%3E%3Cpath d='M3.94225 0.00336074L3.82109 -0.989354L3.80852 -0.987658L3.94225 0.00336074ZM3.7067 0.111224L4.37409 0.855939L4.37673 0.853555L3.7067 0.111224ZM0.15145 3.29734L0.770398 4.08277L0.795262 4.06317L0.818837 4.04205L0.15145 3.29734ZM0.738065 3.874L0.0704875 3.12946L0.050858 3.14706L0.0321836 3.16567L0.738065 3.874ZM4.00001 0.94924L4.66759 0.2047L4.00001 -0.393872L3.33243 0.204699L4.00001 0.94924ZM7.26194 3.874L7.96783 3.16567L7.94915 3.14706L7.92952 3.12946L7.26194 3.874ZM7.84856 3.29734L7.18117 4.04205L7.20475 4.06317L7.22961 4.08277L7.84856 3.29734ZM4.29332 0.111224L3.62525 0.855328L3.62593 0.855934L4.29332 0.111224ZM3.80852 -0.987658C3.52671 -0.949631 3.25561 -0.828729 3.03667 -0.631107L4.37673 0.853555C4.28665 0.934867 4.18038 0.98029 4.07597 0.994379L3.80852 -0.987658ZM3.03931 -0.633486L-0.515938 2.55263L0.818837 4.04205L4.37409 0.855935L3.03931 -0.633486ZM-0.467499 2.5119C-0.617412 2.63004 -0.744544 2.77925 -0.837328 2.95303L0.926948 3.89501C0.886028 3.97165 0.83147 4.03464 0.770398 4.08277L-0.467499 2.5119ZM-0.837328 2.95303C-0.930219 3.12701 -0.985775 3.32034 -0.997614 3.52083L0.998908 3.63872C0.993469 3.73084 0.967976 3.81817 0.926948 3.89501L-0.837328 2.95303ZM-0.997614 3.52083C-1.00945 3.72132 -0.977067 3.9206 -0.904265 4.10549L0.956666 3.37274C0.989356 3.45576 1.00435 3.54659 0.998908 3.63872L-0.997614 3.52083ZM-0.904265 4.10549C-0.831524 4.29023 -0.721049 4.45413 -0.583745 4.5891L0.818316 3.16284C0.875561 3.21911 0.924037 3.28987 0.956666 3.37274L-0.904265 4.10549ZM-0.583745 4.5891C-0.446555 4.72396 -0.285222 4.82747 -0.111592 4.89675L0.629578 3.03915C0.696301 3.06577 0.761186 3.10668 0.818316 3.16284L-0.583745 4.5891ZM-0.111592 4.89675C0.0619559 4.96599 0.24649 5.00058 0.431307 4.99999L0.424946 3C0.493502 2.99978 0.562937 3.01256 0.629578 3.03915L-0.111592 4.89675ZM0.431307 4.99999C0.616105 4.9994 0.800465 4.96365 0.973642 4.89325L0.220428 3.0405C0.287012 3.01343 0.356411 3.00022 0.424946 3L0.431307 4.99999ZM0.973642 4.89325C1.14689 4.82281 1.30761 4.71819 1.44395 4.58233L0.0321836 3.16567C0.0890369 3.10901 0.153772 3.0676 0.220428 3.0405L0.973642 4.89325ZM1.40564 4.61854L4.66759 1.69378L3.33243 0.204699L0.0704875 3.12946L1.40564 4.61854ZM3.33243 1.69378L6.59437 4.61854L7.92952 3.12946L4.66759 0.2047L3.33243 1.69378ZM6.55606 4.58233C6.6924 4.71819 6.85312 4.82281 7.02637 4.89325L7.77958 3.0405C7.84624 3.0676 7.91097 3.10901 7.96783 3.16567L6.55606 4.58233ZM7.02637 4.89325C7.19953 4.96364 7.38388 4.9994 7.56869 4.99999L7.57505 3C7.64361 3.00022 7.71301 3.01344 7.77958 3.0405L7.02637 4.89325ZM7.56869 4.99999C7.75349 5.00058 7.93804 4.966 8.1116 4.89675L7.37043 3.03915C7.43709 3.01255 7.50652 2.99978 7.57505 3L7.56869 4.99999ZM8.1116 4.89675C8.28524 4.82747 8.44657 4.72396 8.58375 4.5891L7.18169 3.16284C7.23882 3.10668 7.3037 3.06577 7.37043 3.03915L8.1116 4.89675ZM8.58375 4.5891C8.72112 4.45407 8.83156 4.29015 8.90427 4.10549L7.04333 3.37274C7.07593 3.28995 7.12439 3.21917 7.18169 3.16284L8.58375 4.5891ZM8.90427 4.10549C8.97707 3.92061 9.00945 3.72132 8.99761 3.52083L7.00109 3.63872C6.99565 3.54659 7.01064 3.45576 7.04333 3.37274L8.90427 4.10549ZM8.99761 3.52083C8.98578 3.32045 8.93028 3.1271 8.83734 2.95303L7.07306 3.89501C7.03198 3.81807 7.00653 3.73073 7.00109 3.63872L8.99761 3.52083ZM8.83734 2.95303C8.74455 2.77925 8.61742 2.63004 8.46751 2.5119L7.22961 4.08277C7.16854 4.03464 7.11398 3.97166 7.07306 3.89501L8.83734 2.95303ZM8.51595 2.55263L4.9607 -0.633485L3.62593 0.855934L7.18117 4.04205L8.51595 2.55263ZM4.96138 -0.63288C4.80449 -0.773737 4.6204 -0.875789 4.42463 -0.935936L3.83725 0.975865C3.76302 0.953059 3.68992 0.913386 3.62525 0.855328L4.96138 -0.63288ZM4.42463 -0.935936C4.22897 -0.996052 4.02311 -1.01393 3.8211 -0.989275L4.06339 0.995996C3.98826 1.00516 3.91138 0.998639 3.83725 0.975865L4.42463 -0.935936Z' fill='%23231F20' mask='url(%23path-1-inside-1_1410_2198)'/%3E%3C/svg%3E%0A");
			}
		}
	}

	&__item {
		padding      : 12px 30px;
		border       : 1px solid rgba(35, 31, 32, 0.2);
		border-radius: 3px;
		margin-right : 17px;
		transition   : all .3s ease;

		@media (max-width: $sm - 1) {
			margin-right : 0px;
			width        : 100%;
			border-radius: none;
			border       : none;
			font-size    : 14px;
			padding      : 10px 0px;
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor          : pointer;
				background-color: #F3F3F3;
			}
		}

		&.active {
			background-color: #F3F3F3;
			pointer-events  : none;

			@media (max-width: $sm - 1) {

				background-color: transparent;
				position        : absolute;
				top             : 5px;
				padding-left            : 24px;
			}
		}
	}
}

.mediacenter {
	margin-top: 32px;

	&__list {
		display  : flex;
		flex-wrap: wrap;
		margin   : 0px -10px;
	}
}