@import "src/assets/css/vars_mixins/vars_mixins";

// 1
.scroll-animations-example {
	overflow  : hidden;
	max-height: 80vh;

	>.scrollsection {
		// padding  : 0 10vh 10vh 10vmax;
		padding   : 0 10vh 10vh 0;
		min-width : 1550vh;
		transform : translateX(-24vw);
		position  : relative;
		transition: transform 2s linear 0s;
	}

	>.scrollsection.-active {
		transform : translateX(0);
		transition: transform 2s linear 0s;
	}

	>.scrollsection>.item {
		display : inline-block;
		position: relative;
		margin  : 0 -30vh 0 3vh;
	}

	>.scrollsection>.item:first-of-type {
		margin-left: 0;
	}

	>.scrollsection>.item::before {
		content       : '';
		display       : inline-block;
		vertical-align: middle;
		height        : 100%;
	}

	>.scrollsection>.item.-big {
		height: 75vh;
		width : 60vh;
	}

	>.scrollsection>.item.-big.-horizontal {
		height: 60vh;
		width : 80vh;
	}

	>.scrollsection>.item.-normal {
		height : 60vh;
		width  : 45vh;
		z-index: 1;
	}

	>.scrollsection>.item.-normal.-horizontal {
		height: 45vh;
		width : 60vh;
	}

	>.scrollsection>.item.-normal:nth-of-type(3n) {
		bottom: 25vh;
	}

	>.scrollsection>.item.-normal:nth-of-type(4n) {
		bottom: -23vh;
	}

	>.scrollsection>.item.-small {
		height : 40vh;
		width  : 30vh;
		z-index: 2;
	}

	>.scrollsection>.item.-small.-horizontal {
		height: 30vh;
		width : 40vh;
	}

	>.scrollsection>.item.-small:nth-of-type(3n) {
		bottom: 18vh;
	}

	>.scrollsection>.item.-small:nth-of-type(4n) {
		bottom: -18vh;
	}

	>.scrollsection>.item>.image {
		height        : 100%;
		width         : 100%;
		position      : absolute;
		top           : 0;
		left          : 0;
		opacity       : 0;
		pointer-events: none;
		transform     : translateX(0);
		transition    : filter .3s linear,
			opacity 0.5s linear,
			// transform 2s linear;
	}

	>.scrollsection>.item:nth-of-type(4n)>.image {
		// transform          : translateX(-60vh);
		// transition-delay: 0;
	}

	>.scrollsection>.item:nth-of-type(4n - 1)>.image {
		// transform          : translateX(-30vh);
		// transition-delay: .05s;
	}

	>.scrollsection>.item:nth-of-type(4n - 2)>.image {
		// transform          : translateX(-40vh);
		// transition-delay: .1s;
	}

	>.scrollsection>.item:nth-of-type(4n - 3)>.image {
		// transform          : translateX(-50vh);
		// transition-delay: .15s;
	}

	>.scrollsection>.item>.image.-active {
		// transform     : translateX(0);
		opacity       : .8;
		pointer-events: auto;
		transition    : filter .3s linear,
			opacity 0.5s linear,
			// transform 2s linear;
	}

	>.scrollsection>.item>.image.-active:hover {
		height  : 100%;
		width   : 100%;
		position: absolute;
		top     : 0;
		left    : 0;
		filter  : grayscale(0);
		opacity : 1;
		cursor  : pointer;
	}

}


// 2
// .scroll-animations-example {
// 	overflow  : hidden;
// 	max-height: 80vh;

// 	>.scrollsection {
// 		// padding  : 0 10vh 10vh 10vmax;
// 		padding  : 0 10vh 10vh 0;
// 		min-width: 1550vh;
// 	}


// 	>.scrollsection>.item {
// 		display : inline-block;
// 		position: relative;
// 		margin  : 0 -35vh 0 3vh;
// 	}

// 	>.scrollsection>.item:first-of-type {
// 		margin-left: 0;
// 	}

// 	>.scrollsection>.item::before {
// 		content       : '';
// 		display       : inline-block;
// 		vertical-align: middle;
// 		height        : 100%;
// 	}

// 	>.scrollsection>.item.-big {
// 		height: 75vh;
// 		width : 60vh;
// 	}

// 	>.scrollsection>.item.-big.-horizontal {
// 		height: 60vh;
// 		width : 80vh;
// 	}

// 	>.scrollsection>.item.-normal {
// 		height : 60vh;
// 		width  : 45vh;
// 		z-index: 1;
// 	}

// 	>.scrollsection>.item.-normal.-horizontal {
// 		height: 45vh;
// 		width : 60vh;
// 	}

// 	>.scrollsection>.item.-normal:nth-of-type(3n) {
// 		bottom: 25vh;
// 	}

// 	>.scrollsection>.item.-normal:nth-of-type(4n) {
// 		bottom: -23vh;
// 	}

// 	>.scrollsection>.item.-small {
// 		height : 40vh;
// 		width  : 30vh;
// 		z-index: 2;
// 	}

// 	>.scrollsection>.item.-small.-horizontal {
// 		height: 30vh;
// 		width : 40vh;
// 	}

// 	>.scrollsection>.item.-small:nth-of-type(3n) {
// 		bottom: 18vh;
// 	}

// 	>.scrollsection>.item.-small:nth-of-type(4n) {
// 		bottom: -18vh;
// 	}

// 	>.scrollsection>.item>.image {
// 		height        : 100%;
// 		width         : 100%;
// 		position      : absolute;
// 		top           : 0;
// 		left          : 0;
// 		opacity       : 0;
// 		pointer-events: none;
// 		transform     : translateX(0) translateY(0) scale(1);
// 		transition    : filter .3s ease,
// 			opacity 1s ease,
// 			transform 1s ease;
// 	}

// 	>.scrollsection>.item:nth-of-type(4n)>.image {
// 		transform       : translateX(-60vh);
// 		transition-delay: 0;
// 	}

// 	>.scrollsection>.item:nth-of-type(4n - 1)>.image {
// 		transform       : translateX(-30vh);
// 		transition-delay: .05s;
// 	}

// 	>.scrollsection>.item:nth-of-type(4n - 2)>.image {
// 		transform       : translateX(-40vh);
// 		transition-delay: .1s;
// 	}

// 	>.scrollsection>.item:nth-of-type(4n - 3)>.image {
// 		transform       : translateX(-50vh);
// 		transition-delay: .15s;
// 	}

// 	>.scrollsection>.item>.image.-active {
// 		transform     : translateX(0) translateY(0) scale(1);
// 		opacity       : .8;
// 		pointer-events: auto;
// 		transition    : filter .3s ease,
// 			opacity 1s ease,
// 			transform 1s ease;
// 	}

// 	>.scrollsection>.item>.image.-active:hover {
// 		height  : 100%;
// 		width   : 100%;
// 		position: absolute;
// 		top     : 0;
// 		left    : 0;
// 		filter  : grayscale(0);
// 		opacity : 1;
// 		cursor  : pointer;
// 	}

// }