+include-style('instagram-section')
+include-script('instagram-section')
.instagram-section.fhd-container
	.container
		.instagram-section__inner
			.instagram-section__left
				.instagram-section__title.fz-54 Подпишитесь
				.instagram-section__subtitle
					span на наш инстаграм
					span.inst-text
						+lazy-img({
							img: '/images/instagram-icon.svg',
							placeholder: pixel,
						})
						span pulsar.guru
			.instagram-section__right
				a(href="#").btn.btn--primary.btn--dark.btn--inst Подписаться
	+swiper({
		container_mod: '',
		wrapper_mod: '',
		navigation: true,
		pagination: true,
	}).instagram-slider.js-slider-instagram
		.swiper-slide
			+lazy-img-slider({
				img: '/images/instagram-1.jpg',
				placeholder: pixel
			})
		.swiper-slide
			+lazy-img-slider({
				img: '/images/instagram-2.jpg',
				placeholder: pixel
			})
		.swiper-slide
			+lazy-img-slider({
				img: '/images/instagram-3.jpg',
				placeholder: pixel
			})
		.swiper-slide
			+lazy-img-slider({
				img: '/images/instagram-4.jpg',
				placeholder: pixel
			})
		.swiper-slide
			+lazy-img-slider({
				img: '/images/instagram-1.jpg',
				placeholder: pixel
			})
		.swiper-slide
			+lazy-img-slider({
				img: '/images/instagram-2.jpg',
				placeholder: pixel
			})

