@import "src/assets/css/vars_mixins/vars_mixins";


.index {
	.instagram-section {
		background-color: #EEF2F3;
		padding-top     : 120px;
		padding-bottom  : 90px;
		margin-top      : 0px;
		margin-bottom   : 0px;

		@media (max-width: $md - 1) {
			padding-bottom: 150px;
		}

		@media (max-width: $sm - 1) {
			padding-top: 98px;
		}

		.instagram-section__right {
			@media (max-width: $md - 1) {
				top    : auto;
				bottom : 46px;
				z-index: 1;
			}
		}
	}
}

.instagram-section {
	margin-top    : 120px;
	padding-bottom: 30px;
	margin-bottom : 20px;
	position      : relative;

	@media (max-width: $lg - 1) {
		// background-color: #EEF2F3;
	}

	@media (max-width: $md - 1) {
		margin-bottom: 100px;
	}

	@media (max-width: $sm - 1) {
		margin-top: 98px;
	}

	&__inner {
		display        : flex;
		align-items    : center;
		justify-content: space-between;
		margin-bottom  : 40px;

	}

	&__left {
		@media (max-width: $sm - 1) {
			display        : flex;
			flex-direction : column;
			align-items    : center;
			justify-content: center;
			width          : 100%;
		}
	}

	&__title {
		font-family: $f-thir;
	}

	&__subtitle {
		font-family: $f-sec;
		margin-top : -10px;
		font-size  : 40px;
		display    : flex;
		align-items: center;

		.lazy-img-wrap {
			padding      : 0px 15px;
			padding-right: 6px;
			transform    : translateY(3px);

			@media (max-width: $sm - 1) {
				transform   : translateY(0px);
				padding-left: 0px;
			}
		}

		@media (max-width: $sm - 1) {
			font-size     : 28px;
			flex-direction: column;
			margin-top    : -5px;
		}

		.inst-text {
			display: flex;

			@media (max-width: $sm - 1) {
				margin-top: -5px;
			}
		}
	}

	&__right {
		margin-right: 143px;

		@media (max-width: $md - 1) {
			margin-right: 0px;
			position    : absolute;
			top         : calc(100% + 30px);
			left        : 50%;
			transform   : translateX(-50%);
			z-index     : 1;
		}
	}
}

.instagram-slider {


	.swiper-slide {
		width : 305px;
		height: 305px;

		@media (max-width: $sm - 1) {
			width : 190px;
			height: 190px;
		}
	}

	.swiper-pagination {
		position: absolute;
		top     : calc(100% + 28px);
	}



	.swiper-pagination-bullet {
		&:after {
			background-color: #D2D2D2;

		}

	}

	.swiper-pagination-bullet-active {
		&:after {
			background-color: $c-primary-2;

		}

	}

	.swiper-navigation {
		position: absolute;
		bottom  : calc(100% + 69px);
		right   : calc((100% - 1360px) / 2);

		@media (max-width: $xl - 1) {
			right: calc((100% - 1168px) / 2);
		}

		@media (max-width: $lg - 1) {
			right: calc((100% - 992px) / 2);
		}

		@media (max-width: $md - 1) {
			display: none;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		border: 1px solid rgba(35, 31, 32, 0.2);
	}
}