+include-style('line-help')
.line-help
	+lazy-img({
		wrap_mod: 'line-help__img-wrap',
		img: '/images/about-thanks-bg.jpg',
		placeholder: pixel
	})
	.container
		.line-help__inner
			.line-help__title Сложно выбрать? Пишите — поможем!
			.line-help__control
				+get-in-touch()