@import "src/assets/css/vars_mixins/vars_mixins";

.line-help {
	height       : 367px;
	position     : relative;



	&__img-wrap {
		position: absolute;
		top     : 0;
		bottom  : 0;
		left    : 0;
		right   : 0;
		z-index : -1;

		img {
			width     : 100%;
			height    : 100%;
			object-fit: cover;
			object-position: center bottom;

			@media (max-width: $sm - 1) {
				object-position: calc(50% + 16px) -67px;
			}
		}
	}



	&__title {
		font-size    : 40px;
		line-height  : 38px;
		font-weight  : 700;
		font-family  : $f-sec;
		text-align   : center;
		margin       : auto;
		padding-top  : 160px;
		margin-bottom: 30px;

		@media (max-width: $sm - 1) {
			padding-top: 148px;
			font-size    : 28px;
			line-height  : 28px;
			margin-bottom: 26px;
			max-width: 230px;
		}
	}

	&__control {
		position       : relative;
		z-index        : 2;
		display        : flex;
		justify-content: center;

		.get-in-touch {
			border-color: inherit;

			&:hover {
				@media (min-width: 1024px) {
					cursor: pointer;
					border-color: $c-primary-2;
				}
			}
		}

		.get-in-touch__title {
			color: inherit;
		}

		.icon {
			fill: inherit;
		}
	}


}